<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <!--<add name="Main" connectionString="Host=192.168.3.68;Port=5432;Username=cipjs_kad_ozenka;Password=cipjs_kad_ozenka;Database=cipjs_kad_ozenka;CommandTimeout=0;Keepalive=30;enlist=true;" providerName="Npgsql"/>-->
    <add name="Main" connectionString="Host=localhost;Port=5450;Username=postgres;Password=miomo_dev;Database=postgres;CommandTimeout=0;Keepalive=30;enlist=true;" providerName="Npgsql"/>
  </connectionStrings>
  <appSettings>
    
    <add key="CoreConfigDeployKey" value="Dev" />
    <add key="CipjsGenerate" value="true" />
    <add key="ProviderName" value="Npgsql" />
    <!--<add key="ConnectionString" value="Host=192.168.3.68;Port=5432;Username=cipjs_kad_ozenka;Password=cipjs_kad_ozenka;Database=cipjs_kad_ozenka;CommandTimeout=0;Keepalive=30;enlist=true;" />-->
    <add key="ConnectionString" value="Host=localhost;Port=5450;Username=postgres;Password=miomo_dev;Database=postgres;CommandTimeout=0;Keepalive=30;enlist=true;" />
    <add key="Filter" value="r.registerid in (100, 101, 105, 113)" />
    <add key="FilterReference" value="r.name not like 'Core.%'" />
    
    <add key="CoreConfigRootDirectory" value="..\..\..\..\..\Source\EmbeddedResource\Config" />
    <add key="Path" value="..\..\..\..\..\Source\MarketPlaceBusiness\ORM\" />
    
  </appSettings>
</configuration>