<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <appSettings>
		
		<add key="CoreConfigDeployKey" value="Dev" />
		<add key="StartLongProcessService" value="false" />
		<add key="CoreConfigDeployKeyAdditional" value="" />
		<add key="CoreFileLoggerName" value="C:\logs\errors.log" />
		
		<add key="isCapcha_Cian" value="return document.body.contains(document.querySelector('div[id=captcha]'));"/>
		<add key="priceExists_Cian" value="return document.body.contains(document.querySelector('span[itemprop=price]'));"/>
		<add key="hightPriceExists_Cian" value="return document.body.contains(document.querySelector('span[itemprop=highPrice]'));"/>
		<add key="tradePrice_Cian" value="return document.body.contains(document.querySelector('span[class=price-container-auction]'));"/>
		<add key="isDeleted_Cian" value="return document.body.contains(document.querySelector('h5[class^=error-code]'));"/>
		<add key="isUnPublished_Cian" value="return document.body.contains(document.querySelector('div[data-name=OfferUnpublished]'));"/>
		<add key="getHightPrice_Cian" value="return document.querySelector('span[itemprop=highPrice]').innerText.match(/\d/g).join('');"/>
		<add key="getPrice_Cian" value="return document.querySelector('span[itemprop=price]').innerText.match(/\d/g).join('');"/>
		
		<add key="isCapcha_YandexProperty" value="return document.body.contains(document.querySelector('div[class*=captcha-wrapper]'));"/>
		<add key="priceExists_YandexProperty" value="return document.body.contains(document.querySelector('div[class=Price]'));"/>
		<add key="hightPriceExists_YandexProperty" value="return false;"/>
		<add key="tradePrice_YandexProperty" value="return false;"/>
		<add key="isDeleted_YandexProperty" value="return document.body.contains(document.querySelector('h1[class=Page404Info__title]'));"/>
		<add key="isUnPublished_YandexProperty" value="return document.body.contains(document.querySelector('span[class=OfferInactiveBanner__title]'));"/>
		<add key="getPrice_YandexProperty" value="return document.querySelector('div[class=Price]').innerText.match(/\d/g).join('');"/>
	
	</appSettings>

	<connectionStrings>
		<add name="Main" connectionString="Host=192.168.3.68;Port=5432;Username=cipjs_kad_ozenka;Password=cipjs_kad_ozenka;Database=cipjs_kad_ozenka;CommandTimeout=0;Keepalive=30;enlist=true;" providerName="Npgsql"/>
	</connectionStrings>
</configuration>