@using ObjectModel.Gbu

<div class="rvs-control-data" data-width="420" data-height="600">
	<div class="form-group">
		@(Html.Kendo().TreeList<OMKadastrKvartal>().Name("treeList")
			.Columns(columns => columns.Add().Field(e => e.KadastrKvartal).HeaderTemplate("Кадастровый квартал"))
			.DataSource(source => source.Read("AllCadastralsQuarters", "CustomSearch")
				.ServerOperation(false)
				.Model(m =>
				{
					m.Id(f => f.Id);
					m.ParentId(f => f.ParentId);
					m.Expanded(false);
					m.Field(f => f.KadastrKvartal);
				}))
			.Height(400)
			.Pageable(false)
			.Sortable(false)
			.Selectable(s => s.Type(TreeListSelectionType.Row).Mode(TreeListSelectionMode.Multiple))
			.Filterable(true)
			.Messages(m => m.Loading("Загрузка кварталов").NoRows("Не найдено"))
			.Events(ev => ev.DataBound("(e) => {setSelectedRow(e)}")))
	</div>
</div>

<script type="text/javascript">

	var initValue = [];

	function setSelectedRow() {
		console.log('initValue', initValue);
		// пока логика только для работы с 1 выбраным элементом
		if (Array.isArray(initValue) && initValue.length > 0) {
			var ddl = $("#treeList").data("kendoTreeList");
			if (ddl) {
				//находим элемент по кад кварталу
				var el = ddl.dataSource.data().filter(function (el) { return el['KadastrKvartal'] === initValue[0]})[0] || {Id: 0};

				// получаем строку из трей листа
				var row = ddl.itemFor(el);
				ddl.select(row);

				var parentNode = ddl.dataSource.parentNode(el);
				if (parentNode) {
					var trRow = ddl.content.find("tr[data-uid=" + parentNode.uid + "]");
					ddl.expand(trRow);

				}
			}
		}
	}
	
	function csc_initSearchControl() { }

	function csc_getText() {
		var ddl = $("#treeList").data("kendoTreeList");
		var row = ddl.select();
		var number = '';
		if(row.length > 0){
			var data = ddl.dataItem(row);
			number = data.KadastrKvartal;
		}
		return number ? number: undefined;
	}

	function csc_setSearchControlValue(value) {
		if (value) {
			initValue = typeof value === 'string' ? [value] : value;
		}
	}

	function csc_clearValue() {
	}

	function csc_getSearchControlValue() {
		var ddl = $("#treeList").data("kendoTreeList");
		var row = ddl.select();
		var number = '';
		if (row.length > 0) {
			var data = ddl.dataItem(row);
			//number.push(data.KadastrKvartal);
			number = data.KadastrKvartal;

		}
		return number;
	}
</script>