@using CIPJS.Controllers
@using Microsoft.AspNetCore.Http

@model CIPJS.Views.DataExport.ExportModel

@{
    ViewData["Title"] = "Конфигуратор экспорта";
}

    <div class="col-md-12" id="configuratorForm">
        <div class="form-group">
            <div class="col-md-10 col-md-offset-1">
                <h4>Конфигуратор экспорта</h4>
                <button id="exportButton" class="k-button">Запустить экспорт</button>
            </div>
            <div class="col-md-10 col-md-offset-1">
                <div id="treeview"></div>
            </div>

            @*<div style="padding-top: 2em;">
                <h4>Status</h4>
                <p id="result">No nodes checked.</p>
            </div>*@
        </div>
    </div>

<script>
    $("#treeview").kendoTreeView({
        checkboxes: {
            checkChildren: true
        },

        check: onCheck,

        // Кадастровые номера закомментированы, т.к. они не должны быть отключаемы, в самом экспорте кадастровые номера также явно включены
        dataSource: [{
                id: 10000, text: "Земельные участки", checked: true, items: [
                    //{ id: 101, text: "Кадастровый номер" },
                    { id: 102, text: "Вид объекта недвижимости" },
                    { id: 103, text: "Тип объекта недвижимости" },
                    { id: 104, text: "Дата создания" },
                    { id: 105, text: "Номер кадастрового квартала" },
                    { id: 106, text: "Кадастровые номера объектов недвижимости, расположенных в пределах земельного участка" },
                    {
                        id: 11000, text: "Сведения о кадастровой стоимости", items: [
                            { id: 107, text: "Значение" },
                            { id: 108, text: "Дата определения кадастровой стоимости" },
                            { id: 109, text: "Дата внесения сведений о кадастровой стоимости в ЕГРН" },
                            { id: 110, text: "Дата акта об утверждении кадастровой стоимости" },
                            { id: 111, text: "Дата начала применения кадастровой стоимости" },
                            { id: 112, text: "Номер акта об утверждении кадастровой стоимости" },
                            { id: 113, text: "Наименование документа об утверждении кадастровой стоимости" },
                            { id: 114, text: "Дата утверждения кадастровой стоимости" },
                            { id: 115, text: "Дата подачи заявления о пересмотре кадастровой стоимости" }]
                    },
                    { id: 116, text: "Площадь в квадратных метрах" },
                    {
                        id: 12000, text: "Адрес (местоположение)", items: [
                            { id: 117, text: "КЛАДР" },
                            { id: 118, text: "Почтовый индекс" },
                            { id: 119, text: "Регион" },
                            { id: 120, text: "Неформализованное описание" },
                            { id: 121, text: "Иное" },
                            { id: 122, text: "Район" },
                            { id: 123, text: "Населенный пункт" },
                            { id: 124, text: "Муниципальное образование" },
                            { id: 125, text: "Городской район" },
                            { id: 126, text: "Улица" },
                            { id: 127, text: "Дом" },
                            { id: 128, text: "Корпус" },
                            { id: 129, text: "Строение" },
                            { id: 130, text: "Квартира" }]
                    },
                    {
                        id: 13000, text: "Наименование участка", items: [
                            { id: 131, text: "Код" },
                            { id: 132, text: "Значение" }]
                    },
                    {
                        id: 14000, text: "Категория земель", items: [
                            { id: 133, text: "Код" },
                            { id: 134, text: "Значение" }]
                    },
                    {
                        id: 15000, text: "Разрешенное использование участка", items: [
                            {
                                id: 15100, text: "Вид разрешенного использования в соответствии с ранее использовавшимся классификатором", items: [
                                    { id: 135, text: "Код" },
                                    { id: 136, text: "Значение" }]
                            },
                            {
                                id: 15200, text: "Вид разрешенного использования земельного участка в соответствии с классификатором, утвержденным приказом Минэкономразвития России от 01.09.2014 № 540", items: [
                                    { id: 137, text: "Код" },
                                    { id: 138, text: "Значение" }]
                            },
                            { id: 139, text: "Вид использования участка по документу" },
                            { id: 140, text: "Разрешенное использование (текстовое описание)" }]
                    },
                    {
                        id: 16000, text: "Сведения об ограничениях (обременениях) прав", items: [
                            { id: 141, text: "Содержание ограничения (обременения)" },
                            {
                                id: 16100, text: "Код по справочнику", items: [
                                    { id: 142, text: "Код" },
                                    { id: 143, text: "Значение" }]
                            },
                            { id: 144, text: "Реестровый номер границы зоны, территории" },
                            { id: 145, text: "Кадастровый номер ЗУ, в пользу которого установлен сервитут" },
                            { id: 146, text: "Площадь" },
                            {
                                id: 16200, text: "Государственная регистрация ограничения (обременения)", items: [
                                    { id: 147, text: "Номер" },
                                    { id: 148, text: "Дата" }]
                            },
                            {
                                id: 16300, text: "Реквизиты документа, на основании которого возникает ограничение (обременение)", items: [
                                    {
                                        id: 16310, text: "Код документа", items: [
                                            { id: 149, text: "Код" },
                                            { id: 150, text: "Значение" }]
                                    },
                                    { id: 151, text: "Наименование документа" },
                                    { id: 152, text: "Серия документа" },
                                    { id: 153, text: "Номер документа" },
                                    { id: 154, text: "Дата выдачи (подписания) документа" },
                                    { id: 155, text: "Организация, выдавшая документ. Автор документа" },
                                    { id: 156, text: "Особые отметки" }]
                            }]
                    },
                    {
                        id: 17000, text: "Сведения о расположении земельного участка в границах зоны или территории", items: [
                            { id: 157, text: "Наименование" },
                            { id: 158, text: "Вид или наименование по документу" },
                            { id: 159, text: "Реестровый номер границы" },
                            { id: 160, text: "Содержание ограничения" },
                            { id: 161, text: "Полностью входит в зону" },
                            {
                                id: 17100, text: "Реквизиты решения", items: [
                                    {
                                        id: 17110, text: "Код документа", items: [
                                            { id: 162, text: "Код" },
                                            { id: 163, text: "Значение" }]
                                    },
                                    { id: 164, text: "Наименование документа" },
                                    { id: 165, text: "Серия документа" },
                                    { id: 166, text: "Номер документа" },
                                    { id: 167, text: "Дата выдачи (подписания) документа" },
                                    { id: 168, text: "Организация, выдавшая документ. Автор документа" },
                                    { id: 169, text: "Особые отметки" }]
                            }]
                    },
                    {
                        id: 18000, text: "Сведения о результатах проведения государственного земельного надзора", items: [
                            { id: 170, text: "Наименование органа, проводившего мероприятие по государственному земельному надзору" },
                            {
                                id: 18100, text: "Мероприятие государственного земельного надзора по соблюдению требований законодательства (плановая, внеплановая проверка, административное обследование)", items: [
                                    { id: 171, text: "Код" },
                                    { id: 172, text: "Значение" }]
                            },
                            {
                                id: 18200, text: "Форма проведения плановой или внеплановой проверки", items: [
                                    { id: 173, text: "Код" },
                                    { id: 174, text: "Значение" }]
                            },
                            { id: 175, text: "Дата окончания проверки" },
                            { id: 176, text: "Наличие нарушения: правонарушение выявлено (1-true)/не выявлено (0-false)" },
                            {
                                id: 18300, text: "Выявленное правонарушение", items: [
                                    { id: 177, text: "Площадь (в кв. м)" },
                                    { id: 178, text: "Вид выявленного правонарушения" },
                                    { id: 179, text: "Признаки выявленного правонарушения" }]
                            },
                            {
                                id: 18400, text: "Реквизиты оформленных документов", items: [
                                    {
                                        id: 18410, text: "Код документа", items: [
                                            { id: 180, text: "Код" },
                                            { id: 181, text: "Значение" }]
                                    },
                                    { id: 182, text: "Наименование документа" },
                                    { id: 183, text: "Серия документа" },
                                    { id: 184, text: "Номер документа" },
                                    { id: 185, text: "Дата выдачи (подписания) документа" },
                                    { id: 186, text: "Организация, выдавшая документ. Автор документа" },
                                    { id: 187, text: "Особые отметки" }]
                            },
                            {
                                id: 18500, text: "Сведения об устранении выявленного нарушения", items: [
                                    { id: 188, text: "Отметка об устранении выявленного нарушения" },
                                    { id: 189, text: "Наименование органа, принявшего решение об устранении правонарушения" }]
                            },
                            {
                                id: 18600, text: "Реквизиты документа, содержащего сведения об устранении правонарушения", items: [
                                    {
                                        id: 18610, text: "Код документа", items: [
                                            { id: 190, text: "Код" },
                                            { id: 191, text: "Значение" }]
                                    },
                                    { id: 192, text: "Наименование документа" },
                                    { id: 193, text: "Серия документа" },
                                    { id: 194, text: "Номер документа" },
                                    { id: 195, text: "Дата выдачи (подписания) документа" },
                                    { id: 196, text: "Организация, выдавшая документ. Автор документа" },
                                    { id: 197, text: "Особые отметки" }]
                            }]
                    }]
            },
            {
                id: 20000, text: "Здания", checked: true, items: [
                    //{ id: 201, text: "Кадастровый номер" },
                    { id: 202, text: "Вид объекта недвижимости" },
                    { id: 203, text: "Тип объекта недвижимости" },
                    { id: 204, text: "Дата создания" },
                    { id: 205, text: "Номер кадастрового квартала" },
                    { id: 206, text: "Кадастровый номер земельного участка (земельных участков), в пределах которого (которых) расположен данный объект недвижимости" },
                    {
                        id: 21000, text: "Сведения о кадастровой стоимости", items: [
                            { id: 207, text: "Значение" },
                            { id: 208, text: "Дата определения кадастровой стоимости" },
                            { id: 209, text: "Дата внесения сведений о кадастровой стоимости в ЕГРН" },
                            { id: 210, text: "Дата акта об утверждении кадастровой стоимости" },
                            { id: 211, text: "Дата начала применения кадастровой стоимости" },
                            { id: 212, text: "Номер акта об утверждении кадастровой стоимости" },
                            { id: 213, text: "Наименование документа об утверждении кадастровой стоимости" },
                            { id: 214, text: "Дата утверждения кадастровой стоимости" },
                            { id: 215, text: "Дата подачи заявления о пересмотре кадастровой стоимости" }]
                    },
                    { id: 216, text: "Площадь в квадратных метрах" },
                    {
                        id: 22000, text: "Адрес (местоположение)", items: [
                            { id: 217, text: "КЛАДР" },
                            { id: 218, text: "Почтовый индекс" },
                            { id: 219, text: "Регион" },
                            { id: 220, text: "Неформализованное описание" },
                            { id: 221, text: "Иное" },
                            { id: 222, text: "Район" },
                            { id: 223, text: "Населенный пункт" },
                            { id: 224, text: "Муниципальное образование" },
                            { id: 225, text: "Городской район" },
                            { id: 226, text: "Улица" },
                            { id: 227, text: "Дом" },
                            { id: 228, text: "Корпус" },
                            { id: 229, text: "Строение" },
                            { id: 230, text: "Квартира" }]
                    },
                    {
                        id: 23000, text: "Назначение здания", items: [
                            { id: 231, text: "Код" },
                            { id: 232, text: "Значение" }]
                    },
                    {
                        id: 24000, text: "Количество этажей (в том числе подземных)", items: [
                            { id: 233, text: "Количество этажей" },
                            { id: 234, text: "В том числе подземных этажей" }]
                    },
                    {
                        id: 25000, text: "Эксплуатационные характеристики", items: [
                            { id: 235, text: "Год завершения строительства" },
                            { id: 236, text: "Год ввода в эксплуатацию по завершении строительства" }]
                    },
                    { id: 237, text: "Наименование ОКС" },
                    {
                        id: 26000, text: "Материал наружных стен здания", items: [
                            { id: 238, text: "Код" },
                            { id: 239, text: "Значение" }]
                    }]
            },
            {
                id: 30000, text: "Строения", checked: true, items: [
                    //{ id: 301, text: "Кадастровый номер" },
                    { id: 302, text: "Вид объекта недвижимости" },
                    { id: 303, text: "Тип объекта недвижимости" },
                    { id: 304, text: "Дата создания" },
                    { id: 305, text: "Номер кадастрового квартала" },
                    { id: 306, text: "Кадастровый номер земельного участка (земельных участков), в пределах которого (которых) расположен данный объект недвижимости" },
                    {
                        id: 31000, text: "Сведения о кадастровой стоимости", items: [
                            { id: 307, text: "Значение" },
                            { id: 308, text: "Дата определения кадастровой стоимости" },
                            { id: 309, text: "Дата внесения сведений о кадастровой стоимости в ЕГРН" },
                            { id: 310, text: "Дата акта об утверждении кадастровой стоимости" },
                            { id: 311, text: "Дата начала применения кадастровой стоимости" },
                            { id: 312, text: "Номер акта об утверждении кадастровой стоимости" },
                            { id: 313, text: "Наименование документа об утверждении кадастровой стоимости" },
                            { id: 314, text: "Дата утверждения кадастровой стоимости" },
                            { id: 315, text: "Дата подачи заявления о пересмотре кадастровой стоимости" }]
                    },
                    {
                        id: 32000, text: "Адрес (местоположение)", items: [
                            { id: 316, text: "КЛАДР" },
                            { id: 317, text: "Почтовый индекс" },
                            { id: 318, text: "Регион" },
                            { id: 319, text: "Неформализованное описание" },
                            { id: 320, text: "Иное" },
                            { id: 321, text: "Район" },
                            { id: 322, text: "Населенный пункт" },
                            { id: 323, text: "Муниципальное образование" },
                            { id: 324, text: "Городской район" },
                            { id: 325, text: "Улица" },
                            { id: 326, text: "Дом" },
                            { id: 327, text: "Корпус" },
                            { id: 328, text: "Строение" },
                            { id: 329, text: "Квартира" }]
                    },
                    { id: 330, text: "Назначение (сооружение, онс)" },
                    {
                        id: 33000, text: "Количество этажей (в том числе подземных)", items: [
                            { id: 331, text: "Количество этажей" },
                            { id: 332, text: "В том числе подземных этажей" }]
                    },
                    {
                        id: 34000, text: "Эксплуатационные характеристики", items: [
                            { id: 333, text: "Год завершения строительства" },
                            { id: 334, text: "Год ввода в эксплуатацию по завершении строительства" }]
                    },
                    { id: 335, text: "Наименование ОКС" },
                    {
                        id: 35000, text: "Основные характеристики и их значения", items: [
                            { id: 336, text: "Код" },
                            { id: 337, text: "Название" },
                            { id: 338, text: "Значение" }]
                    }]
            },
            {
                id: 40000, text: "Недостроенные объекты", checked: true, items: [
                    //{ id: 401, text: "Кадастровый номер" },
                    { id: 402, text: "Вид объекта недвижимости" },
                    { id: 403, text: "Тип объекта недвижимости" },
                    { id: 404, text: "Дата создания" },
                    { id: 405, text: "Номер кадастрового квартала" },
                    { id: 406, text: "Кадастровый номер земельного участка (земельных участков), в пределах которого (которых) расположен данный объект недвижимости" },
                    {
                        id: 41000, text: "Сведения о кадастровой стоимости ", items: [
                            { id: 407, text: "Значение" },
                            { id: 408, text: "Дата определения кадастровой стоимости" },
                            { id: 409, text: "Дата внесения сведений о кадастровой стоимости в ЕГРН" },
                            { id: 410, text: "Дата акта об утверждении кадастровой стоимости" },
                            { id: 411, text: "Дата начала применения кадастровой стоимости" },
                            { id: 412, text: "Номер акта об утверждении кадастровой стоимости" },
                            { id: 413, text: "Наименование документа об утверждении кадастровой стоимости" },
                            { id: 414, text: "Дата утверждения кадастровой стоимости" },
                            { id: 415, text: "Дата подачи заявления о пересмотре кадастровой стоимости" }
                        ]
                    },
                    {
                        id: 42000, text: "Адрес (местоположение) ", items: [
                            { id: 416, text: "КЛАДР" },
                            { id: 417, text: "Почтовый индекс" },
                            { id: 418, text: "Регион" },
                            { id: 419, text: "Неформализованное описание" },
                            { id: 420, text: "Иное" },
                            { id: 421, text: "Район" },
                            { id: 422, text: "Населенный пункт" },
                            { id: 423, text: "Муниципальное образование" },
                            { id: 424, text: "Городской район" },
                            { id: 425, text: "Улица" },
                            { id: 426, text: "Дом" },
                            { id: 427, text: "Корпус" },
                            { id: 428, text: "Строение" },
                            { id: 429, text: "Квартира" }]
                    },
                    { id: 430, text: "Назначение" },
                    { id: 431, text: "Степень готовности в процентах" },
                    {
                        id: 43000, text: "Основные характеристики и их значения ", items: [
                            { id: 432, text: "Код" },
                            { id: 433, text: "Название" },
                            { id: 434, text: "Значение" }]
                    }]
            },
            {
                id: 50000, text: "Комнаты", checked: true, items: [
                    //{ id: 501, text: "Кадастровый номер" },
                    { id: 502, text: "Вид объекта недвижимости" },
                    { id: 503, text: "Тип объекта недвижимости" },
                    { id: 504, text: "Дата создания" },
                    { id: 505, text: "Номер кадастрового квартала" },
                    { id: 506, text: "Кадастровый номер квартиры, в которой расположена комната" },
                    {
                        id: 51000, text: "Сведения о кадастровой стоимости ", items: [
                            { id: 507, text: "Значение" },
                            { id: 508, text: "Дата определения кадастровой стоимости" },
                            { id: 509, text: "Дата внесения сведений о кадастровой стоимости в ЕГРН" },
                            { id: 510, text: "Дата акта об утверждении кадастровой стоимости" },
                            { id: 511, text: "Дата начала применения кадастровой стоимости" },
                            { id: 512, text: "Номер акта об утверждении кадастровой стоимости" },
                            { id: 513, text: "Наименование документа об утверждении кадастровой стоимости" },
                            { id: 514, text: "Дата утверждения кадастровой стоимости" },
                            { id: 515, text: "Дата подачи заявления о пересмотре кадастровой стоимости" }]
                    },
                    { id: 516, text: "Площадь в квадратных метрах" },
                    {
                        id: 52000, text: "Адрес (местоположение) ", items: [
                            { id: 517, text: "КЛАДР" },
                            { id: 518, text: "Почтовый индекс" },
                            { id: 519, text: "Регион" },
                            { id: 520, text: "Неформализованное описание" },
                            { id: 521, text: "Иное" },
                            { id: 522, text: "Район" },
                            { id: 523, text: "Населенный пункт" },
                            { id: 524, text: "Муниципальное образование" },
                            { id: 525, text: "Городской район" },
                            { id: 526, text: "Улица" },
                            { id: 527, text: "Дом" },
                            { id: 528, text: "Корпус" },
                            { id: 529, text: "Строение" },
                            { id: 530, text: "Квартира" }
                        ]
                    },
                    {
                        id: 53000, text: "Назначение помещения ", items: [
                            { id: 531, text: "Код" },
                            { id: 532, text: "Значение" }]
                    },
                    {
                        id: 54000, text: "Вид помещения ", items: [
                            { id: 533, text: "Код" },
                            { id: 534, text: "Значение" }]
                    },
                    { id: 535, text: "Наименование" },
                    {
                        id: 55000, text: "Местоположение в объекте недвижимости ", items: [
                            {
                                id: 55100, text: "Уровень (этаж) ", items: [
                                    { id: 536, text: "Код" },
                                    { id: 537, text: "Название" },
                                    { id: 538, text: "Значение" }]
                            },
                            { id: 539, text: "Номер на плане" }]
                    },
                    { id: 540, text: "Кадастровый номер здания или сооружения, в котором расположено помещение" },
                    {
                        id: 56000, text: "Количество этажей (в том числе подземных) ", items: [
                            { id: 541, text: "Количество этажей" },
                            { id: 542, text: "В том числе подземных этажей" }]
                    },
                    {
                        id: 57000, text: "Эксплуатационные характеристики ", items: [
                            { id: 543, text: "Год завершения строительства" },
                            { id: 544, text: "Год ввода в эксплуатацию по завершении строительства" }]
                    },
                    {
                        id: 58000, text: "Назначение здания ", items: [
                            { id: 545, text: "Код" },
                            { id: 546, text: "Значение" }]
                    },
                    { id: 547, text: "Назначение (сооружение, онс)" },
                    {
                        id: 59000, text: "Материал наружных стен здания ", items: [
                            { id: 548, text: "Код" },
                            { id: 549, text: "Значение" }]
                    }]
            },
            {
                id: 60000, text: "Парковки", checked: true, items: [
                    //{ id: 601, text: "Кадастровый номер" },
                    { id: 602, text: "Вид объекта недвижимости" },
                    { id: 603, text: "Тип объекта недвижимости" },
                    { id: 604, text: "Дата создания" },
                    { id: 605, text: "Номер кадастрового квартала" },
                    {
                        id: 61000, text: "Сведения о кадастровой стоимости ", items: [
                            { id: 606, text: "Значение" },
                            { id: 607, text: "Дата определения кадастровой стоимости" },
                            { id: 608, text: "Дата внесения сведений о кадастровой стоимости в ЕГРН" },
                            { id: 609, text: "Дата акта об утверждении кадастровой стоимости" },
                            { id: 610, text: "Дата начала применения кадастровой стоимости" },
                            { id: 611, text: "Номер акта об утверждении кадастровой стоимости" },
                            { id: 612, text: "Наименование документа об утверждении кадастровой стоимости" },
                            { id: 613, text: "Дата утверждения кадастровой стоимости" },
                            { id: 614, text: "Дата подачи заявления о пересмотре кадастровой стоимости" }]
                    },
                    { id: 615, text: "Площадь в квадратных метрах" },
                    {
                        id: 62000, text: "Адрес (местоположение) ", items: [
                            { id: 616, text: "КЛАДР" },
                            { id: 617, text: "Почтовый индекс" },
                            { id: 618, text: "Регион" },
                            { id: 619, text: "Неформализованное описание" },
                            { id: 620, text: "Иное" },
                            { id: 621, text: "Район" },
                            { id: 622, text: "Населенный пункт" },
                            { id: 623, text: "Муниципальное образование" },
                            { id: 624, text: "Городской район" },
                            { id: 625, text: "Улица" },
                            { id: 626, text: "Дом" },
                            { id: 627, text: "Корпус" },
                            { id: 628, text: "Строение" },
                            { id: 629, text: "Квартира" }]
                    },
                    {
                        id: 63000, text: "Местоположение в объекте недвижимости ", items: [
                            {
                                id: 63100, text: "Уровень (этаж) ", items: [
                                    { id: 630, text: "Код" },
                                    { id: 631, text: "Название" },
                                    { id: 632, text: "Значение" }]
                            },
                            { id: 633, text: "Номер на плане" }]
                    },
                    { id: 634, text: "Кадастровый номер здания или сооружения, в котором расположено помещение" },
                    {
                        id: 64000, text: "Количество этажей (в том числе подземных) ", items: [
                            { id: 635, text: "Количество этажей" },
                            { id: 636, text: "В том числе подземных этажей" }]
                    },
                    {
                        id: 65000, text: "Эксплуатационные характеристики ", items: [
                            { id: 637, text: "Год завершения строительства" },
                            { id: 638, text: "Год ввода в эксплуатацию по завершении строительства" }]
                    },
                    {
                        id: 66000, text: "Назначение здания ", items: [
                            { id: 639, text: "Код" },
                            { id: 640, text: "Значение" }]
                    },
                    { id: 641, text: "Назначение (сооружение, онс)" },
                    {
                        id: 67000, text: "Материал наружных стен здания ", items: [
                            { id: 642, text: "Код" },
                            { id: 643, text: "Значение" }]
                    }]
            }]
    });

    $("#exportButton").kendoButton({
        enable: true,
        click: function (e, sender) {
            var button = $(e.event.target).data('kendoButton');
            button.enable(false);
            var urlParams = new URLSearchParams(window.location.search);
            var taskId = parseInt(urlParams.get('TaskId'));
            console.log(taskId);
            var checkedNodes = [],
                treeView = $("#treeview").data("kendoTreeView");
            checkedNodeIds(treeView.dataSource.view(), checkedNodes);
            $.ajax({
                type: 'POST',
                url: '/GknXmlToExcel/Convert',
                data: { id: taskId, config: checkedNodes },
                success: function () {
                    Common.ShowMessage('Задача поставлена в очередь обработки');
                },
                error: function (response) {
                    Common.ShowError(response.responseText);
                },
                complete: function () {
                    button.enable(true);
                }
            });
        }
    });

    function checkedNodeIds(nodes, checkedNodes) {
        for (var i = 0; i < nodes.length; i++) {
            if (nodes[i].checked) {
                checkedNodes.push(nodes[i].id);
            }

            if (nodes[i].hasChildren) {
                checkedNodeIds(nodes[i].children.view(), checkedNodes);
            }
        }
    }

    function onCheck() {
        var checkedNodes = [],
            treeView = $("#treeview").data("kendoTreeView");

        checkedNodeIds(treeView.dataSource.view(), checkedNodes);

        if (checkedNodes.length > 0) {
            var columns = checkedNodes.filter(function(key) { return key < 1000; });
        }
    }
</script>

<style>
    .k-checkbox-label:before{
        top: -5px;
        width: 20px;
        height: 20px;
        padding-top: 0px;
        line-height: 20px;
    }
    .k-checkbox:indeterminate + .k-checkbox-label:after {
        width: 16px;
        height: 16px;
        top: 6px;
        left: 11px;
        border-style: none;
    }
</style>
