@using CIPJS.Controllers
@using Microsoft.AspNetCore.Http

@model CIPJS.Views.DataExport.ExportModel

@{
    ViewData["Title"] = "Конфигуратор экспорта";
}

    <div class="col-md-12" id="configuratorForm">
        <div class="form-group">
            <div class="col-md-10 col-md-offset-1">
                <h4>Конфигуратор экспорта</h4>
                <button id="exportButton" class="k-button">Запустить экспорт</button>
            </div>
            <div class="col-md-10 col-md-offset-1">
                <div id="treeview"></div>
            </div>

            @*<div style="padding-top: 2em;">
                <h4>Status</h4>
                <p id="result">No nodes checked.</p>
            </div>*@
        </div>
    </div>

<script>
    $("#treeview").kendoTreeView({
        checkboxes: {
            checkChildren: true
        },

        check: onCheck,

        // Кадастровые номера закомментированы, т.к. они не должны быть отключаемы, в самом экспорте кадастровые номера также явно включены
        dataSource: [{
                id: 10000, text: "Земельные участки", checked: true, items: [
                    //{ id: 101, text: "Кадастровый номер" },
                    { id: 1, text: "Кадастровый номер"},
                    { id: 2, text: "Вид объекта недвижимости"},
                    { id: 3, text: "Тип объекта недвижимости"},
                    { id: 4, text: "Дата присвоения кадастрового номера"},
                    { id: 5, text: "Номер кадастрового квартала"},
                    { text: "Сведения о кадастровой стоимости", items: [
                        { id: 6, text: "Значение"},
                        { id: 7, text: "Дата определения кадастровой стоимости"},
                        { id: 8, text: "Дата внесения сведений о кадастровой стоимости в ЕГРН"},
                        { id: 9, text: "Дата утверждения кадастровой стоимости"},
                        { id: 10, text: "Номер акта об утверждении кадастровой стоимости"},
                        { id: 11, text: "Дата акта об утверждении кадастровой стоимости"},
                        { id: 12, text: "Дата начала применения кадастровой стоимости"},
                        { id: 13, text: "Дата подачи заявления о пересмотре кадастровой стоимости"},
                        { id: 14, text: "В соответствии с Федеральным законом от 3 июля 2016 г. N 360-ФЗ \"О внесении изменений в отдельные законодательные акты Российской Федерации\" применяется с"},
                        { id: 15, text: "Наименование документа об утверждении кадастровой стоимости"}
                        ]},
                    { text: "Адрес (местоположение)", items: [
                        { id: 16, text: "Адресная строка"},
                        { id: 17, text: "Уникальный номер адресообразующего элемента в государственном адресном реестре"},
                        { id: 18, text: "ОКАТО"},
                        { id: 19, text: "КЛАДР"},
                        { id: 20, text: "OKTMO"},
                        { id: 21, text: "Почтовый индекс"},
                        { id: 22, text: "Российская Федерация"},
                        { id: 23, text: "Регион"},
                        { id: 24, text: "Неформализованное описание"},
                        { id: 25, text: "Иное"},
                        { id: 26, text: "Признак, позволяющий отличить присвоенный в установленном порядке адрес объекта недвижимости и местоположение объекта недвижимости"},
                        { id: 27, text: "Район"},
                        { id: 28, text: "Муниципальное образование"},
                        { id: 29, text: "Городской район"},
                        { id: 30, text: "Сельсовет"},
                        { id: 31, text: "Населенный пункт"},
                        { id: 32, text: "Элемент планировочной структуры"},
                        { id: 33, text: "Улица"},
                        { id: 34, text: "Дом"},
                        { id: 35, text: "Корпус"},
                        { id: 36, text: "Строение"},
                        { id: 37, text: "Квартира"},
                        { id: 38, text: "В границах"},
                        { id: 39, text: "Положение на ДКК"},
                        { text: "Уточнение местоположения", items: [
                            { id: 40, text: "Наименование ориентира"},
                            { id: 41, text: "Расстояние"},
                            { id: 42, text: "Направление"}
                            ]}
                        ]},
                    { id: 43, text: "Дата оценки"},
                    { id: 44, text: "Площадь"},
                    { id: 45, text: "Кадастровые номера объектов недвижимости, расположенных в пределах земельного участка"},
                    { id: 46, text: "Площадь в квадратных метрах"},
                    { id: 47, text: "Погрешность измерения"},
                    { text: "Наименование участка", items: [
                        { id: 48, text: "Значение"},
                        { id: 49, text: "Код"}
                        ]},
                    { text: "Категория земель", items: [
                        { id: 50, text: "Значение"},
                        { id: 51, text: "Код"}
                        ]},
                    { text: "Разрешенное использование участка", items: [
                        { text: "Вид разрешенного использования в соответствии с ранее использовавшимся классификатором", items: [
                            { id: 52, text: "Значение"},
                            { id: 53, text: "Код"}
                            ]},
                            { text: "Вид разрешенного использования земельного участка в соответствии с классификатором, утвержденным приказом Минэкономразвития России от 01.09.2014 № 540", items: [
                            { id: 54, text: "Значение"},
                            { id: 55, text: "Код"}
                            ]},
                        { id: 56, text: "Вид использования участка по документу"},
                        { id: 57, text: "Разрешенное использование (текстовое описание)"}
                        ]},
                    { text: "Сведения о природных объектах", items: [
                        { text: "Вид объекта", items: [
                            {  id: 58, text: "Значение"},
                            { id: 59, text: "Код"}
                            ]},
                        { id: 60, text: "Наименование лесничества (лесопарка), участкового лесничества"},
                        { text: "Целевое назначение (категория) лесов", items: [
                            { id: 61, text: "Значение"},
                            { id: 62, text: "Код"}
                            ]},
                        { id: 63, text: "Номера лесных кварталов"},
                        { id: 64, text: "Номера лесотаксационных выделов"},
                        {  text: "Категория защитных лесов", items: [
                            { id: 65, text: "Значение"},
                            { id: 66, text: "Код"}
                            ]},
                        {  text: "Виды разрешенного использования лесов", items: [
                            { id: 67, text: "Значение"},
                            { id: 68, text: "Код"}
                            ]},
                        { id: 69, text: "Вид водного объекта"},
                        { id: 70, text: "Наименование водного объекта, иного природного объекта"},
                        { id: 71, text: "Характеристика иного природного объекта"}
                        ]},
                    { text: "Сведения о частях участка", items: [
                        { id: 72, text: "Площадь в квадратных метрах"},
                        { id: 73, text: "Погрешность измерения"},
                        { text: "Сведения об ограничениях (обременениях)", items: [
                            {  id: 74,text: "Содержание ограничения (обременения)"},
                            {  text: "Код по справочнику", items: [
                                { id: 75, text: "Значение"},
                                { id: 76, text: "Код"}
                                ]},
                            { text: "Государственная регистрация ограничения (обременения)", items: [
                                { id: 77,text: "Номер"},
                                { id: 78, text: "Дата"}
                                ]},
                            {  text: "Реквизиты документа, на основании которого возникает ограничение (обременение)", items: [
                                { text: "Код документа", items: [
                                    { id: 79, text: "Значение"},
                                    { id: 80, text: "Код"}
                                    ]},
                                { id: 81, text: "Наименование документа"},
                                { id: 82, text: "Серия документа"},
                                { id: 83, text: "Номер документа"},
                                { id: 84, text: "Дата выдачи (подписания) документа"},
                                { id: 85, text: "Организация, выдавшая документ. Автор документа"},
                                { id: 86, text: "Особые отметки"}
                                ]},
                            { id: 87, text: "Реестровый номер границы зоны, территории"},
                            { id: 88, text: "Кадастровый номер ЗУ, в пользу которого установлен сервитут"}
                            ]},
                        { id: 89, text: "Учетный номер части"},
                        { id: 90, text: "Дата внесения в ЕГРН сведений о части"}
                        ]},
                    { id: 91, text: "Кадастровый номер, если объект недвижимости входит в состав предприятия как имущественного комплекса"},
                    { id: 92, text: "Назначение предприятия как имущественного комплекса, если объект недвижимости входит в состав предприятия как имущественного комплекса"},
                    { text: "Сведения о расположении земельного участка в границах зоны или территории", items: [
                        { id: 93, text: "Наименование"},
                        { id: 94, text: "Вид или наименование по документу"},
                        { id: 95, text: "Реестровый номер границы"},
                        { id: 96, text: "Содержание ограничения"},
                        { id: 97, text: "Полностью входит в зону"},
                        {  text: "Реквизиты решения", items: [
                            { text: "Код документа", items: [
                                { id: 98, text: "Значение"},
                                { id: 99, text: "Код"}
                                ]},
                            { id: 100, text: "Наименование документа"},
                            { id: 101, text: "Серия документа"},
                            { id: 102, text: "Номер документа"},
                            { id: 103, text: "Дата выдачи (подписания) документа"},
                            { id: 104, text: "Организация, выдавшая документ. Автор документа"},
                            { id: 105, text: "Особые отметки"}
                            ]}
                        ]},
                    { text: "Сведения о результатах проведения государственного земельного надзора", items: [
                        { id: 106, text: "Наименование органа, проводившего мероприятие по государственному земельному надзору"},
                        {  text: "Мероприятие государственного земельного надзора по соблюдению требований законодательства (плановая, внеплановая проверка, административное обследование)", items: [
                            { id: 107, text: "Значение"},
                            { id: 108, text: "Код"}
                            ]},
                        {  text: "Форма проведения плановой или внеплановой проверки", items: [
                            { id: 109, text: "Значение"},
                            { id: 110, text: "Код"}
                            ]},
                        { id: 111, text: "Дата окончания проверки"},
                        { id: 112, text: "Наличие нарушения"},
                        { text: "Выявленное правонарушение", items: [
                            { id: 113, text: "Площадь (в кв. м)"},
                            { id: 114, text: "Вид выявленного правонарушения"},
                            { id: 115, text: "Признаки выявленного правонарушения"}
                            ]},
                        {  text: "Реквизиты оформленных документов", items: [
                            { text: "Код документа", items: [
                                { id: 116, text: "Значение"},
                                { id: 117, text: "Код"}
                                ]},
                            { id: 118, text: "Наименование документа"},
                            { id: 119, text: "Серия документа"},
                            { id: 120, text: "Номер документа"},
                            { id: 121, text: "Дата выдачи (подписания) документа"},
                            { id: 122, text: "Организация, выдавшая документ. Автор документа"},
                            { id: 123, text: "Особые отметки"}
                            ]},
                        { id: 124, text: "Сведения об устранении выявленного нарушения", items: [
                            { id: 124, text: "Отметка об устранении выявленного нарушения"},
                            { id: 125, text: "Наименование органа, принявшего решение об устранении правонарушения"}
                            ]},
                        {  text: "Реквизиты документа, содержащего сведения об устранении правонарушения", items: [
                            { text: "Код документа", items: [
                                { id: 126, text: "Значение"},
                                { id: 127, text: "Код"}
                                ]},
                            { id: 128, text: "Наименование документа"},
                            { id: 129, text: "Серия документа"},
                            { id: 130, text: "Номер документа"},
                            { id: 131, text: "Дата выдачи (подписания) документа"},
                            { id: 132, text: "Организация, выдавшая документ. Автор документа"},
                            { id: 133, text: "Особые отметки"}
                            ]}
                        ]},
                    { id: 134, text: "Учетный номер утвержденного проекта межевания территории"},
                    { text: "Реквизиты решения", items: [
                        {  text: "Код документа", items: [
                            { id: 135, text: "Значение"},
                            { id: 136, text: "Код"}
                            ]},
                        { id: 137, text: "Наименование документа"},
                        { id: 138, text: "Серия документа"},
                        { id: 139, text: "Номер документа"},
                        { id: 140, text: "Дата выдачи (подписания) документа"},
                        { id: 141, text: "Организация, выдавшая документ. Автор документа"},
                        { id: 142, text: "Особые отметки"}
                        ]},
                    { text: "Сведения о создании (эксплуатации) на земельном участке наёмного дома", items: [
                        { id: 143, text: "Вид использования наёмного дома"},
                        { id: 144, text: "Акт о предоставлении участка для строительства наемного дома"},
                        { id: 145, text: "Акт о предоставлении участка для освоения территории в целях строительства и эксплуатации наемного дома"},
                        { id: 146, text: "Договор о предоставлении участка для строительства наемного дома"},
                        { id: 147, text: "Договор о предоставлении участка для освоения территории в целях строительства и эксплуатации наемного дома"},
                        { id: 148, text: "Решение собственника земельного участка, находящегося в частной собственности, о строительстве наемного дома"},
                        { id: 149, text: "Договор о предоставлении поддержки для создания и эксплуатации наемного дома социального использования"},
                        {  text: "Документ  - основание", items: [
                            { text: "Код документа", items: [
                                { id: 150, text: "Значение"},
                                { id: 151, text: "Код"}
                                ]},
                            { id: 152, text: "Наименование документа"},
                            { id: 153, text: "Серия документа"},
                            { id: 154, text: "Номер документа"},
                            { id: 155, text: "Дата выдачи (подписания) документа"},
                            { id: 156, text: "Организация, выдавшая документ. Автор документа"},
                            { id: 157, text: "Особые отметки"}
                            ]}
                        ]},
                { id: 158, text: "Сведения об ограничении оборотоспособности земельного участка в соответствии со статьей 11 Федерального закона от 1 мая 2016 г. № 119-ФЗ"}
            ]},
            {
                id: 20000, text: "Здания", checked: true, items: [
                    { id: 201, text: "Кадастровый номер"},
                    { id: 202, text: "Вид объекта недвижимости"},
                    { id: 203, text: "Тип объекта недвижимости"},
                    { id: 204, text: "Дата присвоения кадастрового номера"},
                    { id: 205, text: "Номер кадастрового квартала"},
                    { text: "Сведения о кадастровой стоимости", items: [
                        { id: 206, text: "Значение"},
                        { id: 207, text: "Дата определения кадастровой стоимости"},
                        { id: 208, text: "Дата внесения сведений о кадастровой стоимости в ЕГРН"},
                        { id: 209, text: "Дата утверждения кадастровой стоимости"},
                        { id: 210, text: "Номер акта об утверждении кадастровой стоимости"},
                        { id: 211, text: "Дата акта об утверждении кадастровой стоимости"},
                        { id: 212, text: "Дата начала применения кадастровой стоимости"},
                        { id: 213, text: "Дата подачи заявления о пересмотре кадастровой стоимости"},
                        { id: 214, text: "В соответствии с Федеральным законом от 3 июля 2016 г. N 360-ФЗ \"О внесении изменений в отдельные законодательные акты Российской Федерации\" применяется с"},
                        { id: 215, text: "Наименование документа об утверждении кадастровой стоимости"}
                        ]},
                    { text: "Адрес (местоположение)", items: [
                        { id: 216, text: "Адресная строка"},
                        { id: 217, text: "Уникальный номер адресообразующего элемента в государственном адресном реестре"},
                        { id: 218, text: "ОКАТО"},
                        { id: 219, text: "КЛАДР"},
                        { id: 220, text: "OKTMO"},
                        { id: 221, text: "Почтовый индекс"},
                        { id: 222, text: "Российская Федерация"},
                        { id: 223, text: "Регион"},
                        { id: 224, text: "Неформализованное описание"},
                        { id: 225, text: "Иное"},
                        { id: 226, text: "Признак, позволяющий отличить присвоенный в установленном порядке адрес объекта недвижимости и местоположение объекта недвижимости"},
                        { id: 227, text: "Район"},
                        { id: 228, text: "Муниципальное образование"},
                        { id: 229, text: "Городской район"},
                        { id: 230, text: "Сельсовет"},
                        { id: 231, text: "Населенный пункт"},
                        { id: 232, text: "Элемент планировочной структуры"},
                        { id: 233, text: "Улица"},
                        { id: 234, text: "Дом"},
                        { id: 235, text: "Корпус"},
                        { id: 236, text: "Строение"},
                        { id: 237, text: "Квартира"},
                        { id: 238, text: "В границах"},
                        { id: 239, text: "Положение на ДКК"},
                        { text: "Уточнение местоположения", items: [
                            { id: 240, text: "Наименование ориентира"},
                            { id: 241, text: "Расстояние"},
                            { id: 242, text: "Направление"}
                            ]}
                        ]},
                    { id: 243, text: "Дата оценки"},
                    { id: 244, text: "Площадь"},
                    { id: 245, text: "Кадастровый номер земельного участка (земельных участков), в пределах которого (которых) расположен данный объект недвижимости" },
                    { id: 246, text: "Площадь в квадратных метрах" },
                    {  text: "Назначение здания", items: [
                            { id: 247, text: "Значение" },
                            { id: 248, text: "Код" }
                        ] },
                    {  text: "Количество этажей (в том числе подземных)", items: [
                            { id: 249, text: "Количество этажей" },
                            { id: 250, text: "В том числе подземных этажей" }
                        ] },
                    {  text: "Эксплуатационные характеристики", items: [
                            { id: 251, text: "Год завершения строительства" },
                            { id: 252, text: "Год ввода в эксплуатацию по завершении строительства " }
                        ] },
                    { id: 253, text: "Наименование ОКС" },
                    {  text: "Стены", items: [
                            { id: 254, text: "Значение" },
                            { id: 255, text: "Код" }
                        ] },
                    { id: 256, text: "Вид (виды) разрешенного использования" },
                    {  text: "Сведения о части здания", items: [
                            { id: 257, text: "Площадь в квадратных метрах " },
                            {  text: "Сведения об ограничениях (обременениях)", items: [
                                    { id: 258, text: "Содержание ограничения (обременения)" },
                                    {  text: "Код по справочнику", items: [
                                            { id: 259, text: "Значение" },
                                            { id: 260, text: "Код" }
                                        ] },
                                    {  text: "Государственная регистрация ограничения (обременения)", items: [
                                            { id: 261, text: "Номер" },
                                            { id: 262, text: "Дата" }
                                        ] },
                                    {  text: "Реквизиты документа, на основании которого возникает ограничение (обременение)", items: [
                                            {  text: "Код документа", items: [
                                                    { id: 263, text: "Значение" },
                                                    { id: 264, text: "Код" }
                                                ] },
                                            { id: 265, text: "Наименование документа" },
                                            { id: 266, text: "Серия документа" },
                                            { id: 267, text: "Номер документа" },
                                            { id: 268, text: "Дата выдачи (подписания) документа" },
                                            { id: 269, text: "Организация, выдавшая документ. Автор документа" },
                                            { id: 270, text: "Особые отметки" }
                                        ] }
                                ] },
                            { id: 271, text: "Учетный номер части" },
                            { id: 272, text: "Дата внесения в ЕГРН сведений о части)" }
                        ] },
                    { id: 273, text: "Кадастровые номера помещений, расположенных в объекте недвижимости" },
                    { id: 274, text: "Кадастровые номера машино-мест, расположенных в объекте недвижимости" },
                    { id: 275, text: "Кадастровый номер единого недвижимого комплекса, если объект недвижимости входит в состав единого недвижимого комплекса" },
                    { id: 276, text: "Кадастровый номер, если объект недвижимости входит в состав предприятия как имущественного комплекса" },
                    { id: 277, text: "Назначение предприятия как имущественного комплекса, если объект недвижимости входит в состав предприятия как имущественного комплекса" },
                    {  text: "Сведения о включении объекта недвижимости в единый государственный реестр объектов культурного наследия или об отнесении объекта недвижимости к выявленным объектам культурного наследия", items: [
                            { id: 278, text: "Регистрационный номер" },
                            {  text: "Вид объекта", items: [
                                    { id: 279, text: "Значение" },
                                    { id: 280, text: "Код" }
                                ] },
                            { id: 281, text: "Наименование" },
                            { id: 282, text: "Требования к сохранению, содержанию и использованию, обеспечению доступа" },
                            {  text: "Реквизиты соответствующего решения", items: [
                                    { text: "Код документа", items: [
                                            { id: 283, text: "Значение" },
                                            { id: 284, text: "Код" }
                                        ] },
                                    { id: 285, text: "Наименование документа" },
                                    { id: 286, text: "Серия документа" },
                                    { id: 287, text: "Номер документа" },
                                    { id: 288, text: "Дата выдачи (подписания) документа" },
                                    { id: 289, text: "Организация, выдавшая документ. Автор документа" },
                                    { id: 290, text: "Особые отметки" }
                                ] }
                        ] }]
            },
            {
                id: 30000, text: "Строения", checked: true, items: [
                    { id: 301, text: "Кадастровый номер"},
                    { id: 302, text: "Вид объекта недвижимости"},
                    { id: 303, text: "Тип объекта недвижимости"},
                    { id: 304, text: "Дата присвоения кадастрового номера"},
                    { id: 305, text: "Номер кадастрового квартала"},
                    { text: "Сведения о кадастровой стоимости", items: [
                        { id: 306, text: "Значение"},
                        { id: 307, text: "Дата определения кадастровой стоимости"},
                        { id: 308, text: "Дата внесения сведений о кадастровой стоимости в ЕГРН"},
                        { id: 309, text: "Дата утверждения кадастровой стоимости"},
                        { id: 310, text: "Номер акта об утверждении кадастровой стоимости"},
                        { id: 311, text: "Дата акта об утверждении кадастровой стоимости"},
                        { id: 312, text: "Дата начала применения кадастровой стоимости"},
                        { id: 313, text: "Дата подачи заявления о пересмотре кадастровой стоимости"},
                        { id: 314, text: "В соответствии с Федеральным законом от 3 июля 2016 г. N 360-ФЗ \"О внесении изменений в отдельные законодательные акты Российской Федерации\" применяется с"},
                        { id: 315, text: "Наименование документа об утверждении кадастровой стоимости"}
                        ]},
                    { text: "Адрес (местоположение)", items: [
                        { id: 316, text: "Адресная строка"},
                        { id: 317, text: "Уникальный номер адресообразующего элемента в государственном адресном реестре"},
                        { id: 318, text: "ОКАТО"},
                        { id: 319, text: "КЛАДР"},
                        { id: 320, text: "OKTMO"},
                        { id: 321, text: "Почтовый индекс"},
                        { id: 322, text: "Российская Федерация"},
                        { id: 323, text: "Регион"},
                        { id: 324, text: "Неформализованное описание"},
                        { id: 325, text: "Иное"},
                        { id: 326, text: "Признак, позволяющий отличить присвоенный в установленном порядке адрес объекта недвижимости и местоположение объекта недвижимости"},
                        { id: 327, text: "Район"},
                        { id: 328, text: "Муниципальное образование"},
                        { id: 329, text: "Городской район"},
                        { id: 330, text: "Сельсовет"},
                        { id: 331, text: "Населенный пункт"},
                        { id: 332, text: "Элемент планировочной структуры"},
                        { id: 333, text: "Улица"},
                        { id: 334, text: "Дом"},
                        { id: 335, text: "Корпус"},
                        { id: 336, text: "Строение"},
                        { id: 337, text: "Квартира"},
                        { id: 338, text: "В границах"},
                        { id: 339, text: "Положение на ДКК"},
                        { text: "Уточнение местоположения", items: [
                            { id: 340, text: "Наименование ориентира"},
                            { id: 341, text: "Расстояние"},
                            { id: 342, text: "Направление"}
                            ]}
                        ]},
                    { id: 343, text: "Дата оценки"},
                    { id: 344, text: "Площадь"},
                    { id: 345, text: "Кадастровый номер земельного участка (земельных участков), в пределах которого (которых) расположен данный объект недвижимости" },
                    { id: 346, text: "Назначение (сооружение, онс)" },
                    {  text: "Количество этажей (в том числе подземных)", items: [
                            { id: 347, text: "Количество этажей" },
                            { id: 348, text: "В том числе подземных этажей" }
                        ] },
                    {  text: "Эксплуатационные характеристики", items: [
                            { id: 349, text: "Год завершения строительства" },
                            { id: 350, text: "Год ввода в эксплуатацию по завершении строительства " }
                        ] },
                    { id: 351, text: "Наименование ОКС" },
                    {  text: "Основные характеристики и их значения", items: [
                            { id: 352, text: "Наименование" },
                            { id: 353, text: "Код" },
                            { id: 354, text: "Значение" }
                        ] },
                    { id: 355, text: "Вид (виды) разрешенного использования" },
                    {  text: "Сведения о части сооружения", items: [
                            { text: "Основная характеристика", items: [
                                    { id: 356, text: "Наименование" },
                                    { id: 357, text: "Код" },
                                    { id: 358, text: "Значение" }
                                ] },
                            {  text: "Сведения об ограничениях (обременениях)", items: [
                                    { id: 359, text: "Содержание ограничения (обременения)" },
                                    {  text: "Код по справочнику", items: [
                                            { id: 360, text: "Значение" },
                                            { id: 361, text: "Код" }
                                        ] },
                                    {  text: "Государственная регистрация ограничения (обременения)", items: [
                                            {id: 362, text: "Номер" },
                                            { id: 363, text: "Дата" }
                                        ] },
                                    {  text: "Реквизиты документа, на основании которого возникает ограничение (обременение)", items: [
                                            { text: "Код документа", items: [
                                                    { id: 364, text: "Значение" },
                                                    { id: 365, text: "Код" }
                                                ] },
                                            { id: 366, text: "Наименование документа" },
                                            { id: 367, text: "Серия документа" },
                                            { id: 368, text: "Номер документа" },
                                            { id: 369, text: "Дата выдачи (подписания) документа" },
                                            { id: 370, text: "Организация, выдавшая документ. Автор документа" },
                                            { id: 371, text: "Особые отметки" }
                                        ] }
                                ] },
                            { id: 372, text: "Учетный номер части" },
                            { id: 373, text: "Дата внесения в ЕГРН сведений о части" }
                        ] },
                    { id: 374, text: "Кадастровые номера помещений, расположенных в объекте недвижимости" },
                    { id: 375, text: "Кадастровые номера машино-мест, расположенных в объекте недвижимости" },
                    { id: 376, text: "Кадастровый номер единого недвижимого комплекса, если объект недвижимости входит в состав единого недвижимого комплекса" },
                    { id: 377, text: "Кадастровый номер и назначение предприятия как имущественного комплекса, если объект недвижимости входит в состав предприятия как имущественного комплекса " },
                    { id: 378, text: "Назначение предприятия как имущественного комплекса, если объект недвижимости входит в состав предприятия как имущественного комплекса" },
                    {  text: "Сведения о включении объекта недвижимости в единый государственный реестр объектов культурного наследия или об отнесении объекта недвижимости к выявленным объектам культурного наследия", items: [
                            { id: 379, text: "Регистрационный номер" },
                            {  text: "Вид объекта", items: [
                                    { id: 380, text: "Значение" },
                                    { id: 381, text: "Код" }
                                ] },
                            { id: 382, text: "Наименование" },
                            { id: 383, text: "Требования к сохранению, содержанию и использованию, обеспечению доступа" },
                            {  text: "Реквизиты соответствующего решения", items: [
                                    {  text: "Код документа", items: [
                                            { id: 384, text: "Значение" },
                                            { id: 385, text: "Код" },
                                            { id: 386, text: "Наименование документа" },
                                            { id: 387, text: "Серия документа" },
                                            { id: 388, text: "Номер документа" },
                                            { id: 389, text: "Дата выдачи (подписания) документа" },
                                            { id: 390, text: "Организация, выдавшая документ. Автор документа" },
                                            { id: 391, text: "Особые отметки" }
                                        ] }
                                ] }
                        ] }]
            },
            {
                id: 40000, text: "Недостроенные объекты", checked: true, items: [
                    { id: 401, text: "Кадастровый номер"},
                    { id: 402, text: "Вид объекта недвижимости"},
                    { id: 403, text: "Тип объекта недвижимости"},
                    { id: 404, text: "Дата присвоения кадастрового номера"},
                    { id: 405, text: "Номер кадастрового квартала"},
                    { text: "Сведения о кадастровой стоимости", items: [
                        { id: 406, text: "Значение"},
                        { id: 407, text: "Дата определения кадастровой стоимости"},
                        { id: 408, text: "Дата внесения сведений о кадастровой стоимости в ЕГРН"},
                        { id: 409, text: "Дата утверждения кадастровой стоимости"},
                        { id: 410, text: "Номер акта об утверждении кадастровой стоимости"},
                        { id: 411, text: "Дата акта об утверждении кадастровой стоимости"},
                        { id: 412, text: "Дата начала применения кадастровой стоимости"},
                        { id: 413, text: "Дата подачи заявления о пересмотре кадастровой стоимости"},
                        { id: 414, text: "В соответствии с Федеральным законом от 3 июля 2016 г. N 360-ФЗ \"О внесении изменений в отдельные законодательные акты Российской Федерации\" применяется с"},
                        { id: 415, text: "Наименование документа об утверждении кадастровой стоимости"}
                        ]},
                    { text: "Адрес (местоположение)", items: [
                        { id: 416, text: "Адресная строка"},
                        { id: 417, text: "Уникальный номер адресообразующего элемента в государственном адресном реестре"},
                        { id: 418, text: "ОКАТО"},
                        { id: 419, text: "КЛАДР"},
                        { id: 420, text: "OKTMO"},
                        { id: 421, text: "Почтовый индекс"},
                        { id: 422, text: "Российская Федерация"},
                        { id: 423, text: "Регион"},
                        { id: 424, text: "Неформализованное описание"},
                        { id: 425, text: "Иное"},
                        { id: 426, text: "Признак, позволяющий отличить присвоенный в установленном порядке адрес объекта недвижимости и местоположение объекта недвижимости"},
                        { id: 427, text: "Район"},
                        { id: 428, text: "Муниципальное образование"},
                        { id: 429, text: "Городской район"},
                        { id: 430, text: "Сельсовет"},
                        { id: 431, text: "Населенный пункт"},
                        { id: 432, text: "Элемент планировочной структуры"},
                        { id: 433, text: "Улица"},
                        { id: 434, text: "Дом"},
                        { id: 435, text: "Корпус"},
                        { id: 436, text: "Строение"},
                        { id: 437, text: "Квартира"},
                        { id: 438, text: "В границах"},
                        { id: 439, text: "Положение на ДКК"},
                        { text: "Уточнение местоположения", items: [
                            { id: 440, text: "Наименование ориентира"},
                            { id: 441, text: "Расстояние"},
                            { id: 442, text: "Направление"}
                            ]}
                        ]},
                    { id: 443, text: "Дата оценки"},
                    { id: 444, text: "Площадь"},
                    { id: 445, text: "Кадастровый номер земельного участка (земельных участков), в пределах которого (которых) расположен данный объект недвижимости" },
                    { id: 446, text: "Проектируемое назначение объекта незавершенного строительства" },
                    { id: 447, text: "Степень готовности в процентах " },
                    {  text: "Основные характеристики и их значения", items: [
                            { id: 448, text: "Название" },
                            { id: 449, text: "Код" },
                            { id: 450, text: "Значение" }
                        ] },
                    { id: 451, text: "Кадастровый номер, если объект недвижимости входит в состав предприятия как имущественного комплекса" },
                    { id: 452, text: "Назначение предприятия как имущественного комплекса, если объект недвижимости входит в состав предприятия как имущественного комплекса" }
                ]
            },
            {
                id: 50000, text: "Комнаты", checked: true, items: [
                    { id: 501, text: "Кадастровый номер"},
                    { id: 502, text: "Вид объекта недвижимости"},
                    { id: 503, text: "Тип объекта недвижимости"},
                    { id: 504, text: "Дата присвоения кадастрового номера"},
                    { id: 505, text: "Номер кадастрового квартала"},
                    { text: "Сведения о кадастровой стоимости", items: [
                        { id: 506, text: "Значение"},
                        { id: 507, text: "Дата определения кадастровой стоимости"},
                        { id: 508, text: "Дата внесения сведений о кадастровой стоимости в ЕГРН"},
                        { id: 509, text: "Дата утверждения кадастровой стоимости"},
                        { id: 510, text: "Номер акта об утверждении кадастровой стоимости"},
                        { id: 511, text: "Дата акта об утверждении кадастровой стоимости"},
                        { id: 512, text: "Дата начала применения кадастровой стоимости"},
                        { id: 513, text: "Дата подачи заявления о пересмотре кадастровой стоимости"},
                        { id: 514, text: "В соответствии с Федеральным законом от 3 июля 2016 г. N 360-ФЗ \"О внесении изменений в отдельные законодательные акты Российской Федерации\" применяется с"},
                        { id: 515, text: "Наименование документа об утверждении кадастровой стоимости"}
                        ]},
                    { text: "Адрес (местоположение)", items: [
                        { id: 516, text: "Адресная строка"},
                        { id: 517, text: "Уникальный номер адресообразующего элемента в государственном адресном реестре"},
                        { id: 518, text: "ОКАТО"},
                        { id: 519, text: "КЛАДР"},
                        { id: 520, text: "OKTMO"},
                        { id: 521, text: "Почтовый индекс"},
                        { id: 522, text: "Российская Федерация"},
                        { id: 523, text: "Регион"},
                        { id: 524, text: "Неформализованное описание"},
                        { id: 525, text: "Иное"},
                        { id: 526, text: "Признак, позволяющий отличить присвоенный в установленном порядке адрес объекта недвижимости и местоположение объекта недвижимости"},
                        { id: 527, text: "Район"},
                        { id: 528, text: "Муниципальное образование"},
                        { id: 529, text: "Городской район"},
                        { id: 530, text: "Сельсовет"},
                        { id: 531, text: "Населенный пункт"},
                        { id: 532, text: "Элемент планировочной структуры"},
                        { id: 533, text: "Улица"},
                        { id: 534, text: "Дом"},
                        { id: 535, text: "Корпус"},
                        { id: 536, text: "Строение"},
                        { id: 537, text: "Квартира"},
                        { id: 538, text: "В границах"},
                        { id: 539, text: "Положение на ДКК"},
                        { text: "Уточнение местоположения", items: [
                            { id: 540, text: "Наименование ориентира"},
                            { id: 541, text: "Расстояние"},
                            { id: 542, text: "Направление"}
                            ]}
                        ]},
                    { id: 543, text: "Дата оценки"},
                    { id: 544, text: "Площадь"},
                    { id: 545, text: "Кадастровый номер квартиры, в которой расположена комната" },
                    { id: 546, text: "Кадастровый номер здания или сооружения, в котором расположено помещение" },
                    {  text: "Характеристики объекта недвижимости, в котором расположено помещение, машино-место", items: [
                            { id: 547, text: "Кадастровый номер здания или сооружения" },
                            {  text: "Вид объекта недвижимости- здание или сооружени", items: [
                                    { id: 548, text: "Значение" },
                                    { id: 549, text: "Код" }
                                ] },
                            {  text: "Назначение здания", items: [
                                    { id: 550, text: "Значение" },
                                    { id: 551, text: "Код" }
                                ] },
                            { id: 552, text: "Назначение сооружения" },
                            {  text: "Материал наружных стен здания", items: [
                                    { id: 553, text: "Значение" },
                                    { id: 554, text: "Код" }
                                ] },
                            {  text: "Количество этажей (в том числе подземных)", items: [
                                    { id: 555, text: "Количество этажей" },
                                    { id: 556, text: "В том числе подземных этажей" }
                                ] },
                            {  text: "Эксплуатационные характеристики", items: [
                                    { id: 557, text: "Год завершения строительства" },
                                    { id: 558, text: "Год ввода в эксплуатацию по завершении строительства " }
                                ] }
                        ] },
                    { id: 559, text: "Наименование" },
                    { id: 560, text: "Площадь в квадратных метрах (дубль из помещений)" },
                    {  text: "Расположение в пределах объекта, не имеющего этажи", items: [
                            { id: 561, text: "Номер на плане" },
                            { id: 562, text: "Описание расположения" }
                        ] },
                    {  text: "Уровни (этажи) для объекта, имеющего этажность", items: [
                            {  text: "Расположение в пределах этажа (части этажа)", items: [
                                    { id: 563, text: "Номер на плане" },
                                    { id: 564, text: "Описание расположения" }
                                ] },
                            { id: 565, text: "Номер этажа" },
                            {  text: "Тип этажа", items: [
                                    { id: 566, text: "Значение" },
                                    { id: 567, text: "Код" }
                                ] },
                            {  text: "Назначение помещения", items: [
                                    { id: 568, text: "Значение" },
                                    { id: 569, text: "Код" }
                                ] }
                        ] },
                    {  text: "Вид помещения", items: [
                            { id: 570, text: "Значение" },
                            { id: 571, text: "Код" }
                        ] },
                    {  text: "Вид жилого помещения специализированного жилищного фонда", items: [
                            { id: 572, text: "Значение" },
                            { id: 573, text: "Код" }
                        ] },
                    { id: 574, text: "Нежилое помещение - общее имущество в многоквартирном доме" },
                    { id: 575, text: "Нежилое помещение - помещение вспомогательного использования" },
                    { id: 576, text: "Вид (виды) разрешенного использования" },
                    { text: "Сведения о части помещения", items: [
                            { id: 577, text: "Площадь в квадратных метрах " },
                            {  text: "Сведения об ограничениях (обременениях)", items: [
                                    { id: 578, text: "Содержание ограничения (обременения)" },
                                    {  text: "Код по справочнику", items: [
                                            { id: 579, text: "Значение" },
                                            { id: 580, text: "Код" }
                                        ] },
                                    {  text: "Государственная регистрация ограничения (обременения)", items: [
                                            { id: 581, text: "Номер" },
                                            { id: 582, text: "Дата" }
                                        ] },
                                    {  text: "Реквизиты документа, на основании которого возникает ограничение (обременение)", items: [
                                            { text: "Код документа", items: [
                                                    { id: 583, text: "Значение" },
                                                    { id: 584, text: "Код" }
                                                ] },
                                            { id: 585, text: "Наименование документа" },
                                            { id: 586, text: "Серия документа" },
                                            { id: 587, text: "Номер документа" },
                                            { id: 588, text: "Дата выдачи (подписания) документа" },
                                            { id: 589, text: "Организация, выдавшая документ. Автор документа" },
                                            { id: 590, text: "Особые отметки" }
                                        ] }
                                ] },
                            { id: 591, text: "Учетный номер части" },
                            { id: 592, text: "Дата внесения в ЕГРН сведений о части)" }
                        ] },
                    { id: 593, text: "Кадастровый номер единого недвижимого комплекса, если объект недвижимости входит в состав единого недвижимого комплекса" },
                    { id: 594, text: "Кадастровый номер, если объект недвижимости входит в состав предприятия как имущественного комплекса" },
                    { id: 595, text: "Назначение предприятия как имущественного комплекса, если объект недвижимости входит в состав предприятия как имущественного комплекса" },
                    {  text: "Сведения о включении объекта недвижимости в единый государственный реестр объектов культурного наследия или об отнесении объекта недвижимости к выявленным объектам культурного наследия", items: [
                            { id: 596, text: "Регистрационный номер" },
                            {  text: "Вид объекта", items: [
                                    { id: 597, text: "Значение" },
                                    { id: 598, text: "Код" }
                                ] },
                            { id: 599, text: "Наименование" },
                            { id: 600, text: "Требования к сохранению, содержанию и использованию, обеспечению доступа" },
                            { text: "Реквизиты соответствующего решения", items: [
                                    { text: "Код документа", items: [
                                            { id: 601, text: "Значение" },
                                            { id: 602, text: "Код" }
                                        ] },
                                    { id: 603, text: "Наименование документа" },
                                    { id: 604, text: "Серия документа" },
                                    { id: 605, text: "Номер документа" },
                                    { id: 606, text: "Дата выдачи (подписания) документа" },
                                    { id: 607, text: "Организация, выдавшая документ. Автор документа" },
                                    { id: 608, text: "Особые отметки" }
                                ] }
                        ] }]
            },
            {
                id: 60000, text: "Парковки", checked: true, items: [
                    { id: 701, text: "Кадастровый номер"},
                    { id: 702, text: "Вид объекта недвижимости"},
                    { id: 703, text: "Тип объекта недвижимости"},
                    { id: 704, text: "Дата присвоения кадастрового номера"},
                    { id: 705, text: "Номер кадастрового квартала"},
                    { text: "Сведения о кадастровой стоимости", items: [
                        { id: 706, text: "Значение"},
                        { id: 707, text: "Дата определения кадастровой стоимости"},
                        { id: 708, text: "Дата внесения сведений о кадастровой стоимости в ЕГРН"},
                        { id: 709, text: "Дата утверждения кадастровой стоимости"},
                        { id: 710, text: "Номер акта об утверждении кадастровой стоимости"},
                        { id: 711, text: "Дата акта об утверждении кадастровой стоимости"},
                        { id: 712, text: "Дата начала применения кадастровой стоимости"},
                        { id: 713, text: "Дата подачи заявления о пересмотре кадастровой стоимости"},
                        { id: 714, text: "В соответствии с Федеральным законом от 3 июля 2016 г. N 360-ФЗ \"О внесении изменений в отдельные законодательные акты Российской Федерации\" применяется с"},
                        { id: 715, text: "Наименование документа об утверждении кадастровой стоимости"}
                        ]},
                    { text: "Адрес (местоположение)", items: [
                        { id: 716, text: "Адресная строка"},
                        { id: 717, text: "Уникальный номер адресообразующего элемента в государственном адресном реестре"},
                        { id: 718, text: "ОКАТО"},
                        { id: 719, text: "КЛАДР"},
                        { id: 720, text: "OKTMO"},
                        { id: 721, text: "Почтовый индекс"},
                        { id: 722, text: "Российская Федерация"},
                        { id: 723, text: "Регион"},
                        { id: 724, text: "Неформализованное описание"},
                        { id: 725, text: "Иное"},
                        { id: 726, text: "Признак, позволяющий отличить присвоенный в установленном порядке адрес объекта недвижимости и местоположение объекта недвижимости"},
                        { id: 727, text: "Район"},
                        { id: 728, text: "Муниципальное образование"},
                        { id: 729, text: "Городской район"},
                        { id: 730, text: "Сельсовет"},
                        { id: 731, text: "Населенный пункт"},
                        { id: 732, text: "Элемент планировочной структуры"},
                        { id: 733, text: "Улица"},
                        { id: 734, text: "Дом"},
                        { id: 735, text: "Корпус"},
                        { id: 736, text: "Строение"},
                        { id: 737, text: "Квартира"},
                        { id: 738, text: "В границах"},
                        { id: 739, text: "Положение на ДКК"},
                        { text: "Уточнение местоположения", items: [
                            { id: 740, text: "Наименование ориентира"},
                            { id: 741, text: "Расстояние"},
                            { id: 742, text: "Направление"}
                            ]}
                        ]},
                    { id: 743, text: "Дата оценки"},
                    { id: 744, text: "Площадь"},
                    { id: 745, text: "Площадь (дубль в машиноместах)" },
                    { id: 746, text: "Кадастровый номер здания или сооружения, в котором расположено помещение" },
                    {  text: "Характеристики объекта недвижимости, в котором расположено помещение, машино-место", items: [
                            { id: 747, text: "Кадастровый номер здания или сооружения" },
                            {  text: "Вид объекта недвижимости- здание или сооружени", items: [
                                    { id: 748, text: "Значение" },
                                    { id: 749, text: "Код" }
                                ] },
                            {  text: "Назначение здания", items: [
                                    { id: 750, text: "Значение" },
                                    { id: 751, text: "Код" }
                                ] },
                            { id: 752, text: "Назначение сооружения" },
                            {  text: "Материал наружных стен здания", items: [
                                    { id: 753, text: "Значение" },
                                    { id: 754, text: "Код" }
                                ] },
                            {  text: "Количество этажей (в том числе подземных)", items: [
                                    { id: 755, text: "Количество этажей" },
                                    { id: 756, text: "В том числе подземных этажей" }
                                ] },
                            {  text: "Эксплуатационные характеристики", items: [
                                    { id: 757, text: "Год завершения строительства" },
                                    { id: 758, text: "Год ввода в эксплуатацию по завершении строительства " }
                                ] }
                        ] },
                    {  text: "Уровни (этажи) для объекта, имеющего этажность", items: [
                            { text: "Расположение в пределах этажа (части этажа)", items: [
                                    { id: 759, text: "Номер на плане" },
                                    { id: 760, text: "Описание расположения" }
                                ] },
                            { id: 761, text: "Номер этажа" },
                            {  text: "Тип этажа", items: [
                                    { id: 762, text: "Значение" },
                                    { id: 763, text: "Код" }
                                ] }
                        ] },
                    { id: 764, text: "Кадастровый номер единого недвижимого комплекса, если объект недвижимости входит в состав единого недвижимого комплекса" },
                    { id: 765, text: "Кадастровый номер, если объект недвижимости входит в состав предприятия как имущественного комплекса" },
                    { id: 766, text: "Назначение предприятия как имущественного комплекса, если объект недвижимости входит в состав предприятия как имущественного комплекса" }]
            }]
    });

    $("#exportButton").kendoButton({
        enable: true,
        click: function (e, sender) {
            var button = $(e.event.target).data('kendoButton');
            button.enable(false);
            var urlParams = new URLSearchParams(window.location.search);
            var taskId = parseInt(urlParams.get('TaskId'));
            console.log(taskId);
            var checkedNodes = [],
                treeView = $("#treeview").data("kendoTreeView");
            checkedNodeIds(treeView.dataSource.view(), checkedNodes);
            $.ajax({
                type: 'POST',
                url: '/GknXmlToExcel/Convert',
                data: { id: taskId, config: checkedNodes },
                success: function () {
                    Common.ShowMessage('Задача поставлена в очередь обработки');
                },
                error: function (response) {
                    Common.ShowError(response.responseText);
                },
                complete: function () {
                    button.enable(true);
                }
            });
        }
    });

    function checkedNodeIds(nodes, checkedNodes) {
        for (var i = 0; i < nodes.length; i++) {
            if (nodes[i].checked) {
                checkedNodes.push(nodes[i].id);
            }

            if (nodes[i].hasChildren) {
                checkedNodeIds(nodes[i].children.view(), checkedNodes);
            }
        }
    }

    function onCheck() {
        var checkedNodes = [],
            treeView = $("#treeview").data("kendoTreeView");

        checkedNodeIds(treeView.dataSource.view(), checkedNodes);

        if (checkedNodes.length > 0) {
            var columns = checkedNodes.filter(function(key) { return key < 1000; });
        }
    }
</script>

<style>
    .k-checkbox-label:before{
        top: -5px;
        width: 20px;
        height: 20px;
        padding-top: 0px;
        line-height: 20px;
    }
    .k-checkbox:indeterminate + .k-checkbox-label:after {
        width: 16px;
        height: 16px;
        top: 6px;
        left: 11px;
        border-style: none;
    }
</style>
