<mat-toolbar style="justify-content: space-between;">
  <div>
    <h3>{{title}}</h3>
  </div>

    <button mat-icon-button class="example-icon favorite-icon" (click)="logOut()">
        <mat-icon>logout</mat-icon>
      </button>
</mat-toolbar>
<div class="container-fluid row">
  <div class="col-md-6">
    <mat-form-field>
      <mat-select [(value)]="selectedSection" (selectionChange)="selectionChange($event)">
        <mat-option value="serilog">Секция серилог</mat-option>
        <mat-option value="core">Секция Платформы</mat-option>
        <mat-option value="ko">Секция Кад. Оценки</mat-option>
      </mat-select>
    </mat-form-field>
  </div>
  <div class="col-md-6" style="text-align: end">
    <button mat-raised-button color="primary" (click)="saveSetting()" type="button">
      Сохранить
    </button>
  </div>
  <div class="col-md-12">
  <h4>Основной файл настройки конфигурации</h4>
  </div>
  <div class="col-md-12">
    <div #jsonEditorRoot></div>
  </div>
  <div class="col-md-12">
    <h4>Доп. файл конфигурации</h4>
    <div #jsonEditorEnv></div>
  </div>
</div>
<!--TODO Custom loader, we must make good-->
<div *ngIf="showLoader" style="height: 100%; width: 100%; position: absolute; left: 0; top: 0">
  <mat-spinner mode="indeterminate" style="position: relative; top: 50%; left: 50%"></mat-spinner>
</div>
