<mat-toolbar style="justify-content: space-between;">
    <span>Настройки конфигурации</span>
    <button mat-icon-button class="example-icon favorite-icon" (click)="logOut()">
        <mat-icon>logout</mat-icon>
      </button>
</mat-toolbar>
<div class="container-fluid row">
  <div class="col-md-6">
    <div>
      <h3 style="text-align: center">Serilog конфигурация</h3>
    </div>
    <div #jsonEditorRoot></div>
  </div>
  <div class="col-md-6">
    <div #jsonEditorEnv></div>
  </div>
</div>

