<style>
    td.group {
        background-color: #eee;
        font-weight: bold;
    }
</style>
<div id="grid"></div>
<script>
    $(function () {
        $('#grid').kendoGrid({
            dataSource: {
                transport: {
                    read: {
                        url: '@Url.Action("Monitoring_Read", "Tenements")',
                        contentType: 'application/json; charset=utf-8',
                        dataType: 'json'
                    }
                }
            },
            rowTemplate: '<tr data-uid="#=uid#">#if(GroupName){#<td class="group" colspan="8">#:GroupName#</td>#}' +
                'else{#<td class="center">#:OrdinalNumber#</td><td>#:Name#</td><td class="center">#:EgrnBuilding!=null?EgrnBuilding:"-"#</td><td class="center">#:EgrnFlat!=null?EgrnFlat:"-"#</td><td class="center">#:BtiBuilding!=null?BtiBuilding:"-"#</td><td class="center">#:BtiFlat!=null?BtiFlat:"-"#</td><td class="center">#:Building!=null?Building:"-"#</td><td class="center">#:Flat!=null?Flat:"-"#</td>#}#</tr>',
            columns: [
                {
                    field: 'OrdinalNumber',
                    title: '№ п/п',
                    width: '55px'
                },
                {
                    field: 'Name',
                    title: 'Показатель',
                    width: '280px'
                },
                {
                    title: 'Источник',
                    columns: [
                        {
                            title: 'Реестр объектов ЕГРН',
                            columns: [
                                {
                                    field: 'EgrnBuilding',
                                    title: 'МКД'
                                },
                                {
                                    field: 'EgrnFlat',
                                    title: 'ЖП'
                                }
                            ]
                        },
                        {
                            title: 'Реестр объектов БТИ',
                            columns: [
                                {
                                    field: 'BtiBuilding',
                                    title: 'МКД'
                                },
                                {
                                    field: 'BtiFlat',
                                    title: 'ЖП'
                                }
                            ]
                        }, {
                            field: 'Building',
                            title: 'Реестр МКД'
                        }, {
                            field: 'Flat',
                            title: 'Реестр ЖП'
                        }
                    ]
                }
            ]
        });
    });
</script>