/Source/Parser/bin
/Source/Parser/obj
/Source/Proxy/bin
/Source/Proxy/obj
/Source/ProxyChecker/bin
/Source/ProxyChecker/obj
/Source/KadOzenka.WebServices/KadOzenka.WebServices/bin
/Source/KadOzenka.WebServices/KadOzenka.WebServices/obj
/Source/KadOzenka.WebClients/obj
/Source/KadOzenka.WebClients/bin
/Source/KadOzenka.Web/bin
/Source/KadOzenka.Web/obj
/Source/KadOzenka.Test.ReonWebServiceMock/bin
/Source/KadOzenka.Test.ReonWebServiceMock/obj
/Source/.vs
/Source/KadOzenka.ObjectModel/bin
/Source/KadOzenka.ObjectModel/obj
/Source/KadOzenka.LongProcessService/obj
/Source/KadOzenka.LongProcessService/bin
/Source/KadOzenka.LongProcessService/ConfigCore
/Source/KadOzenka.LongProcessService/Config/Reports
/Source/KadOzenka.LongProcessService/Config/SqlQueries
/Source/KadOzenka.LongProcessService/Config/ExcelTemplates
/Source/KadOzenka.LongProcessService/wwwroot
/Source/KadOzenka.Dal/obj
/Source/KadOzenka.Dal/bin
/Source/KadOzenka.Dal.Tests/obj
/Source/KadOzenka.Dal.Tests/bin
/Source/ImageProccessor/obj
/Source/ImageProccessor/bin
/Source/Utils/EP.SdkCore/obj
/Source/Utils/EP.SdkCore/bin
/Source/Utils/GenerateDbScripts/bin
/Source/Utils/GenerateDbScripts/obj
/Source/Utils/GenerateObjectModel/bin
/Source/Utils/GenerateObjectModel/obj
/Source/Utils/KadOzenka.BlFrontEnd/obj
/Source/Utils/KadOzenka.BlFrontEnd/bin
/Source/Utils/KadOzenka.BlFrontEnd/ConfigCore
/Source/Utils/KadOzenka.BlFrontEnd/wwwroot
/Source/KadOzenka.Web/KadOzenka.Web.csproj.user
/Source/KadOzenka.Dal/ConfigCore
/Source/KadOzenka.Dal/wwwroot
/Source/KadOzenka.Web/ConfigCore
/Source/KadOzenka.Web/wwwroot/PlatformCss
/Source/KadOzenka.Web/wwwroot/PlatformJs
/Source/KadOzenka.Web/wwwroot/lib/kendo-ui/styles/kendo.silver.genix.min.css
/Source/KadOzenka.Web/wwwroot/lib/kendo-ui/styles/kendo.silver.genix.min.css.map
/Source/ImagesProcessor/obj
/Source/GISStandProject/obj
/.vs
/Source/.idea
/Source/StartProject/obj
/Source/Database/GeneratedScripts/*.*
