/Source/Database/GeneratedScripts
/Source/ScreenshotParser/bin
/Source/ScreenshotParser/obj
/Source/Parser/bin
/Source/Parser/obj
/Source/Proxy/bin
/Source/Proxy/obj
/Source/ProxyChecker/bin
/Source/ProxyChecker/obj
/Source/KadOzenka.WebServices/KadOzenka.WebServices/bin
/Source/KadOzenka.WebServices/KadOzenka.WebServices/obj
/Source/KadOzenka.WebClients/obj
/Source/KadOzenka.WebClients/bin
/Source/KadOzenka.Web/bin
/Source/KadOzenka.Web/obj
/Source/KadOzenka.Web/Properties/PublishProfiles/*.pubxml.user
/Source/KadOzenka.Test.ReonWebServiceMock/bin
/Source/KadOzenka.Test.ReonWebServiceMock/obj
/Source/.vs
/Source/KadOzenka.ObjectModel/bin
/Source/KadOzenka.ObjectModel/obj
/Source/KadOzenka.ObjectModelEnum/bin
/Source/KadOzenka.ObjectModelEnum/obj
/Source/KadOzenka.LongProcessService/obj
/Source/KadOzenka.LongProcessService/bin
/Source/KadOzenka.LongProcessService/ConfigCore
/Source/KadOzenka.LongProcessService/Config/Reports
/Source/KadOzenka.LongProcessService/Config/SqlQueries
/Source/KadOzenka.LongProcessService/Config/ExcelTemplates
/Source/KadOzenka.LongProcessService/Properties/PublishProfiles/*.pubxml.user
/Source/KadOzenka.LongProcessService/wwwroot
/Source/KadOzenka.Dal/obj
/Source/KadOzenka.Dal/bin
/Source/KadOzenka.Dal.Tests/obj
/Source/KadOzenka.Dal.Tests/bin
/Source/KadOzenka.Dal.IntegrationTests/obj
/Source/KadOzenka.Dal.IntegrationTests/bin
/Source/KadOzenka.Common.Tests/obj
/Source/KadOzenka.Common.Tests/bin
/Source/ImageProccessor/obj
/Source/ImageProccessor/bin
/Source/Utils/EP.SdkCore/obj
/Source/Utils/EP.SdkCore/bin
/Source/Utils/GenerateDbScripts/bin
/Source/Utils/GenerateDbScripts/obj
/Source/Utils/GenerateObjectModel/bin
/Source/Utils/GenerateObjectModel/obj
/Source/Utils/KadOzenka.BlFrontEnd/obj
/Source/Utils/KadOzenka.BlFrontEnd/bin
/Source/Utils/KadOzenka.BlFrontEnd/ConfigCore
/Source/Utils/KadOzenka.BlFrontEnd/wwwroot
/Source/KadOzenka.Web/KadOzenka.Web.csproj.user
/Source/KadOzenka.Dal/ConfigCore
/Source/KadOzenka.Dal/wwwroot
/Source/KadOzenka.Web/ConfigCore
/Source/KadOzenka.Web/wwwroot/PlatformCss
/Source/KadOzenka.Web/wwwroot/PlatformJs
/Source/KadOzenka.Web/wwwroot/lib/kendo-ui/styles/kendo.silver.genix.min.css
/Source/KadOzenka.Web/wwwroot/lib/kendo-ui/styles/kendo.silver.genix.min.css.map
/Source/KadOzenka.Web.Tests/obj
/Source/KadOzenka.Web.Tests/bin
/Source/ImagesProcessor/obj
/Source/GISStandProject/obj
/Source/DbMigrations/obj
/Source/DbMigrations/bin
/Source/ObjectTransfer/obj
/Source/ObjectTransfer/bin
/.vs
/Source/.idea
/Source/StartProject/obj
/Source/Database/GeneratedScripts/*.*
/Source/EmbeddedResource/bin
/Source/EmbeddedResource/obj
/Source/MarketPlaceBusiness/bin
/Source/MarketPlaceBusiness/obj
obj
/Source/angular-Web-settings/node_modules
Source/ObjectsTransfer/bin/Debug/net5.0/appsettings.json
Source/ObjectsTransfer/bin/Debug/net5.0/DocumentFormat.OpenXml.dll
Source/ObjectsTransfer/bin/Debug/net5.0/Flurl.dll
Source/ObjectsTransfer/bin/Debug/net5.0/GemBox.Spreadsheet.dll
Source/ObjectsTransfer/bin/Debug/net5.0/HtmlAgilityPack.dll
Source/ObjectsTransfer/bin/Debug/net5.0/KadOzenka.ObjectModel.dll
Source/ObjectsTransfer/bin/Debug/net5.0/KadOzenka.ObjectModel.pdb
Source/ObjectsTransfer/bin/Debug/net5.0/Microsoft.AspNetCore.JsonPatch.dll
Source/ObjectsTransfer/bin/Debug/net5.0/Microsoft.AspNetCore.Server.Kestrel.Https.dll
Source/ObjectsTransfer/bin/Debug/net5.0/Microsoft.AspNetCore.Server.Kestrel.Transport.Abstractions.dll
Source/ObjectsTransfer/bin/Debug/net5.0/Microsoft.DotNet.PlatformAbstractions.dll
Source/ObjectsTransfer/bin/Debug/net5.0/Microsoft.Extensions.DependencyModel.dll
Source/ObjectsTransfer/bin/Debug/net5.0/Microsoft.Practices.EnterpriseLibrary.Common.dll
Source/ObjectsTransfer/bin/Debug/net5.0/Microsoft.Practices.ServiceLocation.dll
Source/ObjectsTransfer/bin/Debug/net5.0/Microsoft.Practices.Unity.Configuration.dll
Source/ObjectsTransfer/bin/Debug/net5.0/Microsoft.Practices.Unity.dll
Source/ObjectsTransfer/bin/Debug/net5.0/Microsoft.Practices.Unity.Interception.Configuration.dll
Source/ObjectsTransfer/bin/Debug/net5.0/Microsoft.Practices.Unity.Interception.dll
Source/ObjectsTransfer/bin/Debug/net5.0/Microsoft.Practices.Unity.RegistrationByConvention.dll
Source/ObjectsTransfer/bin/Debug/net5.0/Microsoft.Win32.Registry.AccessControl.dll
Source/ObjectsTransfer/bin/Debug/net5.0/Newtonsoft.Json.dll
Source/ObjectsTransfer/bin/Debug/net5.0/NLog.dll
Source/ObjectsTransfer/bin/Debug/net5.0/NLog.Extensions.Logging.dll
Source/ObjectsTransfer/bin/Debug/net5.0/NLog.Web.AspNetCore.dll
Source/ObjectsTransfer/bin/Debug/net5.0/Npgsql.dll
Source/ObjectsTransfer/bin/Debug/net5.0/ObjectsTransfer.deps.json
Source/ObjectsTransfer/bin/Debug/net5.0/ObjectsTransfer.dll
Source/ObjectsTransfer/bin/Debug/net5.0/ObjectsTransfer.dll.config
Source/ObjectsTransfer/bin/Debug/net5.0/ObjectsTransfer.exe
Source/ObjectsTransfer/bin/Debug/net5.0/ObjectsTransfer.pdb
Source/ObjectsTransfer/bin/Debug/net5.0/ObjectsTransfer.runtimeconfig.dev.json
Source/ObjectsTransfer/bin/Debug/net5.0/ObjectsTransfer.runtimeconfig.json
Source/ObjectsTransfer/bin/Debug/net5.0/Oracle.ManagedDataAccess.dll
Source/ObjectsTransfer/bin/Debug/net5.0/Parser.deps.json
Source/ObjectsTransfer/bin/Debug/net5.0/Parser.dll
Source/ObjectsTransfer/bin/Debug/net5.0/Parser.dll.config
Source/ObjectsTransfer/bin/Debug/net5.0/Parser.exe
Source/ObjectsTransfer/bin/Debug/net5.0/Parser.pdb
Source/ObjectsTransfer/bin/Debug/net5.0/Parser.runtimeconfig.dev.json
Source/ObjectsTransfer/bin/Debug/net5.0/Parser.runtimeconfig.json
Source/ObjectsTransfer/bin/Debug/net5.0/Platform.dll
Source/ObjectsTransfer/bin/Debug/net5.0/protobuf-net.dll
Source/ObjectsTransfer/bin/Debug/net5.0/Serilog.AspNetCore.dll
Source/ObjectsTransfer/bin/Debug/net5.0/Serilog.dll
Source/ObjectsTransfer/bin/Debug/net5.0/Serilog.Enrichers.AspNetCore.dll
Source/ObjectsTransfer/bin/Debug/net5.0/Serilog.Enrichers.AspNetCore.HttpContext.dll
Source/ObjectsTransfer/bin/Debug/net5.0/Serilog.Enrichers.Context.dll
Source/ObjectsTransfer/bin/Debug/net5.0/Serilog.Enrichers.Environment.dll
Source/ObjectsTransfer/bin/Debug/net5.0/Serilog.Enrichers.Memory.dll
Source/ObjectsTransfer/bin/Debug/net5.0/Serilog.Enrichers.Process.dll
Source/ObjectsTransfer/bin/Debug/net5.0/Serilog.Enrichers.Thread.dll
Source/ObjectsTransfer/bin/Debug/net5.0/Serilog.Extensions.Hosting.dll
Source/ObjectsTransfer/bin/Debug/net5.0/Serilog.Extensions.Logging.dll
Source/ObjectsTransfer/bin/Debug/net5.0/Serilog.Formatting.Compact.dll
Source/ObjectsTransfer/bin/Debug/net5.0/Serilog.Settings.Configuration.dll
Source/ObjectsTransfer/bin/Debug/net5.0/Serilog.Sinks.Console.dll
Source/ObjectsTransfer/bin/Debug/net5.0/Serilog.Sinks.Debug.dll
Source/ObjectsTransfer/bin/Debug/net5.0/Serilog.Sinks.File.dll
Source/ObjectsTransfer/bin/Debug/net5.0/Serilog.Sinks.PeriodicBatching.dll
Source/ObjectsTransfer/bin/Debug/net5.0/Serilog.Sinks.Seq.dll
Source/ObjectsTransfer/bin/Debug/net5.0/SerilogTimings.dll
Source/ObjectsTransfer/bin/Debug/net5.0/System.CodeDom.dll
Source/ObjectsTransfer/bin/Debug/net5.0/System.ComponentModel.Composition.dll
Source/ObjectsTransfer/bin/Debug/net5.0/System.Configuration.ConfigurationManager.dll
Source/ObjectsTransfer/bin/Debug/net5.0/System.Data.Odbc.dll
Source/ObjectsTransfer/bin/Debug/net5.0/System.Data.SqlClient.dll
Source/ObjectsTransfer/bin/Debug/net5.0/System.Diagnostics.PerformanceCounter.dll
Source/ObjectsTransfer/bin/Debug/net5.0/System.DirectoryServices.AccountManagement.dll
Source/ObjectsTransfer/bin/Debug/net5.0/System.DirectoryServices.dll
Source/ObjectsTransfer/bin/Debug/net5.0/System.DirectoryServices.Protocols.dll
Source/ObjectsTransfer/bin/Debug/net5.0/System.IO.Packaging.dll
Source/ObjectsTransfer/bin/Debug/net5.0/System.IO.Ports.dll
Source/ObjectsTransfer/bin/Debug/net5.0/System.Management.dll
Source/ObjectsTransfer/bin/Debug/net5.0/System.Runtime.Caching.dll
Source/ObjectsTransfer/bin/Debug/net5.0/System.Security.Cryptography.ProtectedData.dll
Source/ObjectsTransfer/bin/Debug/net5.0/System.ServiceModel.dll
Source/ObjectsTransfer/bin/Debug/net5.0/System.ServiceModel.Duplex.dll
Source/ObjectsTransfer/bin/Debug/net5.0/System.ServiceModel.Http.dll
Source/ObjectsTransfer/bin/Debug/net5.0/System.ServiceModel.NetTcp.dll
Source/ObjectsTransfer/bin/Debug/net5.0/System.ServiceModel.Primitives.dll
Source/ObjectsTransfer/bin/Debug/net5.0/System.ServiceModel.Security.dll
Source/ObjectsTransfer/bin/Debug/net5.0/System.ServiceModel.Syndication.dll
Source/ObjectsTransfer/bin/Debug/net5.0/System.ServiceProcess.ServiceController.dll
Source/ObjectsTransfer/bin/Debug/net5.0/System.Threading.AccessControl.dll
Source/ObjectsTransfer/bin/Debug/net5.0/TextCopy.dll
Source/ObjectsTransfer/bin/Debug/net5.0/WebDriver.dll
Source/ObjectsTransfer/bin/Debug/net5.0/ref/ObjectsTransfer.dll
Source/ObjectsTransfer/bin/Debug/net5.0/runtimes/linux/lib/netcoreapp2.0/System.Data.Odbc.dll
Source/ObjectsTransfer/bin/Debug/net5.0/runtimes/osx/lib/netcoreapp2.0/System.Data.Odbc.dll
Source/ObjectsTransfer/bin/Debug/net5.0/runtimes/unix/lib/netcoreapp2.1/System.Data.SqlClient.dll
Source/ObjectsTransfer/bin/Debug/net5.0/runtimes/unix/lib/netstandard2.0/System.Private.ServiceModel.dll
Source/ObjectsTransfer/bin/Debug/net5.0/runtimes/win/lib/netcoreapp2.0/System.Data.Odbc.dll
Source/ObjectsTransfer/bin/Debug/net5.0/runtimes/win/lib/netcoreapp2.0/System.Diagnostics.PerformanceCounter.dll
Source/ObjectsTransfer/bin/Debug/net5.0/runtimes/win/lib/netcoreapp2.0/System.DirectoryServices.AccountManagement.dll
Source/ObjectsTransfer/bin/Debug/net5.0/runtimes/win/lib/netcoreapp2.0/System.DirectoryServices.dll
Source/ObjectsTransfer/bin/Debug/net5.0/runtimes/win/lib/netcoreapp2.0/System.DirectoryServices.Protocols.dll
Source/ObjectsTransfer/bin/Debug/net5.0/runtimes/win/lib/netcoreapp2.0/System.Management.dll
Source/ObjectsTransfer/bin/Debug/net5.0/runtimes/win/lib/netcoreapp2.1/System.Data.SqlClient.dll
Source/ObjectsTransfer/bin/Debug/net5.0/runtimes/win/lib/netstandard2.0/Microsoft.Win32.Registry.AccessControl.dll
Source/ObjectsTransfer/bin/Debug/net5.0/runtimes/win/lib/netstandard2.0/System.IO.Ports.dll
Source/ObjectsTransfer/bin/Debug/net5.0/runtimes/win/lib/netstandard2.0/System.Private.ServiceModel.dll
Source/ObjectsTransfer/bin/Debug/net5.0/runtimes/win/lib/netstandard2.0/System.Runtime.Caching.dll
Source/ObjectsTransfer/bin/Debug/net5.0/runtimes/win/lib/netstandard2.0/System.Security.Cryptography.ProtectedData.dll
Source/ObjectsTransfer/bin/Debug/net5.0/runtimes/win/lib/netstandard2.0/System.ServiceProcess.ServiceController.dll
Source/ObjectsTransfer/bin/Debug/net5.0/runtimes/win/lib/netstandard2.0/System.Threading.AccessControl.dll
Source/ObjectsTransfer/bin/Debug/net5.0/runtimes/win-arm64/native/sni.dll
Source/ObjectsTransfer/bin/Debug/net5.0/runtimes/win-x64/native/sni.dll
Source/ObjectsTransfer/bin/Debug/net5.0/runtimes/win-x86/native/sni.dll
