.panel-widget {
    width: 400px;
    margin-bottom: 60px;
}

.widget-col {
    padding: 15px 0 10px 0;
}

.panel-title {
    font-size: 24px;
    font-weight: bold;
}
.panel-title > .k-icon,
.panel-title > [class^="fa-"] {
    font-size: 24px;
    padding-right: 10px;
}
.panel.center {
    margin-left: auto;
    margin-right: auto;
}

.table {
    font-size: 20px;
}

.side-panel {
    box-sizing: border-box;
    background-color: #f1f2f3;
    height: calc(100vh - 48px);
    width: 420px;
    padding: 15px;
    border-right: 2px solid #757575;
    font-family: Segoe UI;
}

.side-panel * {
    font-family: Segoe UI, Arial, sans-serif;
}

.department-title {
    font-size: 16px;
    margin-bottom: 30px;
}

.org-title {
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 30px;
}

.side-card {
    font-size: 16px;
    border: 1px solid #808080;
    border-radius: 6px;
    background-color: darkgray;
    color: white;
    margin-bottom: 15px;
    padding: 15px;
}

.dashboard-frame-wrap {
    flex: 1;
}

.mainContent {
    flex-direction: row;
}