@model long

<div style="padding: 10px;">Объединенные счета на сумму <span style="font-weight: bold;" id="sumOpl"></span></div>
<div id="InvoiceGroupGrid"></div>

<script type="text/javascript">
    $(document).ready(function () {
        var invoiceGroupGrid = $('#InvoiceGroupGrid').kendoGrid({
            dataSource: {
                transport: {
                    read: {
                        url: '@Url.Action("GroupRead", "ReestrPayInvoice")',
                        data: { payId: @Model },
                        contentType: 'application/json; charset=utf-8',
                        dataType: 'json'
                    }
                },
                schema: {
                    model: {
                        fields: {
                            PayId: { type: 'number', editable: false },
                            SubjectId: { type: 'number', editable: false },
                            SubjectName: { type: 'string', editable: false },
                            NumInvoice: { type: 'string', editable: false },
                            DateInvoice: { type: 'date', editable: false },
                            SumOpl: { type: 'number', editable: false }
                        }
                    }
                }
            },
            scrollable: false,
            detailInit: detailInit,
            dataBound: function () {
                var sumOpl = 0,
                    items = invoiceGroupGrid.dataItems();

                if (items) {
                    items.forEach(function (item) {
                        if (item.SumOpl) {
                            sumOpl += item.SumOpl;
                        }
                    });
                }

                $('#sumOpl').text(kendo.toString(sumOpl, 'n2'));
            },
            columns: [
                {
                    title: 'Получатель',
                    template: '#: SubjectName != null ? SubjectName : ""#',
                    attributes: { style: 'text-align: left; white-space: normal !important;' }
                },
                {
                    title: 'Номер счета',
                    template: '#: NumInvoice != null ? NumInvoice : ""#',
                    attributes: { style: 'text-align: left;' },
                    width: '15%'
                },
                {
                    title: 'Дата счета',
                    template: '#: DateInvoice != null ? kendo.toString(DateInvoice, "dd.MM.yyyy") : "" #',
                    attributes: { style: 'text-align: left;' },
                    width: '15%'
                },
                {
                    field: 'SumOpl',
                    title: 'Сумма счета',
                    width: '15%',
                    template: '#: SumOpl != null ? kendo.toString(SumOpl, "n2") : "0" #',
                    attributes: { style: 'text-align: right; font-weight: bold;' }
                }
            ]
        }).data('kendoGrid');

        function detailInit(e) {
            $('<div/>').appendTo(e.detailCell).kendoGrid({
                dataSource: {
                    transport: {
                        read: {
                            url: '@Url.Action("GroupDetailRead", "ReestrPayInvoice")',
                            data: { payId: @Model, SubjectName: e.data.SubjectName, NumInvoice: e.data.NumInvoice, DateInvoice: kendo.toString(e.data.DateInvoice, 's') },
                            contentType: 'application/json; charset=utf-8',
                            dataType: 'json'
                        }
                    },
                    schema: {
                        model: {
                            fields: {
                                InvoiceId: {type: 'number', editable: false },
                                PayId: { type: 'number', editable: false },
                                ContractNumber: { type: 'string', editable: false },
                                Address: { type: 'string', editable: false },
                                SumOpl: { type: 'number', editable: false }
                            }
                        }
                    }
                },
                scrollable: false,
                columns: [
                    {
                        field: 'ContractNumber', title: 'Номер договора', width: '25%', attributes: { style: 'text-align: left; white-space: normal !important;' },
                        template: '<a href="/ObjectCard?ObjId=#: ContractId #&RegisterViewId=Contracts&isVertical=true&useMasterPage=true" target="_blank">#: ContractNumber #</a>'
                    },
                    { field: 'Address', title: 'Адрес', attributes: { style: 'text-align: left; white-space: normal !important;' } },
                    {
                        field: 'SumOpl',
                        title: 'Сумма счета',
                        width: '13%',
                        template: '#: SumOpl != null ? kendo.toString(SumOpl, "n2") : "0" #',
                        attributes: { style: 'text-align: right; font-weight: bold;' }
                    }
                ]
            });
        }
    });
</script>
