<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<appSettings>
		
		<add key="ConnectionString" value="Server=localhost;Port=5432;Database=parser_kad_ozenka;User Id=parser_kad_ozenka;Password=parser_kad_ozenka;"/>
		
		<!--CIAN private-->
		<add key="Cian_private_all_outer_element" value="//div[@data-name='Offers']"/>
		<add key="Cian_private_all_inner_element" value=".//article[@data-name='CardComponent']"/>
		<add key="Cian_private_link_outer_element" value=".//div[@data-name='LinkArea']"/>
		<add key="Cian_private_link_inner_element" value=".//a[contains(@class, '-link-')]"/>
		<add key="Cian_private_image_galery_element" value=".//div[@data-name='Gallery']"/>
		<add key="Cian_private_images_element" value=".//img[@decoding='async']"/>
		<add key="Cian_private_title_element" value=".//span[@data-mark='OfferTitle']"/>
		<add key="Cian_private_subtitle_element" value=".//span[@data-mark='OfferSubtitle']"/>
		<add key="Cian_private_residential_complex_outer_element" value=".//div[@data-name='LinkArea']"/>
		<add key="Cian_private_residential_complex_inner_element" value=".//a[contains(@class, '-jk-')]"/>
		<add key="Cian_private_residential_complex_link_outer_element" value=".//div[@data-name='LinkArea']"/>
		<add key="Cian_private_residential_complex_link_inner_element" value=".//a[contains(@class, '-jk-')]"/>
		<add key="Cian_private_metro_stations_outer_element" value=".//div[@data-name='SpecialGeo']"/>
		<add key="Cian_private_metro_stations_inner_element" value=".//a[contains(@class, '-link-')]"/>
		<add key="Cian_private_metro_station_space_outer_element" value=".//div[@data-name='SpecialGeo']"/>
		<add key="Cian_private_metro_station_space_inner_element" value=".//div[contains(@class, 'remoteness')]"/>
		<add key="Cian_private_address_element" value=".//div[contains(@class, '-labels-')]"/>
		<add key="Cian_private_text_price" value=".//span[@data-mark='MainPrice']"/>
		<add key="Cian_private_text_price_per_area" value=".//p[@data-mark='PriceInfo']"/>
		<add key="Cian_private_description" value=".//div[contains(@class, '-description-')]"/>

		<!--CIAN commercial-->
		<add key="Cian_commercial_all_outer_element" value="//div[@data-name='Offers']"/>
		<add key="Cian_commercial_all_inner_element" value=".//div[@data-name='CommercialOfferCard']"/>
		<add key="Cian_commercial_link_outer_element" value=".//h3[contains(@class, '-header-title-')]"/>
		<add key="Cian_commercial_link_inner_element" value=".//a[contains(@class, '-header-link-')]"/>
		<add key="Cian_commercial_image_galery_element" value=".//div[@data-name='Gallery']"/>
		<add key="Cian_commercial_images_element" value=".//img[@data-name='GalleryImage']"/>
		<add key="Cian_commercial_title_element" value=".//a[contains(@class, '-header-link-')]"/>
		<add key="Cian_commercial_subtitle_element" value=".//div[contains(@class, '-header-subtitle-')]"/>
		<add key="Cian_commercial_residential_complex_outer_element" value=".//div[@data-name='Address']"/>
		<add key="Cian_commercial_residential_complex_inner_element" value=".//a[contains(@class, '-building-link-')]"/>
		<add key="Cian_commercial_residential_complex_link_outer_element" value=".//div[@data-name='Address']"/>
		<add key="Cian_commercial_residential_complex_link_inner_element" value=".//a[contains(@class, '-building-link-')]"/>
		<add key="Cian_commercial_metro_stations_outer_element" value=".//div[@data-name='Underground']"/>
		<add key="Cian_commercial_metro_stations_inner_element" value=".//div[contains(@class, '-underground-name-')]"/>
		<add key="Cian_commercial_metro_station_space_outer_element" value=".//div[@data-name='Underground']"/>
		<add key="Cian_commercial_metro_station_space_inner_element" value=".//div[contains(@class, '-remoteness-')]"/>
		<add key="Cian_commercial_address_element" value=".//div[contains(@class, '-address-path-')]"/>
		<add key="Cian_commercial_text_price" value=".//li[contains(@class, '-header-subTerm-item-')]"/>
		<add key="Cian_commercial_text_price_per_area" value=".//div[@data-name='getWithSquareMeters']"/>
		<add key="Cian_commercial_description" value=".//div[@data-name='Description']"/>

		<!--Avito commercial-->
		<add key="Avito_commercial_all_outer_element" value="//div[@data-marker='catalog-serp']"/>
		<add key="Avito_commercial_all_inner_element" value=".//div[@data-marker='item']"/>
		<add key="Avito_commercial_link_outer_element" value=".//div[contains(@class, 'iva-item-titleStep')]"/>
		<add key="Avito_commercial_link_inner_element" value=".//a[@itemprop='url']"/>
		<add key="Avito_commercial_image_galery_element" value=".//ul[contains(@class, 'photo-slider-list')]"/>
		<add key="Avito_commercial_images_element" value=".//img[@itemprop='image']"/>
		<add key="Avito_commercial_title_element" value=".//span[@itemprop='name']"/>
		<add key="Avito_commercial_subtitle_element" value=".//no-such-element[@no-such-element='no-such-element']"/>
		<add key="Avito_commercial_residential_complex_outer_element" value=".//div[@data-marker='item-address']"/>
		<add key="Avito_commercial_residential_complex_inner_element" value=".//div[@data-marker='item-development-name']"/>
		<add key="Avito_commercial_residential_complex_link_outer_element" value=".//no-such-element[@no-such-element='no-such-element']"/>
		<add key="Avito_commercial_residential_complex_link_inner_element" value=".//no-such-element[@no-such-element='no-such-element']"/>
		<add key="Avito_commercial_metro_stations_outer_element" value=".//div[contains(@class, 'geo-georeferences')]"/>
		<add key="Avito_commercial_metro_stations_inner_element" value=".//span[not(@class)]"/>
		<add key="Avito_commercial_metro_station_space_outer_element" value=".//div[contains(@class, 'geo-georeferences')]"/>
		<add key="Avito_commercial_metro_station_space_inner_element" value="(.//span[not(@class)])[2]"/>
		<add key="Avito_commercial_address_element" value=".//span[contains(@class, 'geo-address')]"/>
		<add key="Avito_commercial_text_price" value=".//span[contains(@class, 'price-text')]"/>
		<add key="Avito_commercial_text_price_per_area" value=".//no-such-element[@no-such-element='no-such-element']"/>
		<add key="Avito_commercial_description" value=".//div[contains(@class, 'iva-item-description')]"/>
		
		<!--Yandex property commercial-->
		<add key="YandexProterty_commercial_all_outer_element" value="//ol[contains(@class, '_list')]"/>
		<add key="YandexProterty_commercial_all_inner_element" value=".//li[contains(@class, '_list-item_type_offer')]"/>
		<add key="YandexProterty_commercial_link_outer_element" value=".//div[contains(@class, '_generalInfo')]"/>
		<add key="YandexProterty_commercial_link_inner_element" value=".//a[contains(@class, 'SerpItemLink')]"/>
		<add key="YandexProterty_commercial_image_galery_element" value=".//div[@class='Gallery__items']"/>
		<add key="YandexProterty_commercial_images_element" value=".//img[contains(@src, 'yandex')]"/>
		<add key="YandexProterty_commercial_title_element" value=".//h3[contains(@class, 'Item__title')]"/>
		<add key="YandexProterty_commercial_subtitle_element" value=".//div[contains(@class, 'Item__building')]"/>
		<add key="YandexProterty_commercial_residential_complex_outer_element" value=".//div[contains(@class, 'Item__building')]"/>
		<add key="YandexProterty_commercial_residential_complex_inner_element" value=".//a[contains(@class, 'Link_js_inited')]"/>
		<add key="YandexProterty_commercial_residential_complex_link_outer_element" value=".//div[contains(@class, 'Item__building')]"/>
		<add key="YandexProterty_commercial_residential_complex_link_inner_element" value=".//a[contains(@class, 'Link_js_inited')]"/>
		<add key="YandexProterty_commercial_metro_stations_outer_element" value=".//span[@class='MetroStation']"/>
		<add key="YandexProterty_commercial_metro_stations_inner_element" value=".//span[@class='MetroStation__title']"/>
		<add key="YandexProterty_commercial_metro_station_space_outer_element" value=".//span[@class='MetroStation']"/>
		<add key="YandexProterty_commercial_metro_station_space_inner_element" value=".//span[@class='MetroWithTime__distance']"/>
		<add key="YandexProterty_commercial_address_element" value=".//div[contains(@class, 'Item__address')]"/>
		<add key="YandexProterty_commercial_text_price" value=".//span[@class='price']"/>
		<add key="YandexProterty_commercial_text_price_per_area" value=".//div[contains(@class, 'Item__price-detail')]"/>
		<add key="YandexProterty_commercial_description" value=".//p[contains(@class, 'Item__description')]"/>
	
	</appSettings>
</configuration>