@using Newtonsoft.Json

@model List<string>

@if (Model.Count == 0)
{
    <div class="form-horizontal col-sm-12">
        <div class="form-group">
            <div class="col-sm-12">
                @Html.Label("Операция учета суммы начисления/зачисления на ФСП выполнена успешно")
            </div>
        </div>
    </div>
}
else
{
    <div class="form-horizontal col-sm-12">
        <div class="form-group">
            <div class="col-sm-12">
                @Html.Label("Операция учета суммы начисления/ зачисления на ФСП не выполнена")
            </div>
        </div>
    </div>
}

<script type="text/javascript">
    var errors = @Html.Raw(JsonConvert.SerializeObject(Model));

    $(document).ready(function () {
        if (window.parent.$("#registerModalWindow").length && window.parent.$("#registerModalWindow").data("kendoWindow") != undefined) {
            window.parent.$("#registerModalWindow").data("kendoWindow").unbind('close');
            window.parent.$("#registerModalWindow").data("kendoWindow").bind('close', function () {
                if (window.parent != null && window.parent.parent != null) {
                    Common.UI.CloseWindow('registerModalWindow', window.parent.parent);
                }
            });
        }

        if (errors && errors.length > 0) {
            Common.ShowError(errors.join('<br>'));
        }
    });
</script>
