@using Newtonsoft.Json;

@model List<long>


<div id="recalcFspToolbar"></div>
<div class="form-horizontal col-sm-12">
    <div class="form-group"></div>
    <div class="form-group">
        <div class="col-sm-12">
            @Html.CustomLabel("Вы уверены что хотите перерассчитать выбранные ФСП на текущий период?", false)
        </div>
    </div>
</div>

<script type="text/javascript">
    var fspIds = @Html.Raw(JsonConvert.SerializeObject(Model));
    $(document).ready(function () {
        $('#recalcFspToolbar').kendoToolBar({
            items: [
                {
                    type: 'button',
                    text: 'Перерассчитать',
                    icon: 'check',
                    click: function () {
                        Common.ClearNotification();
                        kendo.ui.progress($('body'), true);

                        if (fspIds == null || fspIds.length == 0) {
                            Common.ShowError('Не удалось определить выбранные ФСП');
                        }

                        $.ajax({
                            url: '@Url.Action("Recalc", "Fsp")',
                            type: 'POST',
                            contentType: 'application/json',
                            data: JSON.stringify(fspIds),
                            dataType: 'json',
                            success: function (e) {
                                kendo.ui.progress($('body'), false);

                                Common.ShowMessage('Операция успешно выполнена');
                                Common.UI.CloseWindow('registerModalWindow', window.parent);
                            },
                            error: function(e) {
                                kendo.ui.progress($('body'), false);
                                Common.ShowError(e.responseText);
                            }
                        });
                    }
                },
                {
                    type: 'button',
                    text: 'Отмена',
                    icon: 'cancel',
                    click: function () {
                        Common.UI.CloseWindow('registerModalWindow', window.parent);
                    }
                }
            ]
        });
    });
</script>
