@model List<ObjectModel.Insur.OMFsp>
<style>html,body,form {height:100%}</style>
<form method="post" action="@Url.Action("UnlinkFlat", "Fsp")">
    @foreach (var fsp in Model)
    {
        <input type="hidden" name="fspIds[]" value="@fsp.EmpId" />
    }
    <div class="window-content">Внимание! Вы подтверждаете что для выбранных @Model.Count ФСП (@string.Join("; ", Model.Select(x => x.FspNumber))) будет удалена связь с помещением?</div>
    <div class="window-footer">
        <div class="window-footer-toolbar">
            <button class="k-button k-primary" type="submit">OK</button>
            <button class="k-button" type="button" onclick="wnd.close()">Отмена</button>
        </div>
    </div>
</form>
<script>
    var wnd = Common.UI.GetWindow('registerModalWindow', window.parent);
</script>