@using Newtonsoft.Json;
@using CIPJS.Models.Documents;

@model BaseDocumentEditDto

<div id="toolbar"></div>
<form method="post" action="BaseDocumentEdit">
    <div class="form-horizontal col-sm-12">
        <div class="form-group"></div>
        <div class="form-group">
            <div class="col-sm-2">
                @Html.CustomLabelFor(x => x.DocumentBase)
            </div>
            <div class="col-sm-4">
                @Html.KendoTextBoxFor(x => x.DocumentBase, false)
            </div>
        </div>
    </div>
</form>

<script type="text/javascript">
    $(document).ready(function () {
        var model = @Html.Raw(JsonConvert.SerializeObject(Model));

        $('#toolbar').kendoToolBar({
            items: [
                {
                    type: 'button',
                    text: 'Сохранить',
                    icon: 'check',
                    click: function () {
                        Common.ClearNotification();
                        kendo.ui.progress($('body'), true);

                        $.ajax({
                            url: '@Url.Action("BaseDocumentEdit", "Documents")',
                            type: 'POST',
                            data: {
                                Id: model.Id,
                                Order: model.Order,
                                NeedSetDate: model.NeedSetDate,
                                Type: model.Type,
                                DocumentBase: $('#DocumentBase').val()
                            },
                            success: function(e) {
                                kendo.ui.progress($('body'), false);
                                if (e.Errors && e.Errors.length > 0) {
                                    Common.ShowError(e.Errors.join('<br>'));
                                } else {
                                    Common.ShowMessage('Операция успешно выполнена');
                                    Common.UI.CloseWindow('registerModalWindow', window.parent);
                                }
                            },
                            error: function(e) {
                                kendo.ui.progress($('body'), false);
                                Common.ShowError(e.responseText);
                            }
                        });
                    }
                },
                {
                    type: 'button',
                    text: 'Отмена',
                    icon: 'cancel',
                    click: function () {
                        Common.UI.CloseWindow('registerModalWindow', window.parent);
                    }
                }
            ]
        });
    });
</script>