@using CIPJS.DAL.DamageAmount;

@model long?

<div id="DamageAssessments">
</div>

<style>
    .k-reset {
        font-weight: normal;
    }

    .k-grid td {
        white-space: normal;
    }
</style>

<script>
    $(function () {
        var dataSource = new kendo.data.DataSource({
            transport: {
                read: {
                    url: '@Url.Action("DamageInformationRead", "DamageAmount")',
                    data: { damageId: '@Model' },
                    contentType: 'application/json; charset=utf-8',
                    dataType: 'json'
                },
                parameterMap: function (options, operation) {
                    var parameters = { damageId: options.damageId };
                    if (operation !== "read" && options.models) {
                        parameters.models = kendo.stringify(options.models);
                    }
                    return parameters;
                }
            },
            batch: true,
            schema: {
                model: {
                    fields: {
                        ElementOfConstruction: { editable: false },
                        DamageSymptom: { editable: false, defaultValue: null },
                        MaterialDamageRange: { editable: false, type: 'string', defaultValue: null },
                        MaterialDamage: { editable: false, type: "number", defaultValue: null },
                        WorkComposition: { editable: false, defaultValue: null }
                    }
                }
            }
        });

        $('#DamageAssessments').kendoGrid({
            dataSource: dataSource,
            columns: [
                {
                    field: 'ElementOfConstruction',
                    title: 'Оценка материального ущерба',
                    template: '#: data.ElementOfConstruction != null ? data.ElementOfConstruction : ""#',
                    width: "30%"
                },
                {
                    field: 'DamageSymptom',
                    title: 'Признаки  ущерба',
                    template: '#: data.DamageSymptom != null ? data.DamageSymptom : ""#',
                    width: "20%"
                },
                {
                    field: 'MaterialDamageRange',
                    title: 'Разброс',
                    template: '#: data.MaterialDamageRange != null ? data.MaterialDamageRange : ""#',
                    width: "10%"
                },
                {
                    field: 'MaterialDamage',
                    title: 'Материальный ущерб, %',
                    template: Common.UI.CustomTemplate('MaterialDamage', '#: MaterialDamage ? kendo.toString(MaterialDamage, "n2") : ""#'),
                    attributes: { style: 'text-align: right' },
                    width: "10%"
                },
                {
                    field: 'WorkComposition',
                    title: 'Примерный состав работ для устранения ущерба',
                    template: '#: data.WorkComposition != null ? data.WorkComposition : ""#',
                    width: "30%"
                }
            ],
            height: '100%',
            scrollable: false,
            resizable: true,
        });
    });
</script>