@model long?

<div id="toolbar"></div>
<div style="padding: 10px;">Вы действительно хотите удалить дело @ViewBag.NumAndDate ?</div>

<script>
    $(document).ready(function () {
        $('#toolbar').kendoToolBar({
            items: [
                {
                    type: 'button',
                    text: 'Удалить',
                    icon: 'check',
                    click: function (e) {
                        Common.ClearNotification();
                        kendo.ui.progress($('body'), true);

                        $.ajax({
                            url: '@Url.Action("Delete", "DamageAnalysis")',
                            type: 'POST',
                            data: { damageId: @Model },
                            dataType: 'json',
                            success: function () {
                                kendo.ui.progress($('body'), false);
                                Common.UI.CloseWindow('registerModalWindow', window.parent);
                            },
                            error: function (e) {
                                kendo.ui.progress($('body'), false);
                                Common.ShowError(e.responseText);
                            }
                        });
                    }
                }
            ]
        });
    });
</script>