<?xml version="1.0" encoding="utf-8" ?>
<configuration>

	<appSettings>
		<add key="CoreConfigRootDirectory" value="..\..\..\..\EmbeddedResource\Config" />
		<add key="useJsonConfig" value="true" />
	</appSettings>

	<connectionStrings>
		<add name="Main" connectionString="Host=localhost;Port=5450;Username=postgres;Password=miomo_dev;Database=postgres;CommandTimeout=0;Keepalive=30;enlist=true;" providerName="Npgsql"/>
	</connectionStrings>
	
</configuration>