<?xml version="1.0" encoding="utf-8" ?>
<configuration>

	<connectionStrings>
		<add name="Main" connectionString="Host=localhost;Port=5439;Username=postgres;Password=miomo_local;Database=postgres;CommandTimeout=0;Keepalive=30;enlist=true;" providerName="Npgsql"/>
	</connectionStrings>


	<appSettings>
		<add key="CoreConfigDeployKey" value="Dev" />
		<add key="CoreConfigRootDirectory" value="..\..\..\..\..\EmbeddedResource\Config" />

		  <add key="Mode" value="General" />
	    <!--<add key="Mode" value="Analogs" />-->
	    <!--<add key="Mode" value="Modeling" />-->
	    <add key="EnumFilePath" value="..\..\..\..\..\KadOzenka.ObjectModelEnum\" />
		<add key="ReferenceFilter" value="r.name not like 'Core.%'" />
	</appSettings>

</configuration>