<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="CoreConfigRootDirectory" value="C:\Users\silanov\Documents\TFS\CIPJS\KadOzenka\Source\KadOzenka.Web\Config" />
    <!--<add key="CoreConfigRootDirectory" value="C:\TFSProjects\CIPJS\KadOzenka\Source\KadOzenka.Web\Config" />-->
    
    <add key="CoreConfigDeployKey" value="Dev" />
    
    
    <add key="CipjsGenerate" value="true" />
    <add key="ProviderName" value="Npgsql" />
    <add key="ConnectionString" value="Host=192.168.3.64;Port=5432;Username=cipjs_kad_ozenka;Password=cipjs_kad_ozenka;Database=cipjs_kad_ozenka;CommandTimeout=0;Keepalive=30;enlist=true;" />
    <add key="Filter" value="r.registername not like 'Core.%'" />
    
    <add key="Path" value="C:\Users\silanov\Documents\TFS\CIPJS\KadOzenka\Source\KadOzenka.ObjectModel\" />
    <!--<add key="Path" value="C:\TFSProjects\CIPJS\KadOzenka\Source\KadOzenka.Dal\KadOzenka.ObjectModel\" />-->
    
  </appSettings>
</configuration>