<?xml version="1.0" encoding="utf-8" ?>
<configuration>

	<configSections>
		<section name="RegisteredModes" type="GenerateObjectModel.XmlParsingSupport.RegisterModesConfig, GenerateObjectModel"/>
	</configSections>


	<RegisteredModes>
		<Modes>
			<Mode type="General" 
			      registerFilter="r.registername not like 'Core.%' and r.registername not like 'SPD.%' and r.registername not like 'KO.TourZuFactors%' and r.registername not like 'KO.TourOksFactors%' and r.registername not like 'Gbu.Custom%' 
					 and r.registername not like 'Gbu.CodDictionary%'
					 and r.registerid not in ({0})" 
			      path="..\..\..\..\..\KadOzenka.ObjectModel\"
			      fileNameStarting="ObjectModel"/>

			<Mode type="Analogs"
			      registerFilter="r.registerid in ({0})"
			      path="..\..\..\..\..\MarketPlaceBusiness\ORM\"
			      fileNameStarting="MarketPlaceObjectModel"/>
		</Modes>
	</RegisteredModes>


	<connectionStrings>
		<add name="Main" connectionString="Host=localhost;Port=5450;Username=postgres;Password=miomo_dev;Database=postgres;CommandTimeout=0;Keepalive=30;enlist=true;" providerName="Npgsql"/>
	</connectionStrings>


	<appSettings>
		<add key="CoreConfigDeployKey" value="Dev" />
		<add key="CoreConfigRootDirectory" value="..\..\..\..\..\EmbeddedResource\Config" />

		<!--<add key="Mode" value="General" />-->
	    <add key="Mode" value="Analogs" />
	    <add key="EnumFilePath" value="..\..\..\..\..\KadOzenka.ObjectModelEnum\" />
	</appSettings>

</configuration>