@using KadOzenka.Web.Helpers
@model List<KadOzenka.Web.Models.GbuObject.PartialAttribute>
@{
    var startRowNumber = (int) ViewData["StartRowNumber"];
    var rowCount = (int)ViewData["RowCount"];
}
@for (int rowNumber = startRowNumber, i = 0; rowNumber < startRowNumber + rowCount; rowNumber++, i++)
{
    <!--TODO взять из вьюки с одной строкой-->
    <div class="row">
        <div class="col-sm-5">
            @Html.KendoDropDownListTreeWithButton(m => m[i].Attributes.IdFrom, (IEnumerable<DropDownTreeItemModel>) ViewData["TreeAttributes"], idPrefix: "_" + rowNumber)
        </div>
        <div class="col-sm-5 col-sm-offset-1">
            @Html.KendoDropDownListTreeWithButton(m => m[i].Attributes.IdTo, (IEnumerable<DropDownTreeItemModel>) ViewData["TreeAttributes"], idPrefix: "_" + rowNumber)
        </div>
    </div>

}
