@using KadOzenka.Web.Helpers
@model KadOzenka.Web.Models.GbuObject.PartialNewHarmonizationLevel

<fieldset class="attrLevelFieldset">
    @Html.Hidden("LevelNumber_" + Model.RowNumber, Model.LevelNumber)
    <legend>@Model.LevelNumber уровень</legend>
    <div class="col-sm-2">
        @Html.CustomLabel("Характеристика")
    </div>
    <div class="col-sm-10">
        @Html.KendoDropDownListTreeWithButton(m => m.AttributeId, (IEnumerable<DropDownTreeItemModel>) ViewData["TreeAttributes"], idPrefix: "_" + Model.RowNumber)
    </div>
</fieldset>
