.title-group {
  padding: 16px;
}

.inner-wrapper {
    padding: 15px 0 130px;
    width: 100%;
  }
  
.inner-wrapper mat-card {
  display: inline-block;
  margin: 0 6% 0 0;
  vertical-align: top;
  width: 44%;
}

.controlers-wrapper>* {
  width: 100%;
  padding: 0;
}

.example-full-width {
  width: 100%;
}

.full-wrapper {
  width: 100%;
}

.button-wrapper {
  margin: 20px 0 0 0;
}

.button-wrapper button {
  margin-right: 5px;
}