@model KadOzenka.Web.Models.GbuCod.CodDictionaryUpdatingModel


@using (Html.BeginForm("CodJobObjectCard", "GbuCod", FormMethod.Post))
{
    <div class="form-horizontal" style="padding: 2%;">
        @{
            await Html.RenderPartialAsync("/Views/GbuCod/Partials/_GeneralCodDictionaryInfo.cshtml", Model);
        }
        
		@{
            
		}

        <div class="form-group">
            <div class="col-sm-12">
                <button style="float: right" class="k-button" id="update" type="button">Сохранить</button>
            </div>
        </div>
    </div>
}

<div style="height: auto;">
    <div class="ajax-data-loading" data-request-type="GET" data-url="@Url.Content("~/RegistersView/GbuCodDictionary?Transition=1&21400200=" + @Model.Id)"
         data-param-CodJobId="@Model.Id" data-param-Pageable="true" data-param-Scrollable="true"
         data-param-partialview="true" data-loader="true" data-onsuccess="resizeGrid214"></div>
</div>

<style>
    #sidePanel-214 {
        min-height: 440px;
    }

    .contentPanel {
        height: auto;
    }
</style>

<script src="~/js/custom-validation.js"></script>
<script type="text/javascript">
    var valuePrefix = "value_";

    $(document).ready(function () {
        $('#update').on('click', updateDictionary);
    });





    function updateDictionary() {
        kendo.ui.progress($('body'), true);
        var form = $('form');
        var formObject = Common.Functions.FormToObject(form);
        $.post(form.attr('action'), formObject).done(function (response) {
            if (response.Errors) {
                var errors = getErrors(response.Errors);
                Common.ShowError(errors);
                return;
            }
            Common.ShowMessage("Обновление выполнено");
        }).fail(function (response, textStatus, errorThrown) {
            Common.ShowError(response.responseText);
        }).always(function () {
            kendo.ui.progress($('body'), false);
        });
    }

    //для совместимости с основной вьюшкой (см коммент там)
    function onValuesCountChange() {

    }

</script>