

    <div class="form-horizontal col-sm-12">
        <div class="form-group"></div>
        <div class="form-group">
            <div class="col-sm-12">
                @Html.CustomLabel($"Вы уверены что хотите удалить справочник ЦОД '{ViewBag.DictionaryName}'?")
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-12">
                <button class="k-button k-button-icontext" style="float: right" id="delete" type="button">
                    <span class="k-icon k-i-check"></span>Удалить
                </button>
            </div>
        </div>
    </div>
    
    
    

    <script>
    $(document).ready(function () {
        $('#delete').on('click', deleteDictionary);
    });


    function deleteDictionary() {
        kendo.ui.progress($('body'), true);
        $.ajax({
            type: 'DELETE',
            url: '@Url.Action("DoDeleteDictionary", "GbuCod", new { dictionaryId = ViewBag.DictionaryId })',
            success: function(response) {
                if (response.Errors) {
                    var errors = getErrors(response.Errors);
                    Common.ShowError(errors);
                    return;
                }
                Common.ShowMessage("Словарь удален");
                CloseMainWindow();
            },
            error: function(response) {
                Common.ShowError(response.responseText);
            },
            complete: function() {
                kendo.ui.progress($('body'), false);
            }
        });
    }


    function CloseMainWindow() {
        setTimeout(function () {
            window.parent.parent.location.reload();
        }, 1000);
    }
</script>