<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<appSettings>
		<add key="CoreConfigRootDirectory" value="Config;ConfigCore" />
		<add key="CoreConfigDeployKey" value="Dev" />
		<add key="CoreConfigDeployKeyAdditional" value="" />
		<add key="CoreAttachmentStorage" value="" />
		<add key="StartLongProcessService" value="false" />
		<add key="CoreFileLoggerName" value="" />
		<add key="YandexLink" value="" />
	</appSettings>
	<connectionStrings />
</configuration>