<?xml version="1.0" encoding="utf-8"?>
<configuration>
  
  <appSettings>
    <add key="CoreConfigRootDirectory" value="Config;ConfigCore" />
    
    <!--Dev-->
    <add key="CoreConfigDeployKey" value="Dev" />
    <!--Prod-->
    <!--<add key="CoreConfigDeployKey" value="Prod" />-->
    <!--Ppr-->
    <!--<add key="CoreConfigDeployKey" value="Ppr" />-->
    <!--Ppr2-->
    <!--<add key="CoreConfigDeployKey" value="Ppr" />
    <add key="CoreConfigDeployKeyAdditional" value="Ppr2" />-->
    
    <add key="CoreConfigDeployKeyAdditional" value="" />
    <add key="CoreFileLoggerName" value="C:\logs\errors.log" />

    <add key="StartLongProcessService" value="false" />
    
    <add key="CoreAttachmentStorage" value="FILE" />
    <add key="CoreAttachmentStorage" value="\\192.168.3.67\Storages\CipJsKo\" />
	<add key="YandexLink" value="http://${AppData.ProxyIpDev}/?protocol=${AppData.protocol}&#038;version=${AppData.version}&#038;lang=${AppData.lang}&#038;key=${AppData.key}" />
    <!--<add key="YandexLink" value="${AppData.protocol}://api-maps.yandex.ru/${AppData.version}/?apikey=${AppData.key}&#038;lang=${AppData.lang}" />-->
    <!--Prod-->
    <!--<add key="CoreAttachmentStorage" value="D:\GKO_Storage\Storages\CipJsKo\" />-->
    <!--Ppr-->
    <!--<add key="CoreAttachmentStorage" value="D:\GKO_Storage\Storages\CipJsKo\" />-->
    <!--<add key="YandexLink" value="http://${AppData.ProxyIp}/?protocol=${AppData.protocol}&#038;version=${AppData.version}&#038;lang=${AppData.lang}&#038;key=${AppData.key}" />-->
    <!--Ppr2-->
    <!--<add key="CoreAttachmentStorage" value="D:\GKO_Storage\Storages\CipJsKo2\" />-->

  </appSettings>

  <connectionStrings>
	<!--Dev-->
	<add name="Main" connectionString="Host=82.148.19.91;Port=5435;Username=postgres;Password=n9IDPom1;Database=postgres;CommandTimeout=0;Keepalive=30;enlist=true;" providerName="Npgsql"/>
  </connectionStrings>
  
</configuration>