<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  
  <appSettings>
    
    <add key="CoreConfigDeployKeyAdditional" value="" />
    <add key="CoreFileLoggerName" value="C:\logs\errors.log" />

    <!--Настройки RestApp-->
    <add key="restAppMinuteLimits" value="1"/>
    <add key="restAppDealTypeCIAN" value="1,2"/>
    <add key="restAppRegionIDsCIAN" value="1"/>
    <add key="restAppLogin001" value="practice092434@gmail.com"/>
    <add key="restAppToken001" value="c6b5732ec5e6d8f43a78e73206b2c3e9"/>
    <add key="restAppMetaLink" value="https://rest-app.net/api/info?login={0}&amp;token={1}"/>
    <add key="restAppCIANLink" value="https://rest-app.net/api-cian/ads?login={0}&amp;token={1}&amp;category_id=3&amp;deal_id={2}&amp;region_id={3}&amp;date1={4}&amp;date2={5}"/>
    <add key="restAppAvitoLink" value="https://rest-app.net/api/ads?login={0}&amp;token={1}&amp;category_id={2}&amp;region_id={3}&amp;date1={4}&amp;date2={5}"/>
    <add key="restAppTimeTmp" value="yyyy-MM-dd HH:mm:ss"/>
    <!--Настройки Yandex GeoCoder-->
    <add key="YandexLimit" value="25000"/>
    <!--<add key="GeocodeTestSpecial" value="d6b95aa5-a105-4988-9563-6504f6316d3b"/>-->
    <!--<add key="GeocodeTest0000" value="d6b95aa5-a105-4988-9563-6504f6316d3b"/>-->
    <add key="GeocodeTestSpecial" value="364a064a-ad89-403c-9e2b-abe8c3b8715b"/>
    <add key="GeocodeTest0000" value="364a064a-ad89-403c-9e2b-abe8c3b8715b"/>
    <add key="geocodeLink" value="https://geocode-maps.yandex.ru/1.x/?apikey={0}&amp;geocode={1},{2}&amp;format=json&amp;results=1&amp;kind=house"/>
    <add key="geocodeLinkAddress" value="https://geocode-maps.yandex.ru/1.x/?apikey={0}&amp;geocode={1}&amp;format=json&amp;results=1&amp;kind=house"/>
    <!--Настройки парсера ЦИАН-а-->
    <add key="checkCIANUnpublished" value="return document.contains(document.querySelector('div[data-name=&quot;OfferUnpublished&quot;]'));"/>
    <add key="isAuction" value="return document.contains(document.querySelector(&quot;span[class*='price-container-auction']&quot;));"/>
    <add key="checkCIANError" value="return document.contains(document.querySelector(&quot;h5.error-code&quot;));"/>
    <add key="checkCIAN505Page" value="return document.contains(document.querySelector('main header h1'));"/>
    <add key="isCorridor" value="return document.contains(document.querySelector('span[itemprop=&quot;highPrice&quot;]'));"/>
    <add key="getCIANCurrency" value="return document.querySelector('span[itemprop=&quot;priceCurrency&quot;]').getAttribute(&quot;content&quot;);"/>
    <add key="getCIANLowPrice" value="return Number.parseInt(document.querySelector('span[itemprop=&quot;lowPrice&quot;]').innerText.replace(/[^0-9]/g, ''));"/>
    <add key="getCIANHighPrice" value="return Number.parseInt(document.querySelector('span[itemprop=&quot;highPrice&quot;]').innerText.replace(/[^0-9]/g, ''));"/>
    <add key="getCIANPrice" value="return Number.parseInt(document.querySelector('span[itemprop=&quot;price&quot;]').innerText.replace(/[^0-9]/g, ''));"/>

    <add key="screenShotFolder" value="MarketObjectScreenShot"/>
    <add key="ScreenshotsFolder" value="C:\Users\silanov\Documents\Дженикс\Screens\"/>

    <add key="trainModelLink" value="https://localhost:50252/Modeling/TestTraining"/>
    <add key="calculateModelLink" value="https://localhost:50252/Modeling/TestCalculation"/>
    
  </appSettings>
  
</configuration>