<?xml version="1.0" encoding="utf-8"?>
<configuration>
  
  <appSettings>
	  <add key="CoreFileLoggerName" value="C:\logs\KadOzenka_LongProcessService_errors.log" />

	  <add key="CoreConfigRootDirectory" value="Config" />
	  <add key="CoreConfigDeployKey" value="Dev" />
	  <add key="CoreConfigDeployKeyAdditional" value="" />

  </appSettings>
  
  <connectionStrings>
	  <!--Dev-->
	  <add name="Main" connectionString="Host=82.148.19.91;Port=5435;Username=postgres;Password=n9IDPom1;Database=postgres;CommandTimeout=0;Keepalive=30;enlist=true;" providerName="Npgsql"/>
  </connectionStrings>
</configuration>