<?xml version="1.0" encoding="utf-8"?>
<configuration>
  
  <appSettings>
	  <add key="CoreFileLoggerName" value="C:\logs\KadOzenka_LongProcessService_errors.log" />

	  <add key="CoreConfigRootDirectory" value="Config" />
	  <add key="CoreConfigDeployKey" value="Dev" />
	  <add key="CoreConfigDeployKeyAdditional" value="" />

  </appSettings>
  
  <connectionStrings>
    <!--CIPJS_KO_LongProcessService-->
	<add name="Main" connectionString="Host=192.168.3.68;Port=5432;Username=cipjs_kad_ozenka;Password=cipjs_kad_ozenka;Database=cipjs_kad_ozenka;CommandTimeout=0;Keepalive=30;enlist=true;" providerName="Npgsql"/>

	<!--CIPJS_KO_PPR_LongProcessService-->
	<!--<add name="Main" connectionString="Host=192.168.3.68;Port=5432;Username=cipjs_gko_ppr;Password=cipjs_gko_ppr;Database=cipjs_gko_ppr;CommandTimeout=0;Keepalive=30;enlist=true;" providerName="Npgsql"/>-->
  </connectionStrings>
</configuration>