<?xml version="1.0" encoding="utf-8"?>
<configuration>
  
  <appSettings>
	  <add key="CoreFileLoggerName" value="C:\logs\KadOzenka_LongProcessService_errors.log" />

	  <add key="CoreConfigRootDirectory" value="Config" />
	  <add key="CoreConfigDeployKey" value="Dev" />
	  <add key="CoreConfigDeployKeyAdditional" value="" />

  </appSettings>
  
  <connectionStrings>
    <!--CIPJS_KO_LongProcessService-->
	<add name="Main" connectionString="Host=192.168.3.68;Port=5432;Username=cipjs_kad_ozenka;Password=cipjs_kad_ozenka;Database=cipjs_kad_ozenka;CommandTimeout=0;Keepalive=30;enlist=true;" providerName="Npgsql"/>

	<!--CIPJS_KO_PPR_LongProcessService-->
	<!--<add name="Main" connectionString="Host=192.168.3.68;Port=5432;Username=cipjs_gko_ppr;Password=cipjs_gko_ppr;Database=cipjs_gko_ppr;CommandTimeout=0;Keepalive=30;enlist=true;" providerName="Npgsql"/>-->

    <!--<add name="Main" connectionString="user id=rsm2_main;password=rsm2_main;data source=(DESCRIPTION=(ADDRESS=(PROTOCOL=TCP)(HOST=192.168.3.222)(PORT=1522))(CONNECT_DATA=(SERVICE_NAME=n2)));enlist=true" providerName="Oracle.DataAccess.Client"/>-->

    <!--<add name="Rsm1" connectionString="user id=izk_rsm_main;password=izk_rsm_main;data source=(DESCRIPTION=(ADDRESS=(PROTOCOL=TCP)(HOST=192.168.3.222)(PORT=1521))(CONNECT_DATA=(SERVICE_NAME=vostok)));enlist=true" providerName="Oracle.DataAccess.Client"/>
    <add name="Rsm2" connectionString="user id=rsm2_main;password=rsm2_main;data source=(DESCRIPTION=(ADDRESS=(PROTOCOL=TCP)(HOST=192.168.3.222)(PORT=1522))(CONNECT_DATA=(SERVICE_NAME=n2)));enlist=true" providerName="Oracle.DataAccess.Client"/>-->
    
    <!--Предпрод БД-->
    <!--<add name="Kurs3GenixView" connectionString="user id=genix_view;password=viewgenix00;data source=(DESCRIPTION=(ADDRESS=(PROTOCOL=TCP)(HOST=10.9.96.26)(PORT=1521))(CONNECT_DATA=(SERVICE_NAME=ACGTEST)));enlist=true" providerName="Oracle.DataAccess.Client" />-->
    <!--<add name="Kurs3Service" connectionString="user id=kurs_service;password=dfedc1!;data source= (DESCRIPTION=(ADDRESS=(PROTOCOL=TCP)(HOST=10.64.121.29)(PORT=1521))(CONNECT_DATA=(SERVICE_NAME=dzr)));enlist=true" providerName="Oracle.DataAccess.Client"/>-->
    
    <!--Дев среда-->
    <!--<add name="Kurs3GenixView" connectionString="user id=genix_view;password=genix_view;data source=(DESCRIPTION=(ADDRESS=(PROTOCOL=TCP)(HOST=192.168.3.222)(PORT=1521))(CONNECT_DATA=(SERVICE_NAME=vostok)));enlist=true" providerName="Oracle.DataAccess.Client" />
    <add name="Kurs3Service" connectionString="user id=kurs_service;password=kurs_service;data source= (DESCRIPTION=(ADDRESS=(PROTOCOL=TCP)(HOST=192.168.3.222)(PORT=1521))(CONNECT_DATA=(SERVICE_NAME=vostok)));enlist=true" providerName="Oracle.DataAccess.Client"/>-->

  
  </connectionStrings>
  
</configuration>