@using Newtonsoft.Json

@model List<string>

@if (Model.Count == 0)
{
    <div class="form-horizontal col-sm-12">
        <div class="form-group">
            <div class="col-sm-12">
                @Html.Label("Операция отвязки и перерасчета суммы начисления/зачисления на ФСП выполнена успешно")
            </div>
        </div>
    </div>
}
else
{
    <div class="form-horizontal col-sm-12">
        <div class="form-group">
            <div class="col-sm-12">
                @Html.Label("Операция отвязки и перерасчета суммы начисления/зачисления на ФСП не выполнена")
            </div>
        </div>
    </div>
}

<script type="text/javascript">
    var errors = @Html.Raw(JsonConvert.SerializeObject(Model));

    $(document).ready(function () {
        if (errors && errors.length > 0) {
            Common.ShowError(errors.join('<br>'));
        }
    });
</script>
