@*<div style="height: auto">
	<div class="form-group"></div>
		<div class="ajax-data-loading" data-request-type="GET" data-url="@Url.Content($"~/RegistersView/MarketObjectCard?Transition=1&{ViewBag.Filter}")"
		     data-param-Pageable="true" data-param-Scrollable="true" data-param-EsId="@ViewBag.EsId"
		     data-param-partialview="true" data-loader="true" data-onsuccess="resizeGrid100"></div>
</div>
*@