@using ObjectModel.Directory

<style>
	#ListView {
		width: 100%;
		height: 100%;
	}
	.item:hover {
		cursor: pointer;
		background-color: lightblue;
		border-radius: 5px;
	}
	.item {
		padding: 5px;
	}
	#SegmentList {
		height: 100%
	}
	#SegmentCard {
		width: 100%
	}
</style>
@(Html.Kendo().Splitter()
		.Name("splitter")
		.Orientation(SplitterOrientation.Horizontal)
		.HtmlAttributes(new { style="height: 98%"})
		.Panes(p =>
		{
			p.Add().Scrollable(false).Collapsed(false).Content("<div id='ListView'>"
															   + Html.Kendo().ListView<SelectListItem>()
																   .Name("SegmentList")
																   .BindTo(ComboBoxHelper.GetSelectList(typeof(MarketSegment), new long [] { 744, 745, 750, 746, 747, 748, 749, 751, 752, 753, 754, 795 }))
																   .ClientTemplateId("templateSegment")
																   .TagName("div")
																   .Selectable(true)
																   .Events(e => e.Change("handlerChangeSegment"))
																   .ToHtmlString() +
															   "</div>").Size("400px");

			p.Add().Scrollable(false).Collapsed(false).Content("<div id='SegmentCard'>"
															   + 
															   "</div>");
		}))

<script type="text/x-kendo-tmpl" id="templateSegment">
	<div class='item'>#:Text#</div>
</script>

<script type="text/javascript">

	function handlerChangeTour() {
		$('#FactorRegisterId').data('kendoDropDownList') && $('#FactorRegisterId').data('kendoDropDownList').dataSource.read();
	}

	function getDataRegister() {
		return {
			tourId: $('#TourId').data('kendoDropDownList') && $('#TourId').data('kendoDropDownList').value()
		}
	}

	function handlerChangeRegister(e) {
		$.ajax({
			type: 'GET',
			url: '@Url.Action("GetAttributesKoAndAnalogs", "ExpressScore")',
			data: { registerId: e.sender.value()},
			dataType: "json",
			traditional: true,
			success: function (response) {
				var data = response.map(function(item) {
					return {
						Text: item.Text,
						Value: item.Value,
						items: item.Items.map(function(i) {
							return {
								Text: i.Text,
								Value: i.Value
							}

						})
					}
				});
				$('[id ^= "AttributeId"]').each(function() {
					$(this).data('kendoDropDownTree') && $(this).data('kendoDropDownTree').setDataSource(data);
				});
			},
			error: function(response) {
				Common.ShowError(response.responseText);
			},
			complete: function() {
				kendo.ui.progress($('body'), false);
			}
		});

		$('[id ^= "CostFactors_YearBuildId"]').each(function () {
			$(this).data('kendoDropDownList') && $(this).data('kendoDropDownList').dataSource.read();
		});
	}

	function getDataAttribute() {
		return {
			registerId: $('#FactorRegisterId').data('kendoDropDownList') && $('#FactorRegisterId').data('kendoDropDownList').value()
		}
	}

	function handlerChangeSegment(e) {
		var index = this.select().index(),
			dataItem = this.dataSource.view()[index];
		if (dataItem.Value) {
			kendo.ui.progress($('body'), true);
			getSettingsForSegment(dataItem.Value);
		}
	}

	function getSettingsForSegment(value) {
		var url = "@Url.Action("SettingsExpressScore", "ExpressScore")" + `?segmentId=${value}`;
		$('#SegmentCard').load(url, null, function() {
			kendo.ui.progress($('body'), false);
		});
	}
</script>