<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="ProgramConfig" type="ExportRegistersConsole.ProgramConfigSection, ExportRegistersConsole"/>
  </configSections>
 
  <connectionStrings>
    <add name="Realty" connectionString="Host=192.168.3.64;Port=5432;Username=cipjs_main;Password=cipjs_main;Database=cipjs_main;CommandTimeout=0;enlist=true" providerName="Npgsql"/>
    <!--<add name="Realty" connectionString="Host=192.168.3.64;Port=5432;Username=cipjs_main;Password=cipjs_main;Database=cipjs_main;CommandTimeout=0;Keepalive=30;enlist=true" providerName="Npgsql"/>-->
    <!--<add name="Realty" connectionString="user id=izk_rsm_main;password=izk_rsm_main;data source=(DESCRIPTION=(ADDRESS = (PROTOCOL = TCP)(HOST = vostok.asgroup.ru)(PORT = 1521))(ADDRESS=(PROTOCOL=tcp)(HOST=192.168.3.222)(PORT=1521))(CONNECT_DATA=(SERVICE_NAME=vostok)))" providerName="Oracle.DataAccess.Client" />-->
  </connectionStrings>

  <appSettings>
    <!-- Путь, где расположены конфигурации для CIPJS.Core.* -->
    <add key="CoreConfigRootDirectory" value="C:\_Repos\CIPJS\Main\Source\CIPJS\Config" />
    <!-- Папка для результатов -->
    <add key="OutputFolder" value="C:\TEMP"/>

    <add key="FunctionsFileName" value="create_functions.sql"/>
    <add key="SequencesFileName" value="create_sequences.sql"/>
    <add key="TablesFileName" value="create_tables.sql"/>
    <add key="PrimaryKeysFileName" value="create_primary_keys.sql"/>
    <add key="ForeignKeysFileName" value="create_foreign_keys.sql"/>
    <add key="CopyDataForTablesFileName" value="insert_values.sql"/>
    <add key="IndexesFileName" value="create_indexes.sql"/>
    <add key="TriggersFileName" value="create_triggers.sql"/>

  </appSettings>

  <ProgramConfig>

    <ExcludeTables>
      <Register name="tmp_insur_input_plat_36310158" />
    </ExcludeTables>

    <CopyDataForTables>
      
    </CopyDataForTables>
  </ProgramConfig>
  
</configuration>