<div class="form-group">
	<div class="col-sm-2">
		@Html.CustomLabelFor("Имя коэф.", true)
	</div>
	<div class="col-sm-4">
		@Html.Kendo().TextBox().Name($"Name-simple-{ViewBag.Count}")
	</div>
	<div class="col-sm-2">
		@Html.CustomLabelFor("Коэффициент", true)
	</div>
	<div class="col-sm-3">
		@Html.Kendo().NumericTextBox().Name($"Coefficient-simple-{ViewBag.Count}").Spinners(false).Decimals(5)
	</div>
	<div class="col-sm-1">
		<a class="k-button-icon k-button remove-simple">
			<span class="k-icon k-i-close"></span>
		</a>
	</div>
</div> 

