<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  
  
  <connectionStrings>
    <add name="Realty" connectionString="Host=192.168.3.64;Port=5432;Username=cipjs_main;Password=cipjs_main;Database=cipjs_main;CommandTimeout=0;Keepalive=30;Enlist=true" providerName="Npgsql"/>
    <add name="SomeDB" connectionString="user id=izk_rsm_main;password=izk_rsm_main;data source=(DESCRIPTION=(ADDRESS=(PROTOCOL=TCP)(HOST=192.168.3.222)(PORT=1521))(CONNECT_DATA=(SERVICE_NAME=vostok)));enlist=true" providerName="Oracle.DataAccess.Client"/>
    <add name="Dgi" connectionString="user id=izk_rsm_main;password=izk_rsm_main;data source=(DESCRIPTION=(ADDRESS=(PROTOCOL=TCP)(HOST=192.168.3.222)(PORT=1521))(CONNECT_DATA=(SERVICE_NAME=vostok)));enlist=true" providerName="Oracle.DataAccess.Client"/>
  </connectionStrings>

  <appSettings>
    
    <add key="CoreConfigRootDirectory" value="Config" />
    <add key="CoreConfigDeployKey" value="Dev" />
  </appSettings>

  
</configuration>