@model long


<div class="form-horizontal" style="padding: 1%;">
    <div>
        <div id="grid"></div>
    </div>
</div>


<script id="gridToolbarTemplate" type="text/x-kendo-template">
    <div style="float: left">
        <a class="k-button k-button-icon" id="getClarificationBtn" style="width:250px;">
            <span class="k-icon k-i-question" style="padding-right: 5%"></span>
            Предоставить разъяснения
        </a>
    </div>
</script>

<script>
    $(document).ready(function () {
        $("#grid").kendoGrid({
            toolbar: kendo.template($("#gridToolbarTemplate").html()),
            dataSource: {
                transport: {
                    read: {
                        url: '@Url.Action("GetUnitHistory", "Unit")' + '?unitId=@Model',
                        dataType: "json"
                    }
                },
                schema: {
                    model: {
                        id: "Id"
                    }
                },
            },
            columns: [
                {
                    field: "CadastralNumber",
                    title: "Кадастровый номер",
                    template: '<a target="_blank" href="/Unit/ObjectCard?unitId=#=Id#">#=CadastralNumber#</a>',
                },
                {
                    field: "CreationDate",
                    title: "Дата оценки",
                    template: '#=kendo.toString(kendo.parseDate(CreationDate), "dd.MM.yyyy")#',
                },
                {
                    field: "NoteType",
                    title: "Тип статьи",
                },
                {
                    field: "InputDoc",
                    title: "Входящий документ",
                },
                {
                    field: "CadastralCost",
                    title: "Кадастровая стоимость",
                },
                {
                    field: "Upks",
                    title: "Удельный показатель",
                },
                {
                    field: "Group",
                    title: "Группа",
                },
                {
                    field: "OutputDoc",
                    title: "Исходящий документ",
                },
            ]
        });

        $('#grid').data("kendoGrid").bind("dataBound", function () {
            var grid = $("#grid").data("kendoGrid");
            var data = grid.dataSource.data();
            $.each(data, function (i, row) {
                if (row.IsActual)
                    $('tr[data-uid="' + row.uid + '"] ').addClass("isActual");
                if (row.IsBad)
                    $('tr[data-uid="' + row.uid + '"] ').addClass("isBad");
            });
        });

        $('#getClarificationBtn').on('click', getClarification);
    });



    function getClarification() {
        kendo.ui.progress($('body'), true);
        $.ajax({
            type: 'GET',
            url: '@Url.Action("FormClarification", "Unit")',
            data: { unitId: '@Model' },
            success: function () {
                window.open('@Url.Action("DownloadClarification", "Unit")' + '?unitId=' + '@Model');
            },
            error: function (response) {
                Common.ShowError(response.responseText);
            },
            complete: function() {
                kendo.ui.progress($('body'), false);
            }
        });
    }

    </script>





    <style>
        .k-grid td {
            white-space: normal;
        }

        .isActual {
            background-color: lightgreen;
        }

        .isBad {
            background-color: red;
            color: white;
        }
    </style>
