html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
.root {
    height: 100%;
}

.login-form-component .mat-form-field-ripple {
    background-color: white !important;
}

.login-form-component  .mat-form-field-appearance-legacy .mat-form-field-underline{
    background-color: white !important;
}
