<div class="form-horizontal col-sm-12">
    <div class="general-info">
        <div class="form-group">
            <div class="col-sm-2">
                <label>@ViewBag.MarketSegment</label>
            </div>
            <div class="col-sm-2">
                <label>@ViewBag.Date.ToString("MMMM yyyy")</label>
            </div>
        </div>
    </div>
    <div id="grid"></div>
</div>


<script id="GridToolbarTemplate" type="text/x-kendo-template">
    <div style="float: left">
        <a class="k-button k-button-icon" id="excludeBtn" style="width:120px;">
            <span class="k-icon k-i-save" style="padding-right: 30%"></span>
            Исключить
        </a>
    </div>

</script>


@section styles {
    <style>
        .general-info {
            font-size: 120%;
            padding: 1% 0 0 1%; 
        }

        .k-header {
            text-align: center !important;
        }

        #grid {
            text-align: center;
        }
    </style>
}


    <script type="text/javascript">
    $(document).ready(function () {
        var dataSource = new kendo.data.DataSource({
            transport: {
                read: {
                    url: '@Html.Raw(Url.Action("GetCorrectionByRoomDetailedCoefficients", "MarketObjects", new { marketSegmentCode = ViewBag.MarketSegmentCode, date = ViewBag.Date }))',
                    contentType: 'application/json; charset=utf-8',
                    dataType: 'json'
                }
            },
            schema: {
                model: {
                    id: "Id",
                    fields: {
                        Id: {editable: false, nullable: true},
                        BuildingCadastralNumber: { editable: false },
                        OneRoomCoefficient: { editable: false },
                        ThreeRoomsCoefficient: { editable: false },
                        IsExcludeFromCalculation: { type: "boolean" }
                    }
                }
            },
            pageSize: 15
        });

        $("#grid").kendoGrid({
            dataSource: dataSource,
            toolbar: kendo.template($("#GridToolbarTemplate").html()),
            pageable: true,
            columns: [
                {
                    title: "Кадастровый номер здания",
                    field: "BuildingCadastralNumber"
                },
                {
                    title: "Коэффициент на 1-но комнатную квартиру",
                    field: "OneRoomCoefficient"
                },
                {
                    title: "Коэффициент на 3-х комнатную квартиру",
                    field: "ThreeRoomsCoefficient"
                },
                {
                    title: "Исключен из расчета",
                    field: "IsExcludeFromCalculation",
                    template: '<input type="checkbox" #= IsExcludeFromCalculation ? \'checked="checked"\' : "" # class="chkbx" />'
                }
            ]
        });

        $("#grid .k-grid-content").on("change", "input.chkbx", UpdateGridDataSource);
        $('#excludeBtn').on('click', ExcludeBuildingsFromCalculation);
    });




    function UpdateGridDataSource(e) {
        var grid = $("#grid").data("kendoGrid");
        var dataItem = grid.dataItem($(e.target).closest("tr"));
        dataItem.IsExcludeFromCalculation = this.checked;
        dataItem.IsDirty = true;
    }

    function ExcludeBuildingsFromCalculation() {
        var models = $("#grid").data("kendoGrid").dataSource.data();
        kendo.ui.progress($('body'), true);
        $.ajax({
            type: 'POST',
            url: '@Url.Action("ChangeBuildingsStatusInCalculation", "MarketObjects", new { date = ViewBag.Date })',
            data: { models: JSON.stringify({ models }) },
            success: function (response) {
                Common.ShowMessage(response.Message);
            },
            error: function(response) {
                Common.ShowError(response.responseText);
            },
            complete: function() {
                kendo.ui.progress($('body'), false);
            }
        });
    }

    </script>