<div class="form-horizontal col-sm-12" style="padding-top: 2%">
    <div class="form-group">
        <div class="col-sm-2">
            @Html.CustomLabel("Сегмент")
        </div>
        <div class="col-sm-4">
            @(Html.Kendo().DropDownList()
                .Name("SegmentsDownList")
                .DataTextField("Text")
                .DataValueField("Value")
                .BindTo((System.Collections.IEnumerable)ViewBag.Segments))
        </div>
    </div>

    <div class="form-group" style="padding: 2%">
        <div id="historyGrid"></div>
    </div>
</div>


@section styles {
    <style>
        .k-header .k-link {
            text-align: center;
        }

        #Grid {
            text-align: center;
        }
    </style>
}

<script>
    $(document).ready(function () {
        reloadHistory();
        $('[name="SegmentsDownList"]').data('kendoDropDownList').bind('change', reloadHistory);

    });



    function reloadHistory() {
        var marketSegmentCode = $('[name="SegmentsDownList"]').val();
        var historyGridDataSource = new kendo.data.DataSource({
            transport: {
                read: {
                    url: '@Url.Action("GetCorrectionByRoomGeneralHistory", "MarketObjects")',
                    contentType: 'application/json; charset=utf-8',
                    data: { marketSegmentCode: marketSegmentCode },
                    dataType: 'json'
                }
            },
            schema: {
                model: {
                    fields: {
                        Date: { editable: false},
                        OneRoomCoefficient: { editable: false },
                        TwoRoomsCoefficient: { editable: false }
                    }
                }
            },
            pageSize: 10
        });
        var hrefTemplate = '<a target="_blank" href="/MarketObjects/CorrectionByRoomDetailedHistory?date=#=Date#&marketSegmentCode=' + marketSegmentCode +'">#=';
        $('#historyGrid').kendoGrid({
            dataSource: historyGridDataSource,
            columns: [
                {
                    field: 'Date',
                    title: 'Месяц',
                    template: "#= kendo.toString(kendo.parseDate(Date, 'yyyy-MM-dd'), 'MMMM yyyy') #"
                }, {
                    field: 'OneRoomCoefficient',
                    title: 'Коэффициент на 1-но комнатную квартиру',
                    template: hrefTemplate + 'OneRoomCoefficient#</a>'
                }, {
                    field: 'ThreeRoomsCoefficient',
                    title: 'Коэффициент на 3-х комнатную квартиру',
                    template: hrefTemplate + 'ThreeRoomsCoefficient#</a>'
                }
            ],
            scrollable: true,
            pageable: true
        });
    }
</script>