.rm-container {
    position: absolute;
    background-color: #0769ad7a;
    padding-top: 4px;
}

    .rm-container ul.rm-ddl-horizontal {
        padding: 0;
        margin-left: -5px;
        margin-right: 2px;
    }

        .rm-container ul.rm-ddl-horizontal li {
            display: inline-block;
            padding: 10px;
            border: none;
            margin-left: 10px;
            width: 20px;
            height: 20px;
            color: white;
            cursor: pointer;
        }

            .rm-container ul.rm-ddl-horizontal li a {
                text-decoration: none;
            }

            .rm-container ul.rm-ddl-horizontal li:hover {
                border-top: solid 2px #fff;
                border-radius: 2px;
                padding-top: 8px;
            }

    .rm-container .rm-content-icon {
        font-size: 20px;
    }

    .rm-container ul.rm-ddl-horizontal li.rm-el-disable {
        color: #384253;
        pointer-events: none;
    }
