<style>
    .filter-container {
        padding: 10px;
    }

    .filter-container ul{
        list-style:none;
    }

    .filter-container ul > li {
        padding: 5px 0 5px 0;
        cursor: pointer;
    }

    .filter-container .ex-attributes-content {
        width: 100%;
    }
    .filter-container .group {
        background-color: #fff;
        padding: 15px;
        border-radius: 5px;
        border: solid 1px #666;
    }

    .filter-container .group-conditions {
        margin-left: 20px;
    }

    .filter-container .alert-group {
        margin-top: 10px;
        margin-bottom: 10px;
        border-color: rgb(192, 152, 83); 
        border-color: rgb(251, 238, 213);
        border-color: rgb(220, 200, 150);
    }

    .filter-container .f_button_remove {
        border-color: #cc7979;
        color: #cc7979;
    }

    .filter-container .f_drop_down {
        height: 25px;
        top: 1px;
        position: relative;
    }

    .filter-container .condition, .group {
        margin-top: 15px;
        margin-bottom: 15px;
    }

    .filter-container .ex-ts-options h2 {
        font-weight: lighter;
        font-size: 5em;
        line-height: 1;
        padding: 0 0 0 30px;
        margin: 0;
    }

    .filter-container .ex-ts-options h2 span {
        background: none;
        padding-left: 5px;
        font-size: .3em;
        vertical-align: top;
    }

    .ex-ts-options p {
        margin: 0;
        padding: 0;
    }

    .ex-treeview {
        overflow: inherit !important;
    }

    .ex-splitter {
        border-width: 0;
        height: calc(100% - 40px);
    }

    .ex-modal-content {
        width:  100%;
        height: calc(100% - 12px);
    }

    .ex-modal {
        height: 100%;
        overflow: hidden;        
    }

    .ex-content {
        padding: 20px;    
        width: 100%;
        height: 100%;
    }

    .ex-content-with-toolbar {
        height: calc(100% - 45px);
    }

</style>

    <script id="ex-main-template" type="text/kendo-ui-template"> 
        <div class="filter-container">
            <div class="ex-ts-options" data-init="initTabStrip" data-after-init="initToolbarTooltip">
                  <ul>
                      <li>
                          Основные данные
                      </li>
                      <li>
                          Колонки
                      </li>
                      <li class="k-state-active">
                          Фильтр
                      </li>
                      <li>
                          Объединения
                      </li>
                      <li>
                          Сортировка
                      </li>
                      <li>
                          Групировка
                      </li>                  
                  </ul>            
                  <div>
                      <div class="form-horizontal col-sm-12">
                        <div class="form-group"></div>
                        <div class="form-group">
                            <div class="col-sm-2">
                                <label class="control-label">Основной реестр</label>
                            </div>
                            <div class="col-sm-4">
                                <input class="ex-ddl-main-register" style="width: 100%;" data-init="initMainRegisterDdl" />
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-2">
                                <label class="control-label">Тип соединения</label>
                            </div>
                            <div class="col-sm-4">
                                <input class="ex-ddl-join-type" style="width: 100%;" data-init="initJoinTypeDdl" />
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-2">
                                <label class="control-label">Размер пакета</label>
                            </div>
                            <div class="col-sm-4">
                                <input type="text" class="k-textbox ex-package-size" style="width: 100%;" value="0" />
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-2">
                                <label class="control-label">Номер пакета</label>
                            </div>
                            <div class="col-sm-4">
                                <input type="text" class="k-textbox ex-package-index" style="width: 100%;" value="0" />
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-2">
                                <label class="control-label">Только уникальные записи</label>
                            </div>
                            <div class="col-sm-4">
                                <input class="ex-cb-distinct" style="margin-top: 7px;" type="checkbox" />
                            </div>
                        </div>
                      </div>
                  </div>
                  <div>
                      <div class="ex-toolbar" data-init="initColumnGridToolbar"></div>
                      <div class="ex-columns-grid" data-init="initColumnGrid"></div>
                  </div>
                  <div>
                      <div class="ex-tw-condition ex-treeview" data-init="initConditionTree,initConditionContextMenu,initComparisonsContextMenu"></div>
                  </div>
                  <div>
                      <div class="ex-toolbar" data-init="initJoinToolbar"></div>
                      <div class="ex-tw-joins ex-treeview" data-init="initJoinsTree,initConditionContextMenu,initComparisonsContextMenu"></div>
                  </div>
                  <div>
                      <div class="ex-toolbar" data-init="initSortToolbar"></div>
                      <table class="ex-orderby-content" style="width:100%">
                          <tr>
                              <td style="width: 100%;vertical-align: top;">
                                  <ul class="ex-lw-order-by" style="border: none; display: initial;" data-init="initOrderByListView"></ul>
                              </td>
                              <td style="width: 100%;vertical-align: top;padding: 10px;">
                                  <button class="k-button ex-asc-sort" style="display:block;width: 60px;margin-bottom: 15px;">asc</button>
                                  <button class="k-button ex-desc-sort" style="display:block;width: 60px;">desc</button>
                              </td>
                          </tr>
                      </table>
                  </div>
                  <div>
                      <div class="ex-groupby-content" style="width:100%;min-height: 145px;">
                            <div class="ex-toolbar" data-init="initGroupByToolbar"></div>
                            <ul class="ex-lw-groupby" style="border: none; display: initial;" data-init="initGroupByListView"></ul>
                      </div>
                  </div>
            </div>  
        </div>
    </script>  

    <script id="ex-tw-template" type="text/kendo-ui-template">       
        # if (item.type == 'root') { #
        	<span class='k-icon k-i-plus-outline ex-add-column' title='Добавить колонку' style="cursor: pointer;"></span>
        # }#
        # if (item.type == 'group') { #
        	<span class='f-ex-group' style="text-decoration: underline;cursor: pointer;">И</span>
            <a class='k-icon k-i-close-outline ex-btn-delete' title='Удалить группу' href='\#'></a>
        # }#
        # if (item.type == 'condition') { #
        	<span class='ex-attributes ex-condition' style="text-decoration: underline;cursor: pointer;">&lt;Выберите...&gt;</span>
            <span class='ex-comparisons' data-value='Equal' style="text-decoration: underline;cursor: pointer;">равно</span>
            <span class='ex-condition-value ex-condition' style="text-decoration: underline;cursor: pointer;">&lt;Выберите...&gt;</span>
            <a class='k-icon k-i-close-outline ex-btn-delete' title='Удалить условие' href='\#'></a>
        # } #
        # if (item.type == 'join') { #
            <span class="ex-join-node-content">
                <span class="ex-join-register" style="cursor: pointer;">#: item.text #</span>
                <span class='k-icon k-i-plus-outline ex-join-group' title='Добавить группу' style="cursor: pointer;"></span>
                <a class='k-icon k-i-close-outline ex-btn-delete' title='Удалить объединение' href='\#'></a>
            </span>
        # } #
    </script>  

    @*<script id="ex-grid-template" type="text/x-kendo-template">
        <tr data-uid="#= uid #">
            <td><a class="ex-edit-column" href="\#">#: Alias #</a></td>
            <td>#: Sort ? Sort : "" #</td>
            <td>#: Group ? Group : "" #</td>
            <td>#: Function ? Function : ""  #</td>
        </tr>
    </script>*@

    <script id="ex-join-menu-template" type="text/html">
        <ul class="ex-join-menu">
            <li data-value="Left"><span class="fas fa-plus" style="font-size: 16px;margin-right: 5px;visibility: hidden;"></span>Внешнее</li>
            <li data-value="Inner"><span class="fas fa-plus" style="font-size: 16px;margin-right: 5px;visibility: hidden;"></span>Внутреннее</li>
            <li class="k-separator"></li>
            <li data-value="addCondition"><span class="fas fa-plus" style="font-size: 16px;margin-right: 5px;"></span>Добавить условие</li>
            <li data-value="addGroup"><span class="fas fa-plus-square" style="font-size: 16px;margin-right: 5px;"></span>Добавить группу</li>
            <li class="k-separator"></li>
            <li data-value="deleteGroup"><span class="k-icon k-i-minus-circle" style="font-size: 16px;margin-right: 5px;"></span>Удалить группу</li>
        </ul>
    </script>  
    
    <script id="ex-condition-menu-template" type="text/html">
        <ul class="ex-condition-menu">
            <li data-value="And"><span class="fas fa-plus" style="font-size: 16px;margin-right: 5px;visibility: hidden;"></span>И</li>
            <li data-value="Or"><span class="fas fa-plus" style="font-size: 16px;margin-right: 5px;visibility: hidden;"></span>Или</li>
            <li class="k-separator"></li>
            <li data-value="addCondition"><span class="fas fa-plus" style="font-size: 16px;margin-right: 5px;"></span>Добавить условие</li>
            <li data-value="addGroup"><span class="fas fa-plus-square" style="font-size: 16px;margin-right: 5px;"></span>Добавить группу</li>
            <li class="k-separator"></li>
            <li data-value="deleteGroup"><span class="k-icon k-i-minus-circle" style="font-size: 16px;margin-right: 5px;"></span>Удалить группу</li>
        </ul>
    </script>  
    
    <script id="ex-comparisons-menu-template" type="text/html">
        <ul class="k-input f_drop_down ex-comparisons-menu" style="height: 326px;">
            <li data-value="Equal"><i class="fas fa-equals" style="font-size: 16px;"></i>&nbsp;Равно</li>
            <li data-value="NotEqual"><i class="fas fa-not-equal" style="font-size: 16px;"></i>&nbsp;Не равно</li>
            <li data-value="Less"><i class="fas fa-less-than" style="font-size: 16px;"></i>&nbsp;Меньше</li>
            <li data-value="LessOrEqual"><i class="fas fa-less-than-equal" style="font-size: 16px;"></i>&nbsp;Меньше или равно</li>
            <li data-value="Greater"><i class="fas fa-greater-than" style="font-size: 16px;"></i>&nbsp;Больше</li>
            <li data-value="GreaterOrEqual"><i class="fas fa-greater-than-equal" style="font-size: 16px;"></i>&nbsp;Больше или равно</li>
            <li data-value="BeginFrom"><i class="fas fa-greater-than-equal" style="font-size: 16px;visibility: hidden;"></i>&nbsp;Начинается c</li>
            <li data-value="EndTo"><i class="fas fa-greater-than-equal" style="font-size: 16px;visibility: hidden;"></i>&nbsp;Заканчивается на</li>
            <li data-value="Contains"><i class="fas fa-greater-than-equal" style="font-size: 16px;visibility: hidden;"></i>&nbsp;Содержит</li>
            <li data-value="NotContains"><i class="fas fa-greater-than-equal" style="font-size: 16px;visibility: hidden;"></i>&nbsp;Не содержит</li>
            <li data-value="IsNull"><i class="far fa-circle" style="font-size: 16px;"></i>&nbsp;Пусто</li>
            <li data-value="IsNotNull"><i class="fas fa-circle" style="font-size: 16px;"></i>&nbsp;Не пусто</li>
        </ul>
    </script> 
    
    <script id="ex-dialog-template" type="text/html">
        <div class="ex-content">
        </div>
    </script>

    <script id="ex-dialog-column-template" type="text/html">
        <div class="ex-dialog-column"></div>
    </script>

    <script id="ex-dialog-reestr-template" type="text/html">
        <div class="ex-toolbar-join-type" data-init="initJoinTypeToolbar" data-element-role="joinType"></div>
        <h4 style="margin: 10px;"><span class="k-icon k-i-table"></span>&nbsp;Реестры</h4>
        <input type="text" class="k-textbox ex-tb-filter" style="width: 100%;" placeholder="Поиск..." />
        <div class="ex-tw-reestr ex-treeview" data-init="initReestrTree" data-element-role="registerId"></div>
    </script>

    <script id="ex-modal-column-template" type="text/html">
      <div class="ex-modal">
          <div class="ex-toolbar-column-type"></div>
          <div class="ex-modal-content"></div>
      </div>
    </script>

    <script id="ex-modal-column-constant-template" type="text/html">
      <div class="ex-modal-column-constant-content ex-content ex-content-with-toolbar">
          <h4>Колонка-константа</h4>
          <div class="form-horizontal col-sm-12">
            <div class="form-group"></div>
            <div class="form-group">
                <div class="col-sm-3">
                    <label class="control-label">Название колонки</label>
                </div>
                <div class="col-sm-4">
                    <input class="k-textbox ex-tb-column-name" style="width: 100%;" data-type-element="tb" data-element-role="Alias"/>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-3">
                    <label class="control-label">Способ ввода</label>
                </div>
                <div class="col-sm-4">
                    <select class="ex-ddl-constant-enter-type" style="width: 100%;" data-toggle-template="true" data-init="initEnterTypeDdl" data-element-role="EnterType" data-priority="1" >
                        <option value="MANUAL">Ручной ввод</option>
                        <option value="REFERENCE">Справочник</option>
                        @*<option value="LIST">Список</option>*@
                        <option value="PARAM">Параметр</option>
                    </select>
                </div>
            </div>
            <div class="ex-value-container">
                <div class="form-group">
                    <div class="col-sm-3">
                        <label class="control-label">Тип</label>
                    </div>
                    <div class="col-sm-4">
                        <select class="ex-ddl-constant-type" data-init="initInputMethodDdl" data-toggle-template="true" style="width: 100%;" data-element-role="Type" data-priority="2" >
                            <option value="STRING">Строка</option>
                            <option value="DECIMAL">Число</option>
                            <option value="DATE">Дата</option>
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-3">
                        <label class="control-label">Значение</label>
                    </div>
                    <div class="col-sm-4 ex-value">
                        <input type="text" class="k-textbox ex-column-value" style="width: 100%;" data-type-element="tb" data-element-role="Value" />
                    </div>
                </div>
            </div>
          </div>
      </div>
    </script>

    <script id="ex-modal-column-constant-parameter-template" type="text/html">
        <div class="form-group">
            <div class="col-sm-3">
                <label class="control-label">Наименование параметра</label>
            </div>
            <div class="col-sm-4 ex-value">
                <input type="text" class="k-textbox ex-parameter-name" style="width: 100%;" data-type-element="tb" data-element-role="ParameterName" />
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-3">
                <label class="control-label">Тип источника заполнения</label>
            </div>
            <div class="col-sm-4 ex-value">
                <select class="ex-ddl-source-enter-type" data-init="initSourceEnterTypeDdl" style="width: 100%;" data-toggle-template="true" data-element-role="SourceEnterType" data-priority="2" >
                    <option value="PARAM_MANUAL">Ручной ввод</option>
                    <option value="REFERENCE">Ввод из справочника</option>
                    @*<option value="LIST">Ввод из списка</option>*@
                    <option value="REESTR">Ввод из реестра</option>
                </select>
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-3">
                <label class="control-label">Тип данных</label>
            </div>
            <div class="col-sm-4 ex-value">
                <select class="ex-ddl-data-type" data-init="initDataTypeDdl" style="width: 100%;" data-element-role="DataType" data-priority="3">
                    <option value="INTEGER">Целое число</option>
                    <option value="DECIMAL">Вещественное число</option>
                    <option value="BOOLEAN">Логическое</option>
                    <option value="STRING">Строка</option>
                    <option value="DATE">Дата</option>
                </select>
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-3">
                <label class="control-label">Источник заполнения</label>
            </div>
            <div class="col-sm-4 ex-value">
                <input type="text" class="k-textbox ex-data-source" data-init="initDataSourceDdl" style="width: 100%;" data-element-role="DataSource" data-priority="4" />
            </div>
        </div>
    </script>

    <script id="ex-modal-column-constant-manual-template" type="text/html">
        <div class="form-group">
            <div class="col-sm-3">
                <label class="control-label">Тип</label>
            </div>
            <div class="col-sm-4">
                <select class="ex-ddl-constant-type" data-init="initInputMethodDdl" data-toggle-template="true" style="width: 100%;" data-element-role="Type" data-priority="2">
                    <option value="STRING">Строка</option>
                    <option value="DECIMAL">Число</option>
                    <option value="DATE">Дата</option>
                </select>
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-3">
                <label class="control-label">Значение</label>
            </div>
            <div class="col-sm-4 ex-value">
                <input type="text" class="k-textbox ex-column-value" style="width: 100%;" data-type-element="tb" data-element-role="Value" />
            </div>
        </div>
    </script>

    <script id="ex-modal-column-constant-reference-template" type="text/html">
        <div class="form-group">
            <div class="col-sm-3">
                <label class="control-label">Значение</label>
            </div>
            <div class="col-sm-4 ex-value">
                <input type="text" class="ex-ddl-reference-list" style="width: 100%;" data-type-element="ddl" data-element-role="ReferenceItemId" />
            </div>
        </div>
    </script>

    <script id="ex-modal-column-attribute-template" type="text/html">
      <div class="ex-splitter" data-init="initSplitter">
        <div>
            <div class="ex-content ex-content-with-toolbar">
                <h4 style="margin: 10px;"><span class="k-icon k-i-table"></span>&nbsp;Реестры</h4>
                <input type="text" class="k-textbox ex-tb-filter" style="width: 100%;" placeholder="Поиск..." />
                <div class="ex-tw-attributes ex-treeview" style="height: 84%;" data-init="initAttributesTree" data-element-role="AttributeId"></div>
            </div>
        </div>
        <div>
            <div class="ex-content ex-content-with-toolbar">
                <h4>Колонка-показатель</h4>
                <div class="form-horizontal col-sm-12">
                  <div class="form-group"></div>
                  <div class="form-group">
                      <div class="col-sm-5">
                          <label class="control-label">Название колонки</label>
                      </div>
                      <div class="col-sm-7">
                          <input class="k-textbox ex-tb-column-name" style="width: 100%;" data-type-element="tb" data-element-role="Alias" />
                      </div>
                  </div>
                  <div class="form-group">
                      <div class="col-sm-5">
                          <label class="control-label">Тип показателя</label>
                      </div>
                      <div class="col-sm-7">
                          <select class="ex-ddl-attribute-type" data-init="initDropDownList" style="width: 100%;" data-element-role="AttributeType">
                              <option value="Value">Значение</option>
                              <option value="Code">Справочный код</option>
                          </select>
                      </div>
                  </div>
                </div>
            </div>
        </div>
      </div>      
    </script>

    <script id="ex-modal-column-function-template" type="text/html">
      <div class="ex-splitter" data-init="initSplitter">
        <div>
            <div class="ex-content ex-content-with-toolbar">
                <h4 style="margin: 10px;"><span class="k-icon k-i-formula-fx"></span>&nbsp;Функции</h4>
                <input type="text" class="k-textbox ex-tb-filter" style="width: 100%;" placeholder="Поиск функции..." />
                <div class="ex-tw-functions ex-treeview" data-init="initFunctionsTree" data-element-role="FunctionId"></div>
            </div>
        </div>
        <div>
            <div class="ex-content ex-content-with-toolbar">
                <h4 class="ex-function-type-title"></h4>
                <div class="form-horizontal col-sm-12">
                  <div class="form-group"></div>
                  <div class="form-group">
                      <div class="col-sm-5">
                          <label class="control-label">Название колонки</label>
                      </div>
                      <div class="col-sm-7">
                          <input class="k-textbox ex-tb-column-name" style="width: 100%;" data-type-element="tb" data-element-role="Alias" />
                      </div>
                  </div>
                  <div class="form-group">
                      <div class="col-sm-5">
                          <label class="control-label">Внешняя функция</label>
                      </div>
                      <div class="col-sm-7">
                          <input class="k-checkbox ex-function-external" type="checkbox" data-type-element="checkbox" data-init="initCheckBox" data-element-role="FunctionExternal">                          
                      </div>
                  </div>
                  <div class="form-group">
                      <div class="col-sm-5">
                          <label class="control-label">Функция:&nbsp;</label>
                      </div>
                      <div class="col-sm-7">
                          <input type="text" class="k-textbox ex-function-name" style="width: 100%;" data-type-element="tb" readonly="" data-element-role="Function" />
                      </div>
                  </div>
                  <div class="form-group">
                      <div class="col-sm-5">
                          <label class="control-label">Параметры</label>
                      </div>
                  </div>
                  <div class="form-group">
                      <div class="col-sm-12">
                          <ul class="ex-lw-function-parameters" style="border: none; display: initial;" data-init="initFunctionParamsListView"></ul>
                      </div>
                  </div>
                </div>
            </div>
        </div>
      </div>
    </script>

    <script id="ex-modal-column-subquery-template" type="text/html">
      @*<div class="ex-content">          
          <h4>Колонка-подзапрос<a href="#" class="k-button ex-add-query" style="margin-left: 15px;" title="Добавить подзапрос"><span class="k-icon k-i-filter-add-expression"></span></a></h4>          
      </div>*@
      <div class="ex-splitter" data-init="initSplitter">
        <div>
            <div class="ex-content ex-content-with-toolbar">
                <h4>Колонка-подзапрос
                    <a href="#" class="k-button ex-add-query" style="margin-left: 15px;" title="Добавить подзапрос">
                        <span class="k-icon k-i-filter-add-expression"></span>
                    </a>
                </h4>          
            </div>
        </div>
        <div>
            <div class="ex-content ex-content-with-toolbar">
                <div class="form-horizontal col-sm-12">
                  <div class="form-group"></div>
                  <div class="form-group">
                      <div class="col-sm-5">
                          <label class="control-label">Название колонки</label>
                      </div>
                      <div class="col-sm-7">
                          <input class="k-textbox ex-tb-column-name" style="width: 100%;" data-type-element="tb" data-element-role="Alias" />
                      </div>
                  </div>
                </div>
            </div>
        </div>
      </div>
    </script>

    <script id="ex-modal-column-condition-if-template" type="text/html">
      <div class="ex-column-condition-if-content ex-modal-content">
          <div class="ex-tw-condition ex-treeview" data-init="initConditionTree,initConditionContextMenu,initComparisonsContextMenu"></div>
      </div>
    </script>

    <script id="ex-modal-column-condition-case-template" type="text/html">
      <div class="ex-column-condition-case-content ex-modal-content">
          <div class="ex-tw-condition ex-treeview" data-init="initConditionTree,initConditionContextMenu,initComparisonsContextMenu"></div>
      </div>
    </script>