<?xml version="1.0" encoding="utf-8"?>
<configuration>
  
  <appSettings>

    <!--<add key="CoreConfigRootDirectory" value="..\..\..\..\KadOzenka.Web\Config" />-->
    <add key="CoreConfigRootDirectory" value="Config" />
    <add key="CoreConfigDeployKey" value="Dev" />
    
    <!--Настройки RestApp-->
    <add key="restAppMinuteLimits" value="1"/>
    <add key="restAppDealTypeCIAN" value="1,2"/>
    <add key="restAppRegionIDsCIAN" value="1"/>
    <add key="restAppLogin001" value="ij0000001@gmail.com"/>
    <add key="restAppToken001" value="26758293e1a0f45a45858880c828aa1b"/>
    <add key="restAppMetaLink" value="https://rest-app.net/api/info?login={0}&amp;token={1}"/>
    <add key="restAppCIANLink" value="https://rest-app.net/api-cian/ads?login={0}&amp;token={1}&amp;category_id=3&amp;deal_id={2}&amp;region_id={3}&amp;date1={4}&amp;date2={5}"/>
    <add key="restAppAvitoLink" value="https://rest-app.net/api/ads?login={0}&amp;token={1}&amp;category_id={2}&amp;region_id={3}&amp;date1={4}&amp;date2={5}"/>
    <add key="restAppTimeTmp" value="yyyy-MM-dd HH:mm:ss"/>
    <!--Настройки Yandex GeoCoder-->
    <add key="YandexLimit" value="25000"/>
    <!--<add key="GeocodeTestSpecial" value="d6b95aa5-a105-4988-9563-6504f6316d3b"/>-->
    <!--<add key="GeocodeTest0000" value="d6b95aa5-a105-4988-9563-6504f6316d3b"/>-->
    <add key="GeocodeTestSpecial" value="8420338b-8adc-4b81-8a2e-8da68f061e06"/>
    <add key="GeocodeTest0000" value="8420338b-8adc-4b81-8a2e-8da68f061e06"/>
    <add key="geocodeLink" value="https://geocode-maps.yandex.ru/1.x/?apikey={0}&amp;geocode={1},{2}&amp;format=json&amp;results=1&amp;kind=house"/>
    <add key="geocodeLinkAddress" value="https://geocode-maps.yandex.ru/1.x/?apikey={0}&amp;geocode={1}&amp;format=json&amp;results=1&amp;kind=house"/>
    <!--Настройки парсера ЦИАН-а-->
    <add key="checkCIANUnpublished" value="return document.contains(document.querySelector('div[data-name=&quot;OfferUnpublished&quot;]'));"/>

    <add key="trainModelLink" value="https://localhost:50252/Modeling/TestTraining"/>
    <add key="calculateModelLink" value="https://localhost:50252/Modeling/TestCalculation"/>
  </appSettings>

  <connectionStrings>
    <add name="Main" connectionString="Host=192.168.3.68;Port=5432;Username=cipjs_kad_ozenka;Password=cipjs_kad_ozenka;Database=cipjs_kad_ozenka;CommandTimeout=0;Keepalive=30;enlist=true;" providerName="Npgsql"/>
  </connectionStrings>

</configuration>