<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="ProxyIp" value="78.142.238.16" />
    <add key="ProxyPort" value="2703" />
    <add key="ProxyBypass" value="true" />
    <add key="ProxyLogin" value="user48652" />
    <add key="ProxyPassword" value="d9wl1u" />
    <add key="ProxyOwnIp" value="GKOPARS-W.cipgs.ru" />
    <add key="ProxyOwnPort" value="8888" />
    <add key="HashPath" value="Hash\MapScript.js" />
  </appSettings>
</configuration>