@model CIPJS.DAL.Bank.BankDto
<form style="padding:5px;height:100%">
    @if (Model.HasInvoiceLinks)
    {
        <p id="haslinks">Внимание! Удалить запись &quot;@Model.BankName&quot; (БИК @Model.BankBic) невозможно, в системе присутствуют счёта, для которых используется выбранный банк</p>
    }
    else
    {
        <p id="confirm">Вы уверены что хотите удалить запись &quot;@Model.BankName&quot; (БИК @Model.BankBic)?</p>
        <div style="position:absolute;bottom:10px">
            <button class="k-button k-button-icontext">
                <span class="k-icon k-i-check"></span>Удалить
            </button>
        </div>
    }
</form>
<script>
    $('form').submit(function() {
        $.post(
            '@Url.Action("Delete", "Bank")',
            { objectId: @Model.EmpId },
            function() {
                $('form').html('<p>Банк удален</p>');
            }
        );
        return false;
    });
</script>