@using ObjectModel.Directory
@model KadOzenka.Web.Models.Modeling.GeneralModelingModel

@using (Html.BeginForm("AddModel", "Modeling", FormMethod.Post, htmlAttributes: new {id = "saveModelForm"}))
{
    <div class="form-horizontal" style="padding: 5% 5% 0 5%;">
        <div class="form-group">
            <div class="col-sm-12">
                <a style="float: right" href="/Help/Help?CurrentLocation=AddModel" target="_blank">
                    <span style="font-size: 20px;" class="k-icon k-i-question"></span>
                </a>
            </div>
        </div>
        @{
            await Html.RenderPartialAsync("/Views/Modeling/Partials/_GeneralModelInfo.cshtml", Model);
        }
        <div class="form-group">
            <div class="col-sm-3 col-sm-offset-8" style="padding-top: 2%">
                @Html.KendoButton("saveModel", "Сохранить")
            </div>
        </div>
    </div>
}


<script src="~/js/custom-validation.js"></script>
<script>
    $(document).ready(function () {
        $("#saveModel").on('click', saveModel);
	});




    function saveModel() {
		kendo.ui.progress($('body'), true);
		var form = $('#saveModelForm');
        var formObject = Common.Functions.FormToObject(form);
        formObject.GroupId = $('#groups').data("kendoDropDownList").value();
		$.ajax({
            type: form.attr('method'),
			url: form.attr('action'),
			data: formObject,
            success: function (response) {
                if (response.Errors) {
					var errors = getErrors(response.Errors);
					Common.ShowError(errors);
					return;
				} else {
					Common.ShowMessage(response.Message);
					closeMainWindow();
				}
			},
			error: function (response) {
				Common.ShowError(response.responseText);
			},
			complete: function () {
				kendo.ui.progress($('body'), false);
			}
		});
    }


	function closeMainWindow() {
		setTimeout(function () {
			//Common.UI.CloseWindow('registerModalWindow', window.parent);
			window.parent.parent.location.reload();
		}, 1000);
	}

</script>

