@model List<KadOzenka.Web.Models.Modeling.ModelingObjectsDiagramModel>

<div class="form-horizontal col-sm-12">
    <div class="form-group">
        @(Html.Kendo().Chart()
            .Name("chart")
            .Title("Цена аналогов, включенных в моделирование")
            .Legend(legend => legend.Position(ChartLegendPosition.Bottom))
            .Series(series =>
            {
                series.Line(Model.Select(x => x.Price)).Name("Цена за кв.м.");
            }))
    </div>
</div>





<style>

</style>





<script id="GridToolbarTemplate" type="text/x-kendo-template">
    <div style="float: left">
        <a class="k-button k-button-icon" id="saveBtn-#: gridId #" style="width:120px;">
            <span class="k-icon k-i-save" style="padding-right: 30%"></span>
            Сохранить
        </a>
        <a class="k-button k-button-icon" id="exportBtn-#: gridId #" style="width:120px;">
            <span class="k-icon k-i-download" style="padding-right: 30%"></span>
            Выгрузить
        </a>
        <span>Показано </span><span id="filteredObjectsCount"></span><span> из </span><span id="allObjectsCount"></span>
    </div>
</script>


<script src="~/js/common-modals.js"></script>
<script src="~/js/custom-validation.js"></script>
<script>

    $(document).ready(function () {
       
    });

</script>

