@model string

<form style="padding: 5px; height: 100%">
    <div class="form-group">
        <div class="col-sm-12" style="width: 100%; padding: 1%;">
            <p>Группа для модели &quot;@Model&quot; была удалена</p>
        </div>
    </div>
</form>