body {
    margin: 0;
    padding: 0;
}

.MapContainer{
    display:flex;
    height: 100%;
}

.MapContainer .Data {
    min-width:350px;
    overflow-y: scroll;
}

.MapContainer .Data .DataContentContainer {
    margin: 5px;
}

.MapContainer .Data .DataContentContainer .DataItemContainer {
    margin: 5px;
}

.MapContainer .Data .DataContentContainer .DataItemContainer .Container {
    margin: 3px;
    display: flex;
    width: 324px;
}

.MapContainer .Data .DataContentContainer .DataItemContainer .Container .Header {
    font-size: 22px;
    margin-bottom: 10px;
}

.MapContainer .Data .DataContentContainer .DataItemContainer .Container .Name {
    width: 30%;
}

.MapContainer .Data .DataContentContainer .DataItemContainer .Container .Value {
    width: 70%;
    text-align:right;
    white-space: nowrap; /* Запрещаем перенос строк */
    overflow: hidden;
    text-overflow: ellipsis; /* Добавляем многоточие */
}

.MapContainer .Data .DataContentContainer .DataItemContainer .Line {
    width: 324px;
    height: 1px;
    background-color: #d7d7d7;
    margin-top: 10px;
}

.MapContainer .Map {
    width: 100%;
    height: 100%;
}