body {
    margin: 0;
    padding: 0;
}

.Hidden {
    display: none !important;
}

.Button {
    background-color: #F8F9FC !important;
    color: #5c9eff;
    border-radius: 3px;
    padding: 3px 12px;
    margin: 15px;
    color: #fff;
    display: flex;
    border: solid 1px #5c9eff;
}

.Button:hover {
    background-color: #edf5ff !important;
    cursor: pointer;
    color: #5c9eff;
}

.Button.blocked {
    color: #bababa !important;
    border-color: #bababa !important;
}

.Button.blocked:hover {
    background-color: #F8F9FC !important;
}

.EditContainer .Button {
    text-align: center;
    justify-content: center;
    width: 40%;
    color: #5c9eff;
    margin: 15px 0px 0px 0px;
}

.DataContentController .Button {
    color: #5c9eff;
}

.ButtonMap {
    background-color: #4590ff !important;
    cursor: pointer;
    border-radius: 3px;
    padding: 4px 12px 3px 12px;
    border: solid 1px #5c9eff;
    color: #fff;
    display: flex;
}

.Lable {
    min-height: 26px;
    line-height: 26px;
    border-radius: 13px;
    border: solid 1px #5c9eff;
    background: #4590ff;
    color: #fff;
    padding: 0px 7px;
    align-items: center;
    cursor: default;
}

.Button .ButtonContainer {
    text-align: center;
    display: flex;
    margin: auto;
    justify-content: center;
    align-items: center;
}

.Button .ButtonContainer .Image {
    width: 12px;
    height: 12px;
    background-size: 12px 12px;
    margin-right: 5px;
}

.MapContainer {
    display: flex;
    height: 100%;
}

.MapContainer .Data {
    min-width: 350px;
    overflow-y: scroll;
}

.MapContainer .Map.Card{
    width: calc(100%-350px);
}

.MapContainer .Data .DataContentController {
    margin: 13px;
    display: flex;
    justify-content: space-between;
}

.MapContainer .Data .DataContentContainer {
    margin: 5px 0px 5px 5px;
    position: absolute;
    height: calc(100% - 65px);
    overflow: scroll;
}

.MapContainer .Data .DataContentContainer .DataItemContainer {
    margin: 5px;
 }

.MapContainer .Data .DataContentContainer .DataItemContainer.Cian {
    background: url(/MapIcons/CIANLogoTransparent.png);
    background-size: 67px 100px;
    background-position: right bottom 5px;
    background-repeat: no-repeat;
}

.MapContainer .Data .DataContentContainer .DataItemContainer.Rosreestr {
    background: url(/MapIcons/rosreestrTransparent.png);
    background-size: 66px 100px;
    background-position: right bottom 5px;
    background-repeat: no-repeat;
}

.MapContainer .Data .DataContentContainer .DataItemContainer .Container {
    margin: 3px;
    display: flex;
    width: 324px;
    justify-content: space-between;
}

.MapContainer .Data .DataContentContainer .DataItemContainer .Container .Header {
    font-size: 19px;
    line-height: 31px;
    margin-bottom: 10px;
    width: 100%;
    display: flex;
}

.MapContainer .Data .DataContentContainer .DataItemContainer .Container .Header .Text {
    width: 80%;
}

.MapContainer .Data .DataContentContainer .DataItemContainer .Container .Header .Content {
    width: 20%;
    display: flex;
    vertical-align: middle;
    align-items: center;
}

.MapContainer .Data .DataContentContainer .DataItemContainer .Container .Header .Content .Card {
     background-image: url(/MapIcons/card.svg);
     background-size: 26px 30px;
     background-position: 1px 1px;
     background-repeat: no-repeat;
     width: 28px;
     height: 31px;
     cursor:pointer;
}

.MapContainer .Data .DataContentContainer .DataItemContainer .Container .Header .Content .Link.Cian {
    background-image: url(/MapIcons/CIANLogoOnly.png);
    background-size: 21px 31px;
    background-repeat: no-repeat;
    background-position: center right;
    width: 21px;
    height: 31px;
    cursor:pointer;
}

.MapContainer .Data .DataContentContainer .DataItemContainer .Container .Header .Content .Link.Avito {
	background-image: url(/MapIcons/AvitoLogoOnly.png);
	background-size: 21px 31px;
	background-repeat: no-repeat;
	background-position: center right;
	width: 21px;
	height: 31px;
	cursor:pointer;
}

.MapContainer .Data .DataContentContainer .DataItemContainer .Container .Header .Content .Link.Yandex {
    background-image: url(/MapIcons/YandexLogoOnly.png);
    background-size: 21px 31px;
    background-repeat: no-repeat;
    background-position: center right;
    width: 21px;
    height: 31px;
    cursor:pointer;
}

.MapContainer .Data .DataContentContainer .DataItemContainer .Container .Header .Content .Link.Rosreestr {
    background-image: url(/MapIcons/rosreestrLogoOnly.png);
    background-size: 22px 31px;
    background-repeat: no-repeat;
    background-position: center right;
    width: 22px;
    height: 31px;
    cursor:pointer;
}

.MapContainer .Data .DataContentContainer .DataItemContainer .Container .Name {
    width: 30%;
}

.MapContainer .Data .DataContentContainer .DataItemContainer .Container .Value {
    width: 70%;
    text-align:right;
    white-space: nowrap; /* Запрещаем перенос строк */
    overflow: hidden;
    text-overflow: ellipsis; /* Добавляем многоточие */
}

.MapContainer .Data .DataContentContainer .DataItemContainer .Line {
    width: 324px;
    height: 1px;
    background-color: #d7d7d7;
    margin-top: 10px;
}

.MapContainer .Data .DataContentContainer .DataItemContainer .EditContainer {

}

.MapContainer .Data .DataContentContainer .DataItemContainer .EditContainer .EditLine {
    display: flex;
}

.MapContainer .Data .DataContentContainer .DataItemContainer .EditContainer .EditLine .MiniLine {
    flex-grow: 100;
    height: 1px;
    background-color: #d7d7d7;
    margin-top: 10px;
}

.MapContainer .Data .DataContentContainer .DataItemContainer .EditContainer .EditLine .Content {
    float: right;
    margin-left: 5px;
    cursor: default;
    color: #d7d7d7;
    font-size: 14px;
}

.MapContainer .Data .DataContentContainer .DataItemContainer .EditContainer .Container .Value .EditData {
    text-align: right;
    border-left: none;
    border-right: none;
    border-top: none;
    border-bottom: 1px solid #d7d7d7;
    background: #F8F9FC;
    width: 100%;
}

.MapContainer .Data .DataContentContainer .DataItemContainer .EditContainer .Container .Value .EditDataSelectContainer .EditDataSelect {
    -webkit-appearance: none;
    width: 100%;
    border-left: none;
    border-right: none;
    border-top: none;
    border-bottom: 1px solid #d7d7d7;
    background: #F8F9FC;
    cursor: pointer;
}

input.EditData:focus {
    outline-width: 0;
}

select.EditDataSelect:focus {
    outline-width: 0;
}

.MapContainer .Map {
    width: 100%;
    height: 100%;
}

.displayCountControl {
    background: #4590ff;
    padding: 0px 12px;
    min-height: 26px;
    border-radius: 13px;
    border: solid 1px #5c9eff;
    color: #fff;
    display: flex;
    align-items: center;
    cursor: default;
}

.displayCountControl .preloaderImage{
    background: url(/MapIcons/preloaderWhite.svg);
    background-size: 19px;
    width: 19px;
    height: 19px;
    margin-left: 7px;
}

.displayCountControl.loaded .preloaderImage {
    display: none;
}

.targetControl {
    background: #4590ff;
    height: 36px;
    width: 36px;
    border-radius: 22px;
    border: solid 1px #5c9eff;
    color: #fff;
    cursor: pointer;
    background-image: url("/MapIcons/pinIcon.svg");
    background-size: 22px 22px;
    background-repeat: no-repeat;
    background-position: 7px 7px;
}

.filterControl {
    width: 0px;
    height: 0px;
}

.filterControl .filterImage {
    height: 36px;
    width: 36px;
    border-radius: 22px;
    background: #4590ff;
    cursor: pointer;
    border: solid 1px #5c9eff;
    background-image: url("/MapIcons/hide-filter-arrow.svg");
    background-size: 18px 18px;
    background-repeat: no-repeat;
    background-position: 9px 9px;
    z-index: 2;
}

.filterControl .filterImage.inactive {
    background: #fff;
    background-image: url("/MapIcons/show-filter-arrow-filled.svg");
    background-size: 18px 18px;
    background-repeat: no-repeat;
    background-position: 9px 9px;
}

.filterControl .filterImage.inactive:hover {
    background: #edf5ff;
    background-image: url("/MapIcons/show-filter-arrow-filled.svg");
    background-size: 18px 18px;
    background-repeat: no-repeat;
    background-position: 9px 9px;
}

.filterControl .allFiltersContainer.inactive {
    display: none;
}

.filterControl .allFiltersContainer .filterPanelContainer {
    margin-top: 6px;
}

.filterControl .allFiltersContainer .filterPanelContainer.inline {
    display: inline-flex;
    height: 0px;
}

.filterControl .allFiltersContainer .filterPanelContainer.inline.specialMargin {
    margin-top: 4px;
}

.filterControl .allFiltersContainer .filterPanel {
    margin-top: 4px;
    display: flex;
    align-items: center;
    max-width: 800px;
    white-space: nowrap;
}

.filterControl .allFiltersContainer .filterPanel.inactive {
    display: none;
}

.filterControl .allFiltersContainer .filterPanelContainer.inline .filterPanel {
    margin-left: 4px;
    margin-top: 11.5px;
}

.filterControl .allFiltersContainer .filterPanelContainer.inline .filterPanel.filterLabel {
    margin-left: 0px;
    margin-top: 0px;
    height: 21px;
}

.filterControl .allFiltersContainer .filterPanel.filterLabel {
    color: #5c9eff;
    background-color: #fff;
    width: fit-content;
    border: solid 1px #5c9eff;
    padding: 1px 5px;
    border-radius: 10px;
    font-size: 16px;
    background: #e0eeff;
    cursor: default;
}

.filterControl .allFiltersContainer .filterPanel.filterAdditional {
    max-width: 800px;
    width: fit-content;
    display: block;
}

.filterControl .allFiltersContainer .filterPanel.filterAdditional .calendarButton {
    padding: 0px;
    height: 36px;
    width: 36px;
    background: #4590ff;
    border-radius: 22px;
    border: solid 1px #5c9eff;
    cursor: pointer;
    background-image: url("/MapIcons/calendarWhite.svg");
    background-size: 18px 18px;
    background-repeat: no-repeat;
    background-position: 9px 9px;
}

.filterControl .allFiltersContainer .filterPanel.filterAdditional .calendarButton.inactive {
    background: #fff;
    background-image: url("/MapIcons/calendar.svg");
    background-size: 18px 18px;
    background-repeat: no-repeat;
    background-position: 9px 9px;
}

.filterControl .allFiltersContainer .filterPanel.filterAdditional .calendarButton.inactive:hover {
    background: #edf5ff;
    background-image: url("/MapIcons/calendar.svg");
    background-size: 18px 18px;
    background-repeat: no-repeat;
    background-position: 9px 9px;
}

.filterControl .allFiltersContainer .filterPanel.filterAdditional .calendarButton:hover {
    background: #4590ff;
    background-image: url("/MapIcons/calendarWhite.svg");
    background-size: 18px 18px;
    background-repeat: no-repeat;
    background-position: 9px 9px;
}


.filterControl .allFiltersContainer .filterPanel.filterAdditional .extendButton.inactive {
    background: #fff;
    background-image: url("/MapIcons/palette-filled.svg");
    background-size: 18px 18px;
    background-repeat: no-repeat;
    background-position: 9px 9px;
}

.filterControl .allFiltersContainer .filterPanel.filterAdditional .extendButton.inactive:hover {
    background: #edf5ff;
    background-image: url("/MapIcons/palette-filled.svg");
    background-size: 18px 18px;
    background-repeat: no-repeat;
    background-position: 9px 9px;
}

.filterControl .allFiltersContainer .filterPanel.filterAdditional .extendButton {
    padding: 0px;
    height: 36px;
    width: 36px;
    background: #4590ff;
    border-radius: 22px;
    border: solid 1px #5c9eff;
    cursor: pointer;
    background-image: url("/MapIcons/palette.svg");
    background-size: 18px 18px;
    background-repeat: no-repeat;
    background-position: 9px 9px;
}

.filterControl .allFiltersContainer .filterPanel.filterAdditional .extendButton:hover {
    background: #4590ff;
    background-image: url("/MapIcons/palette.svg");
    background-size: 18px 18px;
    background-repeat: no-repeat;
    background-position: 9px 9px;
}

.filterControl .allFiltersContainer .filterPanel.filterAdditional .allPaletteContainer.inactive {
    display:none;
}

.filterControl .allFiltersContainer .filterPanel.filterAdditional .allPaletteContainer {
    /*width:500px;
    height: 200px;*/
    width: 0px;
    height: 0px;
    background: #fff;
    /*border: solid 1px #5c9eff;*/
}

.filterControl .allFiltersContainer .filterPanel.filterAdditional .allPaletteContainer .paletteContainer {
    display: flex;
    align-items: center;
}

.filterControl .allFiltersContainer .filterPanel.filterAdditional .allPaletteContainer .paletteContainer .innerContainer {
    height: fit-content;
}

.filterControl .allFiltersContainer .filterPanel.filterAdditional .allPaletteContainer .paletteContainer .innerContainer .paletteHeader {
    color: #5c9eff;
    background-color: #fff;
    width: fit-content;
    border: solid 1px #5c9eff;
    padding: 2.5px 5px;
    border-radius: 13px;
    font-size: 14px;
    background: #e0eeff;
}

.filterControl .allFiltersContainer .filterPanel.filterAdditional .allPaletteContainer .paletteContainer .innerContainer .splicedDataContainer {
    color: #5c9eff;
    background-color: #fff;
    border: solid 1px #5c9eff;
    border-radius: 18px;
    width: 34px;
    height: 34px;
    font-size: 20px;
    background: #e0eeff;
    display: flex;
    align-items: center;
    justify-content: center;
}

.filterControl .allFiltersContainer .filterPanel.filterAdditional .allPaletteContainer .colorPickerContainer {
    width: 136px;
    display: flex;
}

.filterControl .allFiltersContainer .filterPanel.filterAdditional .allPaletteContainer .colorPickerContainer section {
    height: 90px;
}

.filterControl .allFiltersContainer .filterPanel.filterAdditional .allPaletteContainer .colorPickerContainer .colorShowPanel {
    height: 80px;
    width: 15px;
    margin: 5px 0px 5px 0px;
}

.filterControl .allFiltersContainer .filterPanel.filterAdditional .allPaletteContainer .slidecontainer {
    width: 498px;
}

.filterControl .allFiltersContainer .filterPanel.filterAdditional .allPaletteContainer .legendContainer {
    margin-top: 5px;
    display:flex;
    width: fit-content;
}

.filterControl .allFiltersContainer .filterPanel.filterAdditional .allPaletteContainer .legendContainer .coloredSegment {
    width:20px;
    height:20px;
}

.filterControl .allFiltersContainer .filterPanel.filterAdditional .allPaletteContainer .legendContainer .coloredSegment:first-child {
    border: solid 1px #5c9eff;
}

.filterControl .allFiltersContainer .filterPanel.filterAdditional .allPaletteContainer .legendContainer .coloredSegment:not(:first-child) {
    border-top: solid 1px #5c9eff;
    border-right: solid 1px #5c9eff; 
    border-bottom: solid 1px #5c9eff;
}

.filterControl .allFiltersContainer .filterPanel .filterButton {
    display: inline-flex;
    height: 20px;
    line-height: 20px;
    padding: 0px 8px;
    background: #5c9eff;
    border-radius: 10px;
    vertical-align:central;
    text-align:center;
    border: solid 1px #5c9eff;
    color: #fff;
    cursor: pointer;
    user-select: none;
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -o-user-select: none;
    opacity: 0.75;
    align-items: center;
}

.filterControl .allFiltersContainer .filterPanel .filterButton.characteristicsButton {
    min-height: 26px;
    border-radius: 13px;
    padding: 0px 12px;
}

.filterControl .allFiltersContainer .filterPanel .filterButton.refresh {
    opacity: 1;
}

.filterControl .allFiltersContainer .filterPanel .filterButton.inactive {
    background: #fff;
    color: #5c9eff;
}

.filterControl .allFiltersContainer .filterPanel .filterButton:hover {
    opacity: 1;
}

.filterControl .allFiltersContainer .filterPanel .filterButton.inactive:hover {
    background: #edf5ff;
    color: #5c9eff;
}

.filterControl .allFiltersContainer .filterPanel .filterButton:not(:first-child) {
    margin-left: 4px;
}

.filterControl .allFiltersContainer .filterPanel .filterButton .preloaderImage {
    background: url(/MapIcons/preloaderWhite.svg);
    background-size: 19px;
    width: 19px;
    height: 19px;
    margin-left: 7px;
}


.sliderGalleryContainer {
    width: 324px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.sliderGallery {
	width: 320px;
	height: 202px;
	display: flex;
	background-color: #ebecee;
	align-items: center;
	justify-content: center;
	position: relative;
	font-weight: bold;
	color: #858585;
}

.sliderGallery .preloaderImg {
	background: url(/MapIcons/preloaderWhite.svg);
	background-size: 40px;
	width: 40px;
	height: 40px;
	color: #4590ff;
	display: inline-block;
}

.sliderGallery .imageGallery {
	position: relative;
	width: 100%;
	height: 100%;
	background-repeat: no-repeat;
	background-position: 50%;
	background-size: cover;
	display: none;
	cursor: pointer;
}

.sliderGallery .imageGallery.visibleImageGallery {
	display: unset;
}

.arrowsContainer {
	position: relative;
	z-index: 1;
	top: -10px;
}

.arrowLeftContainer {
	position: absolute;
	left: -310px;
	width: 24px;
	height: 24px;
	border-radius: 50%;
	cursor: pointer;
	padding: 2px;
	background-color: #4590ff50;
	color: white;
	display: flex;
	align-items: center;
	justify-content: center;
}

.arrowRightContainer {
	position: absolute;
	right: 10px;
	width: 24px;
	height: 24px;
	border-radius: 50%;
	cursor: pointer;
	padding: 2px;
	background-color: #4590ff50;
	color: white;
	display: flex;
	align-items: center;
	justify-content: center;
}

.arrowLeftContainer:hover,
.arrowRightContainer:hover {
	background-color: #4590ff90;
}

.imageCountsContainer {
	position: relative;
	z-index: 1;
	cursor: pointer;
}
.imageCounts {
	position: absolute;
	bottom: -100px;
	background-color: #4590ff80;
	color: #ffffff;
	right: 2px;
	padding: 2px;
	font-weight: normal;
}

.loadWmsButton {
	background: #4590ff;
	padding: 0px 12px;
	min-height: 26px;
	border-radius: 13px;
	border: solid 1px #5c9eff;
	color: #fff;
	display: flex;
	align-items: center;
	cursor: pointer;
}

.wmsLoadWindowContainer {
	width: 100%;
	height: 100%;
	position: absolute;
	background-color: #656e7b50;
}

#clearFiltersButton {
    min-height: 26px;
    border-radius: 13px;
    padding: 0px 12px;
    font-size: medium;
    font-weight: bold;
    background: #fff;
    color: #5c9eff;
    opacity: 1;
}

#clearFiltersButton:hover {
    background: #edf5ff;
}

#clearFiltersButton.inactive {
    background: #f3f3f4;
    color: #c3c3c8;
    border-color: #c3c3c8;
}

#clearFiltersButton.inactive:hover {
    cursor: default;
}

.k-i-close:before {
    font-weight: bold;
}
