body {
    margin: 0;
    padding: 0;
}

.Hidden {
    display: none !important;
}

.Button {
    background-color: #4590ff !important;
    cursor: pointer;
    border-radius: 3px;
    padding: 3px 12px;
    margin: 15px;
    color: #fff;
    display: flex;
}

.ButtonMap {
    background-color: #4590ff !important;
    cursor: pointer;
    border-radius: 3px;
    padding: 4px 12px 3px 12px;
    border: solid 1px #5c9eff;
    color: #fff;
    display: flex;
}

.Lable {
    min-height: 26px;
    line-height: 26px;
    border-radius: 13px;
    border: solid 1px #5c9eff;
    background: #4590ff;
    color: #fff;
    padding: 0px 7px;
    align-items: center;
    cursor: default;
}

.Button .ButtonContainer {
    text-align: center;
    display: flex;
    margin: auto;
    justify-content: center;
    align-items: center;
}

.Button .ButtonContainer .Image {
    width: 12px;
    height: 12px;
    background-size: 12px 12px;
    margin-right: 5px;
}

.MapContainer {
    display: flex;
    height: 100%;
}

.MapContainer .Data {
    min-width: 350px;
    overflow-y: scroll;
}

.MapContainer .Map.Card{
    width: calc(100%-350px);
}

.MapContainer .Data .DataContentContainer {
    margin: 5px;
}

.MapContainer .Data .DataContentContainer .DataItemContainer {
    margin: 5px;
 }

.MapContainer .Data .DataContentContainer .DataItemContainer.Cian {
    background: url(/MapIcons/CIANLogoTransparent.png);
    background-size: 67px 100px;
    background-position: right bottom 5px;
    background-repeat: no-repeat;
}

.MapContainer .Data .DataContentContainer .DataItemContainer.Rosreestr {
    background: url(/MapIcons/rosreestrTransparent.png);
    background-size: 66px 100px;
    background-position: right bottom 5px;
    background-repeat: no-repeat;
}

.MapContainer .Data .DataContentContainer .DataItemContainer .Container {
    margin: 3px;
    display: flex;
    width: 324px;
}

.MapContainer .Data .DataContentContainer .DataItemContainer .Container .Header {
    font-size: 19px;
    line-height: 31px;
    margin-bottom: 10px;
    width: 100%;
    display: flex;
}

.MapContainer .Data .DataContentContainer .DataItemContainer .Container .Header .Text {
    width: 80%;
}

.MapContainer .Data .DataContentContainer .DataItemContainer .Container .Header .Content {
    width: 20%;
    display: flex;
    vertical-align: middle;
    align-items: center;
}

.MapContainer .Data .DataContentContainer .DataItemContainer .Container .Header .Content .Card {
     background-image: url(/MapIcons/card.svg);
     background-size: 26px 30px;
     background-position: 1px 1px;
     background-repeat: no-repeat;
     width: 28px;
     height: 31px;
     cursor:pointer;
}

.MapContainer .Data .DataContentContainer .DataItemContainer .Container .Header .Content .Link.Cian {
    background-image: url(/MapIcons/CIANLogoOnly.png);
    background-size: 21px 31px;
    background-repeat: no-repeat;
    background-position: center right;
    width: 21px;
    height: 31px;
    cursor:pointer;
}

.MapContainer .Data .DataContentContainer .DataItemContainer .Container .Header .Content .Link.Rosreestr {
    background-image: url(/MapIcons/rosreestrLogoOnly.png);
    background-size: 22px 31px;
    background-repeat: no-repeat;
    background-position: center right;
    width: 22px;
    height: 31px;
    cursor:pointer;
}

.MapContainer .Data .DataContentContainer .DataItemContainer .Container .Name {
    width: 30%;
}

.MapContainer .Data .DataContentContainer .DataItemContainer .Container .Value {
    width: 70%;
    text-align:right;
    white-space: nowrap; /* Запрещаем перенос строк */
    overflow: hidden;
    text-overflow: ellipsis; /* Добавляем многоточие */
}

.MapContainer .Data .DataContentContainer .DataItemContainer .Line {
    width: 324px;
    height: 1px;
    background-color: #d7d7d7;
    margin-top: 10px;
}

.MapContainer .Data .DataContentContainer .DataItemContainer .Logo{
}

.MapContainer .Map {
    width: 100%;
    height: 100%;
}

.displayCountControl {
    background: #4590ff;
    padding: 0px 12px;
    min-height: 26px;
    border-radius: 13px;
    border: solid 1px #5c9eff;
    color: #fff;
    display: flex;
    align-items: center;
    cursor: default;
}

.displayCountControl .preloaderImage{
    background: url(/MapIcons/preloaderWhite.svg);
    background-size: 19px;
    width: 19px;
    height: 19px;
    margin-left: 7px;
}

.displayCountControl.loaded .preloaderImage {
    display: none;
}

.targetControl {
    background: #4590ff;
    height: 36px;
    width: 36px;
    border-radius: 22px;
    border: solid 1px #5c9eff;
    color: #fff;
    cursor: pointer;
    background-image: url("/MapIcons/pinIcon.svg");
    background-size: 22px 22px;
    background-repeat: no-repeat;
    background-position: 7px 7px;
}

.filterControl .filterImage {
    background: #fff;
    height: 36px;
    width: 36px;
    border-radius: 22px;
    background: #4590ff;
    cursor: pointer;
    border: solid 1px #5c9eff;
    background-image: url("/MapIcons/hide-filter-arrow.svg");
    background-size: 18px 18px;
    background-repeat: no-repeat;
    background-position: 9px 9px;
    z-index: 2;
}

.filterControl .filterImage.inactive {
    background: #fff;
    background-image: url("/MapIcons/show-filter-arrow-filled.svg");
    background-size: 18px 18px;
    background-repeat: no-repeat;
    background-position: 9px 9px;
}

.filterControl .filterImage.inactive:hover {
    background: #edf5ff;
    background-image: url("/MapIcons/show-filter-arrow-filled.svg");
    background-size: 18px 18px;
    background-repeat: no-repeat;
    background-position: 9px 9px;
}

.filterControl .allFiltersContainer.inactive {
    display: none;
}

.filterControl .allFiltersContainer .filterPanel {
    margin-top: 10px;
    display: flex;
    align-items: center;
    max-width: 800px;
    white-space: nowrap;
}

.filterControl .allFiltersContainer .filterPanel .filterButton {
    display: inline-flex;
    height: 26px;
    line-height: 26px;
    padding: 0px 15px;
    background: #5c9eff;
    border-radius: 13px;
    vertical-align:central;
    text-align:center;
    border: solid 1px #5c9eff;
    color: #fff;
    cursor: pointer;
    user-select: none;
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -o-user-select: none;
}

.filterControl .allFiltersContainer .filterPanel .filterButton.inactive {
    background: #fff;
    color: #5c9eff;
}

.filterControl .allFiltersContainer .filterPanel .filterButton.inactive:hover {
    background: #edf5ff;
    color: #5c9eff;
}

.filterControl .allFiltersContainer .filterPanel .filterButton:not(:first-child) {
    margin-left: 10px;
}

.sliderGalleryContainer {
    width: 324px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.sliderGallery {
	width: 320px;
	height: 202px;
	display: flex;
	background-color: #ebecee;
	align-items: center;
	justify-content: center;
	position: relative;
	font-weight: bold;
	color: #858585;
}

.sliderGallery .preloaderImg {
	background: url(/MapIcons/preloaderWhite.svg);
	background-size: 40px;
	width: 40px;
	height: 40px;
	color: #4590ff;
	display: inline-block;
}

.sliderGallery .imageGallery {
	position: relative;
	width: 100%;
	height: 100%;
	background-repeat: no-repeat;
	background-position: 50%;
	background-size: cover;
	display: none;
	cursor: pointer;
}

.sliderGallery .imageGallery.visibleImageGallery {
	display: unset;
}

.arrowsContainer {
	position: relative;
	z-index: 1;
	top: -10px;
}

.arrowLeftContainer {
	position: absolute;
	left: -310px;
	width: 24px;
	height: 24px;
	border-radius: 50%;
	cursor: pointer;
	padding: 2px;
	background-color: #4590ff50;
	color: white;
	display: flex;
	align-items: center;
	justify-content: center;
}

.arrowRightContainer {
	position: absolute;
	right: 10px;
	width: 24px;
	height: 24px;
	border-radius: 50%;
	cursor: pointer;
	padding: 2px;
	background-color: #4590ff50;
	color: white;
	display: flex;
	align-items: center;
	justify-content: center;
}

.arrowLeftContainer:hover,
.arrowRightContainer:hover {
	background-color: #4590ff90;
}

.imageCountsContainer {
	position: relative;
	z-index: 1;
	cursor: pointer;
}
.imageCounts {
	position: absolute;
	bottom: -100px;
	background-color: #4590ff80;
	color: #ffffff;
	right: 2px;
	padding: 2px;
	font-weight: normal;
}

.loadWmsButton {
	background: #4590ff;
	padding: 0px 12px;
	min-height: 26px;
	border-radius: 13px;
	border: solid 1px #5c9eff;
	color: #fff;
	display: flex;
	align-items: center;
	cursor: pointer;
}

.wmsLoadWindowContainer {
	width: 100%;
	height: 100%;
	position: absolute;
	background-color: #656e7b50;
}