
@using (Html.BeginForm("UploadMarksCatalog", "Tour", FormMethod.Post))
{
    <div id="uploadMarksCatalogModal" style=" padding: 2%;">
        <div class="form-horizontal col-sm-12">
            <div class="form-group">
                <div class="col-sm-9">
                    <label for="isDeleteAllCheckBox">Загрузка с удалением имеющихся данных</label>
                </div>
                <div class="col-sm-2">
                    <input name="isDeleteAllCheckBox" id="isDeleteAllCheckBox" type="checkbox" />
                </div>
            </div>
            <div class="form-group">
                <input name="marksCatalogFiles" id="marksCatalogFiles" type="file" aria-label="files" accept=".xls,.xlsx" />
            </div>
            <div class="form-group">
                <div class="col-sm-2 col-sm-offset-9">
                    <button id="loadMarksCatalogFilesButton" type="button">Загрузить</button>
                </div>
            </div>
        </div>
    </div>
}

<script>
    $(document).ready(function () {
        $('#marksCatalogFiles').kendoUpload({
            multiple: false,
            localization: {
                select: 'Выбрать Файл'
            },
            validation: {
                allowedExtensions: ['.xls', '.xlsx']
            },
            success: function (e) {
                if (e.operation === "upload") {
                    Common.ShowMessage("Данные загружены успешно");
                }
            },
            error: function (e) {
                if (e.XMLHttpRequest.responseText) {
                    Common.ShowError(e.XMLHttpRequest.responseText);
                } else {
                    Common.ShowError("Не удалось загрузить выбранный файл");
                }
            }
        }).data('kendoUpload');

        $("#loadMarksCatalogFilesButton").kendoButton({
            click: function (e) {
                var files = $("#marksCatalogFiles").getKendoUpload().getFiles();
                if (files.length === 0) {
                    Common.ShowError("Файл не выбран");
                    return;
                }
                var groupId = '@((long)ViewBag.GroupId)';
                var factorId = '@((long)ViewBag.FactorId)';
                var isDeleteOld = $("#isDeleteAllCheckBox").is(":checked");
                var formData = new FormData();
                formData.append('file', files[0].rawFile);
                formData.append('groupId', groupId);
                formData.append('factorId', factorId);
                formData.append('isDeleteOld', isDeleteOld);

                kendo.ui.progress($('#uploadMarksCatalogModal'), true);
                $.ajax({
                    url: '@Url.Action("UploadMarksCatalog", "Tour")',
                    type: 'POST',
                    data: formData,
                    cache: false,
                    contentType: false,
                    processData: false,
                    success: function (response) {
                        if (response.success) {
                            window.location = '@Url.Action("DownloadExcelFile", "Tour")' + "?fileName=" + response.fileName;
                        } else {
                            Common.ShowError("Не удалось загрузить выбранный файл");
                        }
                    },
                    error: function (e) {
                        Common.ShowError(e.responseText);
                    },
                    complete: function(e) {
                        kendo.ui.progress($('#uploadMarksCatalogModal'), false);
                    }
                });
            }
        });

    });

</script>

