<style>
</style>

<div id="STP">
    @Html.Label("Дела")
    <div id="main_grid_obj"></div>
</div>

<script>
    $(document).ready(function () {

        $.ajax({
            url: '@Url.Action("GetDataST", "HierarchicalGridAnalysisDamage")',
            type: 'POST',
            data: {
                Index: 0
            @{ if (ViewBag.AdminIndex != null)
                {
                    <Text>,AdminIndex: @ViewBag.AdminIndex</Text>
                }
            } },
            success: function (response) {
                Init(response);
            },
            error: function (response) {

            }
        });

        function Init(obj) {

            $('#STP #main_grid_obj').kendoGrid({
                dataSource: {
                    data: obj
                },
                sortable: true,
                pageable: false,
                detailTemplate: kendo.template('<div id="grid_obj"></div>'),
                detailInit: detailInit,
                dataBound: function () {
                    this.expandRow(this.tbody.find("tr.k-master-row"));
                    this.collapseRow(this.tbody.find("tr.k-master-row"));
                },
                columns: [
                    {
                        field: "GroupVal",
                        title: "Статус дела",
                        width: "85%"
                    },
                    {
                        field: "Count",
                        title: "Количество",
                        width: "15%"
                    },
                    {
                        field: "Value",
                        title: "value",
                        hidden: true
                    }
                ]
            });
        }

        function detailInit(e) {
            var detailRow = e.detailRow;

            detailRow.find("#grid_obj").kendoGrid({
                selectable: true,
                dataSource: {
                    data: e.data.Value,
                    pageSize: 5
                },
                scrollable: false,
                sortable: true,
                resizable: true,
                pageable: true,
                columns: [
                    { field: 'NumConclusions', title: '№ Заключения', width: "11em" },
                    {
                        field: 'DateIssue', title: 'Дата выпуска заключения', width: "7em", template: function (dataItem) {
                            if (dataItem.DateIssue != null) {
                                var dtarr = dataItem.DateIssue.split('T')[0].split('-');
                                return kendo.htmlEncode(dtarr[2] + "." + dtarr[1] + "." + dtarr[0]);
                            }

                            return "";
                        }
                    },
                    {
                        field: 'NumCases', title: '№ Дела', width: "11em", template: function (dataItem) {
                            if (dataItem.NumCases != null)
                                return '<a href="@Url.Action("Index", "ObjectCard")?ObjId=' + dataItem.DamageId + '&RegisterViewId=DamageAnalysisOI&isVertical=true&useMasterPage=true" target="_blank">' + dataItem.NumCases + '</a>';

                            return "";
                        }
                    },
                    {
                        field: 'DateCreate', title: 'Дата создания', width: "7em", template: function (dataItem) {
                            if (dataItem.DateCreate != null) {
                                var dtarr = dataItem.DateCreate.split('T')[0].split('-');
                                return kendo.htmlEncode(dtarr[2] + "." + dtarr[1] + "." + dtarr[0]);
                            }

                            return "";
                        }
                    },
                    { field: 'NamePolicyholder', title: 'ФИО страхователя', width: "12em" },
                    {
                        field: 'DateReceiptGcipAndJc', title: 'Дата поступления в ГЦИП и ЖС пакета документов по выплатному делу', width: "9em", template: function (dataItem) {
                            if (dataItem.DateReceiptGcipAndJc != null) {
                                var dtarr = dataItem.DateReceiptGcipAndJc.split('T')[0].split('-');
                                return kendo.htmlEncode(dtarr[2] + "." + dtarr[1] + "." + dtarr[0]);
                            }

                            return "";
                        }
                    },
                    {
                        field: 'DateShipment', title: 'Дата досылки', width: "7em", template: function (dataItem) {
                            if (dataItem.DateShipment != null) {
                                var dtarr = dataItem.DateShipment.split('T')[0].split('-');
                                return kendo.htmlEncode(dtarr[2] + "." + dtarr[1] + "." + dtarr[0]);
                            }

                            return "";
                        }
                    },
                    { field: 'DaysCount', title: 'Сколько дней прошло с "Даты поступления в ГЦИП и ЖС"', width: "12em" },
                    {
                        field: 'Comment', title: 'Комментарий из дела', width: "12em", template: function (dataItem) {
                            if (dataItem.Comment != null)
                                return '<coment>' + dataItem.Comment + '</coment>';

                            return "";
                        }
                    },
                    { field: 'Performer', title: 'Исполнитель', width: "12em" }
                ],
                dataBound: function () {
                    detailRow.find("#grid_obj").kendoTooltip({
                        filter: "coment",
                        content: function (e) {
                            var target = e.target; 
                            return target.text(); 
                        }
                    });
                }
            });
        }

    });
</script>
