@model string[]

<style>
    #HGAOTD hr {
        background-color: rgb(142, 188, 0);
        color: rgb(142, 188, 0);
        height: 2px;
    }
</style>

<div id="HGAOTD">

    @foreach (var i in Model)
    {
        <hr>
        <partial name="@i" />

    }

</div>

<script>
    $(document).ready(function () {        

    });
</script>