@model KadOzenka.Web.Models.GbuObject.GbuObjectViewModel

@Html.HiddenFor(m => m.Id)
<div id="cardContent">
    <div id="partialAreaContainer">
        <div id="partialArea">
            @(await Html.PartialAsync("_gbuObjectCardPanelBar", Model))
        </div>
    </div>
    <div class="static-nav">
        <nav id="navigation-menu">
            <a href="#Section_Object">Основные данные</a>
            @{
                foreach (var m in Model.RegisterDtoList)
                {
                    <a href="#Section_@(m.Id)">@(m.Name)</a>
                }
            }
        </nav>
    </div>
</div>

@section scripts {
    <script type="text/javascript">
        $(document).ready(function() {
            $("#navigation-menu a").mPageScroll2id({
                highlightSelector: "#navigation-menu a"
            });
        });

        function updatePartialArea(objId, dateActual) {
            kendo.ui.progress($('#partialAreaContainer'), true);
            if (dateActual) {
                dateActual =
                    encodeURIComponent((kendo.parseDate(dateActual)) && (kendo.parseDate(dateActual)).toUTCString() ||
                        (kendo.parseDate(dateActual.replace(/\//ig, '.'))).toUTCString() ||
                        null);
            }

            $("#partialArea").load(
                `/GbuObject/GetGbuObjectCardPanelBar?objectId=${objId}&actualDate=${dateActual}`,
                function(responseTxt, statusTxt, xhr) {
                    kendo.ui.progress($('#partialAreaContainer'), false);
                    if (statusTxt == "error")
                        Common.ShowError(xhr.responseTxt);
                    else {
                        $("#navigation-menu a").remove();
                        var idList = Array.from(document.querySelectorAll("div[data-expand]"),
                            x => x.getAttribute("id"));
                        var nameList = Array.from(document.querySelectorAll("div[data-expand]"),
                            x => x.getAttribute("data-menu-name"));
                        for (var i = 0; i < idList.length; i++) {
                            $('#navigation-menu:last-child').append(`<a href='#${idList[i]}'>${nameList[i]}</a>`);
                        }

                        $("#navigation-menu a").mPageScroll2id({
                            highlightSelector: "#navigation-menu a"
                        });
                    }
                });
        }
    </script>
}
