@using Newtonsoft.Json;

@model long

<style type="text/css">
    td span.link {
        text-decoration-line: underline;
        text-decoration-style: dotted;
        cursor: pointer;
    }
</style>

<div id="DataAnalysisGrid">
</div>

<script type="text/javascript">
    var packageId = @Html.Raw(JsonConvert.SerializeObject(Model));
    $(document).ready(function () {
        //грид начислений
        var dataAnalysisDataSource = new kendo.data.DataSource({
            transport: {
                read: {
                    url: '@Url.Action("GetCriteriaList", "InputPackageFile")',
                    data: { inputPackageFileId: packageId },
                    contentType: 'application/json; charset=utf-8',
                    dataType: 'json'
                }
            },
            schema: {
                model: {
                    fields: {
                        Name: { type: 'string', defaultValue: null },
                        Url: { type: 'string', defaultValue: null },
                        Count: { type: 'number', defaultValue: null },
                        IsGroup: { type: 'boolean', defaultValue: false }
                    }
                }
            }
        });

        var dataAnalysisGrid = $('#DataAnalysisGrid').kendoGrid({
            selectable: 'row',
            toolbar: [
                {
                    name: 'excel',
                }
            ],
            dataSource: dataAnalysisDataSource,
            dataBound: function () {
                this.tbody.find('tr > td > span.link').on('click', function (e) {
                    var dataItem = dataAnalysisGrid.dataItem($(e.target).closest('tr'));
                    if (dataItem) {
                        var url = dataItem.get('Url');
                        var newWindow = window.open(url, '_blank');
                        newWindow.focus();
                    }
                });
            },
            columns: [
                {
                    field: 'Name',
                    width: 200,
                    title: 'Критерий',
                    width: '90%'
                },
                {
                    field: 'Url',
                    hidden: true
                },
                {
                    field: 'Count',
                    title: 'Кол-во записей',
                    template: Common.UI.CustomTemplate('Count', '#: Count ? kendo.toString(Count, "n0") : ""#'),
                    width: '10%'
                }
            ],
            sortable: true,
            resizable: true,
            scrollable: false,
            rowTemplate: '#if (data.IsGroup) ' +
                '{#<tr><td colspan="3"><span class="link"><strong>#: data.Name #</strong></span></td></tr>#} else ' +
                '{#<tr><td style="padding-left: 2%;"><span class="link">#: data.Name #</span></td><td style="display:none;">#: data.Url #</td><td>#: data.Count #</td></tr>#}#',
            messages: {
                commands: {
                    excel: "Экспорт в Excel"
                }
            }
        }).data('kendoGrid');
    });
</script>