@using Newtonsoft.Json;
@using CIPJS.Models.InputFilePackage;

@model List<InputFilePackageProcessOkrugDto>

@{
    int okrugOrdinal = 0;
}


<div id="process-okrug-toolbar"></div>
<div class="form-horizontal col-sm-12">
    <h5>Внимание! Будет обновлена статистика по загрузке данных МФЦ!</h5>
</div>


<script type="text/javascript">
    var inputFilePackageIds = @Html.Raw(JsonConvert.SerializeObject(Model.Select(x => x.Id).ToArray()));

    $(document).ready(function () {
        $('#process-okrug-toolbar').kendoToolBar({
            items: [
                {
                    type: 'button',
                    text: 'Обновить записи',
                    icon: 'check',
                    click: function (e) {
                        Common.ClearNotification();

                        if (inputFilePackageIds == undefined
                            || inputFilePackageIds == null
                            || inputFilePackageIds.length == 0) {
                            Common.ShowError('Необходимо выбрать хотя бы одну строку округа');
                            return;
                        }

                        kendo.ui.progress($('body'), true);                        
                        $.ajax({
                            type: 'POST',
                            url: '@Url.Action("UpdateMfcDataStatistics", "InputPackageFile")',
                            data: JSON.stringify(inputFilePackageIds),
                            contentType: 'application/json',
                            dataType: 'json',
                            success: function (e) {
                                kendo.ui.progress($('body'), false);
                                if (e.Errors && e.Errors.length > 0) {
                                    Common.ShowError(e.Errors.join('<br>'));
                                } else {
                                    Common.UI.ShowDialog({
                                        title: 'Подтверждение',
                                        content: 'Операция по обновлению статистических данных выполнена! Обновите таблицу.',
                                        icon: 'info',
                                        showCloseBtn: true,
                                        onClose: function () {
                                            Common.UI.CloseWindow('registerModalWindow', window.parent);
                                        }
                                    });
                                }
                            }
                        });
                    }
                },
                    {
                    type: 'button',
                    text: 'Отмена',
                    icon: 'note',
                    click: function (e) {
                        Common.ClearNotification();
                        Common.UI.CloseWindow('registerModalWindow', window.parent);
                    }
                }
            ]
        });
    });
</script>
