.left-slide-panel {
    display: block; /* не менять */
    position: fixed; /* не менять */
    z-index: 999;
    background: #333c4f;
    padding-left: 26px;
    height: 100%;
    flex-direction: column;
}

.slide-panel *:not(.left-panel-content-icon) {
    /* не добавляйте 'width' or 'height', вместо этого используйте опцию виджета 'width' для указания ширины панели */
    overflow: hidden;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: normal;
}

.slide-panel-handle {
    overflow: hidden; /* не менять */
    padding: 10px;
    font-size: 27px;
    white-space: nowrap;
    user-select: none;
    cursor: pointer;
    color: #fefefe;
    position: relative;
    top: -25px;
    left: 240px;
    height: 33px;
    width: 33px;
}

.slide-panel-handle-close {
    left: 221px;
    top: 52px;
    margin-bottom: 70px;
}

.slide-panel-logo-open {
    left: 26px;
    top: 21px;
}

.slide-panel-logo-close {
    left: 235px !important;
    top: 30px;
}

.left-slide-panel .logo-min {
    position: relative;
    display: block;
    background: url('../images/logo.png') no-repeat;
    background-size: cover;
    width: 21px;
    height: 29px;
    left: 0;
}

.left-slide-panel .logo-text-block {
    margin-top: -2px;
}

    .left-slide-panel .logo-text-block .logo-title {
        font-size: 16px;
        line-height: 24px;
        color: rgba(255, 255, 255, 0.4);
        width: 200px;
    }

    .left-slide-panel .logo-text-block .logo-text {
        font-size: 13px;
        line-height: 20px;
        color: rgba(179, 184, 186, 0.5);
        width: 235px;
    }

.left-slide-panel .slide-panel-notify {
    font-size: 15px;
    line-height: 19px;
    color: rgba(255, 255, 255, 0.8);
    z-index: 9999;
}

    .left-slide-panel .slide-panel-notify .slide-panel-notify-dot {
        position: relative;
        height: 10px;
        width: 10px;
        left: -10px;
        top: -9px;
        background: #FF9999;
        border: 2px solid #333C4F;
        border-radius: 7px;
        display: inline-block;
    }

    .left-slide-panel .slide-panel-notify .notify-title {
        font-size: 15px;
        position: relative;
        top: -6px;
        margin-left: 4px;
    }

    .left-slide-panel .slide-panel-notify .icon-notification {
        font-size: 27px;
    }

    .left-slide-panel .slide-panel-notify a {
        text-decoration: none;
    }

.left-slide-panel .slide-panel-notify-close {
    left: 232px;
    position: relative;
    top: -20px;
    width: 70px;
}

.left-slide-panel .slide-panel-notify .notify-line {
    border-top: 1px solid #696F80;
}

.left-slide-panel ul.slide-panel-notify-content {
    margin-top: 20px;
    font-size: 14px;
    line-height: 21px;
}

    .left-slide-panel ul.slide-panel-notify-content li {
        left: -35px;
        padding-left: 0;
        white-space: unset;
    }

.left-slide-panel .slide-panel-notify-content .notify-message-title {
    margin-bottom: 10px;
    color: rgba(255, 255, 255, 0.4);
}

    .left-slide-panel .slide-panel-notify-content .notify-message-title .notify-message-date {
        font-size: 12px;
    }

.left-slide-panel .slide-panel-notify-content .notify-message-text {
    word-wrap: break-word;
    color: rgba(255, 255, 255, 0.9);
}

.left-slide-panel .left-panel-content {
    color: rgba(255, 255, 255, 0.8);
}

.left-slide-panel .left-panel-content-close {
    position: relative;
    left: 230px;
    width: 70px;
}

.left-slide-panel .left-panel-content .left-panel-content-icon {
    display: inline-block;
    width: 28px;
    height: 28px;
    font-size: 28px;
    top: 4px;
    position: relative;
}

    .left-slide-panel .left-panel-content .group-title .left-panel-content-icon.fas,
    .left-slide-panel .left-panel-content .group-title .left-panel-content-icon.far
    {
        font-size: 16px;
        top: -1px;
        left: 6px;
    }

    .left-slide-panel .left-panel-content li .left-panel-content-icon.fas,
    .left-slide-panel .left-panel-content li .left-panel-content-icon.far {
        font-size: 16px;
        top: 2px;
        margin-right: 6px;
    }

    .left-slide-panel .left-panel-content .left-panel-content-title {
        margin-left: 16px;
    }

.left-slide-panel ul {
    list-style-type: none;
    font-size: 14px;
    line-height: 19px;
    margin-top: 15px;
}

.left-slide-panel ul li,
.left-slide-panel .group-title .lp-con-el .left-panel-content-title {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.left-slide-panel ul li {
    position: relative;
    left: -37px;
    border-bottom: 1px solid #464C5A;
    padding: 12px 10px 12px 39px;
    max-width: 250px;
}

.left-slide-panel .group-title .lp-con-el .left-panel-content-title {
    display: inline-block;
    width: 225px;
}

.left-slide-panel .group-title,
.left-slide-panel .switch .switch-text {
    border: none;
    position: relative;
    font-size: 15px;
    line-height: 19px;
    cursor: pointer;
    padding-top: 2px;
}

.left-slide-panel ul a {
    text-decoration: none;
}

    .left-slide-panel ul a:hover {
        color: #6699ff;
    }

.left-slide-panel .left-panel-content .left-panel-separator {
    border-bottom: 1px solid #3a404f;
    left: -26px;
    position: relative;
    width: 300px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.left-slide-panel .left-panel-content ul a.active {
    color: #6699ff;
}

.left-slide-panel img.lp_arrow {
    margin-left: 5px;
}

.left-slide-panel .group-title a {
    text-decoration: none;
}

.left-slide-panel .switch .cmn-toggle {
    position: absolute;
    margin-left: -9999px;
    visibility: hidden;
}

    .left-slide-panel .switch .cmn-toggle + label {
        display: block;
        position: relative;
        cursor: pointer;
        outline: none;
        user-select: none;
    }

.left-slide-panel .switch input.cmn-toggle-round + label {
    padding: 2px;
    width: 30px;
    height: 15px;
    border-radius: 10px;
}

    .left-slide-panel .switch input.cmn-toggle-round + label:before,
    .left-slide-panel .switch input.cmn-toggle-round + label:after {
        display: block;
        position: absolute;
        top: 1px;
        left: 1px;
        bottom: 1px;
        content: "";
    }

    .left-slide-panel .switch input.cmn-toggle-round + label:before {
        right: 1px;
        background: transparent;
        border-radius: 10px;
        transition: background 0.4s;
        border: solid rgba(255, 255, 255, 0.6) 1.5px;
    }

    .left-slide-panel .switch input.cmn-toggle-round + label:after {
        width: 16px;
        background-color: #fff;
        border-radius: 100%;
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
        transition: margin 0.4s;
    }

.left-slide-panel .switch input.cmn-toggle-round:checked + label:before {
    background-color: #8ce196;
}

.left-slide-panel .switch input.cmn-toggle-round:checked + label:after {
    margin-left: 16px;
}

.left-slide-panel ul.lp-ddl-horizontal li {
    display: inline-block;
    padding: 0;
    border: none;
    margin-left: 15px;
}

.left-slide-panel ul.lp-ddl-horizontal li:first-child {
    margin-left: 0;
}

.left-slide-panel a {
    cursor: pointer;
}

.left-slide-panel .el-disable {
    color: rgba(255, 255, 255, 0.5);
    pointer-events: none;
}

    .left-slide-panel .el-disable * {
        font-weight: 100;
        cursor: default;
    }