.top-panel .main-header {
    font-size: 20px;
}

.top-panel .second-row .sub-header-element {
    display: inline-block;
    color: #333
}
.top-panel .second-row .sub-header-element a {
    text-decoration: none;
    color: #333
}
    .top-panel .second-row .sub-header-element a:hover {
        color: #7c97cc
    }

.top-panel .first-row {
    padding-top: 15px;
    padding-bottom: 5px;
}

.top-panel .second-row {
    padding-bottom: 20px;
}
.top-panel .third-row {
    border-top: 1px solid #e5e6eb;
    height: 5px;
}

.top-panel .second-row .sub-header-element .icon-dot {
    display: inline-block;
    font-size: 26px;
    width: 45px;
    position: relative;
    top: 7px;
    text-align: center;
    color: #c4c4c4;
}

/*.top-panel .second-row .sub-header-element:first-child {
    color: #7c97cc;
}*/

.top-panel {
    background: #F8F9FC;
    box-sizing: border-box;
}

.top-panel .top-menu {
    float: right;
}

.top-panel .first-row .top-menu .icon {
    display: inline-block;
    font-size: 26px;
    width: 45px;
    position: relative;
    top: 7px;
    text-align: center;
    color: #6a6e77;
}
    
.top-panel .first-row .top-menu .top-menu-element {
    display: inline-block;
}

.top-panel .first-row .main-header {
    display: inline-block;
}

    .top-panel .main-menu .dropdown-main-menu {
        display: none;
        margin-top: 20px;
        background-color: white;
        overflow: auto;
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
        z-index: 1;
        position: absolute;
        /*display: inline-block;*/
        right: 0.4em;
        width: 194px;
        border-bottom-left-radius: 7px;
        border-bottom-right-radius: 7px;
        padding-top: 22px;
    }

    .top-panel .main-menu .main-menu-element {
        display: inline-block;
        position: relative;
        overflow: auto;
        z-index: 2;
        text-align: center;
        width: 80px;
        padding-bottom: 15px;
        vertical-align: top;
    }

.top-panel .main-menu .main-menu-element-icon {
    display: inline-block;
    font-size: 26px;
    position: relative;
    text-align: center;
    color: white;

    height: 31px;
    width: 34px;
    padding-top: 4px;
    border-radius: 5px;
}
.top-panel .main-menu .dropdown-main-menu a {
    text-decoration: none;
    font-size: 11px;
}
.top-panel .main-menu .dropdown-main-menu .icon-build {
    background-color: #6599ff;
}
.top-panel .main-menu .dropdown-main-menu .icon-deal {
    background-color: #ff9899;
}
.top-panel .main-menu .dropdown-main-menu .icon-fls {
    background-color: #66cdcc;
}
.top-panel .main-menu .dropdown-main-menu .icon-search_big {
    background-color: #e5e5ef;
}
.top-panel .main-menu .dropdown-main-menu .right-align {
    display: inline-block;
    text-align: right;

    width: 95px;
}
    .top-panel .main-menu .dropdown-main-menu .right-align:nth-child(even) {
        text-align: left;
    }


.top-panel .usual-menu .dropdown-usual-menu a {
    text-decoration: none;
    font-size: 14px;
}
    .top-panel .usual-menu .dropdown-usual-menu .usual-menu-subelement {
      
        padding: .28em 1.8em .38em .9em;
    }

.top-panel .usual-menu .dropdown-usual-menu {
    display: none;
    margin-top: 20px;
    background-color: white;
    overflow: auto;
    z-index: 1;
    position: absolute;
    /*display: inline-block;*/
    right: 0.4em;
}

    .top-panel .top-menu .usual-menus ul.k-widget {
        border: none;
        box-shadow: none;
        background-color: #F8F9FC;
        height: 40px;
    }
    .top-panel .top-menu .usual-menus li.k-item:not(.k-separator) {
        border: none;
        box-shadow: none;
        height: 100%;
    }
    .top-panel .top-menu .usual-menus {
        float: right;
        display: inline-block;
    }
    .top-panel .top-menu .main-menu {
        display: inline-block;
    }

.top-panel {
    padding-right: 40px;
    padding-left: 60px;
}