<?xml version="1.0" encoding="utf-8"?>
<configuration>

	<appSettings>
		<add key="CoreConfigRootDirectory" value="Config" />

		<!--Dev-->
		<add key="CoreConfigDeployKey" value="Dev" />
		<!--Prod-->
		<!--<add key="CoreConfigDeployKey" value="Prod" />-->
		<!--Ppr-->
		<!--<add key="CoreConfigDeployKey" value="Ppr" />-->
		<!--Ppr2-->
		<!--<add key="CoreConfigDeployKey" value="Ppr" />
    <add key="CoreConfigDeployKeyAdditional" value="Ppr2" />-->
	</appSettings>

</configuration>