<?xml version="1.0" encoding="utf-8"?>
<configuration>
  
  <appSettings>
    <add key="CoreConfigRootDirectory" value="C:\TFSProjects\CIPJS\KadOzenka\Source\KadOzenka.Web\Config\" />
    <add key="CoreConfigDeployKey" value="Dev" />
    <add key="CoreFileLoggerName" value="C:\logs\errors.log" />
    
    
    <add key="DbExporterBaseFolder" value="C:\temp\GeneratedScripts" />

    
    <!--
    <add key="DbExporterProviderName" value="Oracle.DataAccess.Client" />
    <add key="DbExporterConnectionString" value="user id=rsm_cloud_service;password=rsm_cloud_service;data source=(DESCRIPTION=(ADDRESS=(PROTOCOL=TCP)(HOST=192.168.3.222)(PORT=1522))(CONNECT_DATA=(SERVICE_NAME=n2)));enlist=true" />
    -->

    <add key="DbExporterProviderName" value="Npgsql" />
    <add key="DbExporterConnectionString" value="Host=192.168.3.64;Port=5432;Username=cipjs_main;Password=cipjs_main;Database=cipjs_main;CommandTimeout=0;Keepalive=30;enlist=true" />

    <add key="DbExporterProfile" value="C:\TFSProjects\CIPJS\KadOzenka\Source\Utils\GenerateDbScripts\ExportConfigurationPlatformOnly.xml" />
    

  </appSettings>
  
  <connectionStrings>
    <add name="Realty" connectionString="user id=rsm_cloud_service;password=rsm_cloud_service;data source=(DESCRIPTION=(ADDRESS=(PROTOCOL=TCP)(HOST=192.168.3.222)(PORT=1522))(CONNECT_DATA=(SERVICE_NAME=n2)));enlist=true" providerName="Oracle.DataAccess.Client"/>

    <!--<add name="Realty" connectionString="Host=192.168.3.64;Port=5432;Username=cipjs_main;Password=cipjs_main;Database=cipjs_main;CommandTimeout=0;Keepalive=30;enlist=true" providerName="Npgsql"/>-->
  </connectionStrings>
  
</configuration>