<?xml version="1.0" encoding="utf-8"?>
<configuration>
  
  <appSettings>
    <add key="CoreConfigRootDirectory" value="..\..\..\..\..\KadOzenka.Web\Config" />
    <add key="CoreConfigDeployKey" value="Dev" />
    <add key="CoreFileLoggerName" value="C:\logs\errors.log" />

    
    <add key="DbExporterEnabled" value="true" />
    <add key="DbExporterBaseFolder" value="..\..\..\..\..\Database\GeneratedScripts" />
    <add key="DbExporterProviderName" value="Npgsql" />
    <add key="DbExporterConnectionString" value="Host=192.168.3.68;Port=5432;Username=cipjs_kad_ozenka;Password=cipjs_kad_ozenka;Database=cipjs_kad_ozenka;CommandTimeout=0;Keepalive=30;enlist=true;" />
    <add key="DbExporterProfile" value="..\..\..\ExportConfigurationPromDb.xml" />
    <add key="DbExporterProviderNameDestination" value="Npgsql" />
	  
    <add key="CreateDbTableForRegister" value="false" />
    <add key="CreateDbTableForRegisterIds" value="1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,100" />

	<!--Настройки для экспорта функций-->
	<add key="CreateDbFunctions" value="true"/>
	<add key="GetFunctionsSQLReuqest" value="SELECT proname, pg_get_functiondef(oid) AS func_def FROM pg_proc WHERE proowner=(SELECT usesysid FROM pg_user WHERE usename='{0}' LIMIT 1);"/>
	<add key="FunctionsTemplate" value="&#13;/*{0} {1}*/&#13;{2};&#13;"/>
    <add key="FunctionsFileName" value="create_functions.sql"/>

    <!--Настройки для экспорта триггеров-->
	<add key="CreateDbTriggers" value="true"/>
    <add key="GetTriggersSQLReuqest" value="SELECT tgname, (SELECT relname FROM pg_class WHERE oid = tgrelid) AS table_name, pg_get_triggerdef(oid) FROM pg_trigger WHERE tgisinternal IS NOT TRUE;"/>
    <add key="TriggersTemplate" value="&#13;/*{0} {1}*/&#13;DROP TRIGGER IF EXISTS {0} ON {2};&#13;{3};&#13;"/>
    <add key="TriggersFileName" value="create_triggers.sql"/>
	  
	<!--Настройки для экспорта индексов-->
	<add key="CreateDbIndexes" value="true"/>
	<add key="GetIndexesSQLReuqest" value="SELECT indexname, tablename, indexdef FROM pg_indexes WHERE schemaname = 'public';"/>  
	<add key="IndexesTemplate" value="&#13;/*{0} {1}*/&#13;DO $$&#13;BEGIN&#13;&#09;IF (SELECT to_regclass('{2}') IS NOT null) THEN&#13;&#09;&#09;IF(SELECT count(*) FROM pg_tables WHERE schemaname='public' AND tablename='{2}') THEN&#13;&#09;&#09;&#09;ALTER TABLE {2} DROP CONSTRAINT IF EXISTS {0} RESTRICT;&#13;&#09;&#09;END IF;&#13;&#09;&#09;DROP INDEX IF EXISTS {0};&#13;&#09;&#09;{3};&#13;&#09;END IF;&#13;END $$;&#13;"/>
    <add key="IndexesFileName" value="create_indexes.sql"/>
  
  </appSettings>
  
  <connectionStrings>
    <add name="Main" connectionString="Host=192.168.3.68;Port=5432;Username=cipjs_kad_ozenka;Password=cipjs_kad_ozenka;Database=cipjs_kad_ozenka;CommandTimeout=0;Keepalive=30;enlist=true;" providerName="Npgsql"/>
  </connectionStrings>
  
</configuration>