<?xml version="1.0" encoding="utf-8"?>
<configuration>
  
  <appSettings>
    <add key="CoreConfigRootDirectory" value="..\..\..\..\..\KadOzenka.Web\Config" />
    <add key="CoreConfigDeployKey" value="Dev" />
    <add key="CoreFileLoggerName" value="C:\logs\errors.log" />

    
    <add key="DbExporterEnabled" value="true" />
    <add key="DbExporterBaseFolder" value="..\..\..\..\..\Database\GeneratedScripts" />
    <add key="DbExporterProviderName" value="Npgsql" />
    <add key="DbExporterConnectionString" value="Host=192.168.3.68;Port=5432;Username=cipjs_kad_ozenka;Password=cipjs_kad_ozenka;Database=cipjs_kad_ozenka;CommandTimeout=0;Keepalive=30;enlist=true;" />
    <add key="DbExporterProfile" value="..\..\..\ExportConfigurationPromDb.xml" />

    
    <add key="CreateDbTableForRegister" value="false" />
    <!--<add key="CreateDbTableForRegisterIds" value="1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23" />-->
    <add key="CreateDbTableForRegisterIds" value="100" />
    

  </appSettings>
  
  <connectionStrings>
    <add name="Main" connectionString="Host=192.168.3.68;Port=5432;Username=cipjs_kad_ozenka;Password=cipjs_kad_ozenka;Database=cipjs_kad_ozenka;CommandTimeout=0;Keepalive=30;enlist=true;" providerName="Npgsql"/>
  </connectionStrings>
  
</configuration>