<?xml version="1.0" encoding="utf-8"?>
<configuration>
  
  <appSettings>
    <add key="CoreConfigRootDirectory" value="Config" />
    <add key="CoreConfigDeployKey" value="Dev" />
    <add key="CoreFileLoggerName" value="C:\logs\errors.log" />

    <add key="StartLongProcessService" value="false" />
    <add key="UsePlatformWwwroot" value="true" />

    <!--Максимальное кол-во потоков для многопоточной обработки коллекций-->
    <add key="MaxDegreeOfParallelism" value="4"/>
    <add key="FEE" value="0"/>
    <add key="OPL" value="0"/>
    <add key="PRKOM" value="0"/>
    <add key="ImportPackageSize" value="1000"/>
    
  </appSettings>
  
  <connectionStrings>
    <add name="Realty" connectionString="Host=192.168.3.64;Port=5432;Username=cipjs_kad_ozenka;Password=cipjs_kad_ozenka;Database=cipjs_main;CommandTimeout=0;Keepalive=30;enlist=true" providerName="Npgsql"/>
  </connectionStrings>
  
</configuration>