.slider {
    -webkit-appearance: none;
    width: 100%;
    height: 7.5px;
    border-radius: 5px;
    background: #e0eeff;
    outline: none;
    border: 1px solid #5c9eff;
    -webkit-transition: .2s;
    transition: opacity .2s;
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 17.5px;
    height: 17.5px;
    border-radius: 50%;
    border: solid 1px #5c9eff;
    background: #fff;
    cursor: pointer;
}

.slider::-moz-range-thumb {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: #fff;
    cursor: pointer;
}