@using CIPJS.DAL.DamageAnalysis;

@model List<DamageAnalysisPayToDto>

<div>
    @(Html.Kendo().Grid<DamageAnalysisPayToDto>(Model)
        .Name("DamageAmountPayTo")
        .Columns(columns =>
        {
            columns.Bound(c => c.FactNumber).Title("Номер платежного поручения").ClientTemplate("<a href='' onClick='routePayToUrl({ Number:\"#: FactNumber #\" }); return false;'>#: FactNumber #</a>").Width("25%");
            columns.Bound(c => c.FactDate).Title("Дата платежного поручения").Format("{0:dd.MM.yyyy}").Width("25%");
            columns.Bound(c => c.SpFact).Title("Сумма платежного поручения").ClientTemplate("#: SpFact ? kendo.toString(SpFact, 'n2') : \"\"#").Width("25%");
            columns.Bound(c => c.SpNo).Title("Размер удержанной части").ClientTemplate("#: SpNo ? kendo.toString(SpNo, 'n2') : \"\"#").Width("25%");
        })
    )
</div>

<script>
    function routePayToUrl(data) {
        var url = '@Url.Action("Index", "RegistersView")' + '?registerId=InsurancePaymentsTo&Transition=1&314001900=' + data.Number;
        window.open(url);
    };
</script>

@*<style>
    .panelbar .k-grid .k-header {
        font-weight: normal !important;
    }
</style>*@