.my-custom-icon-class:before {
    content: "\21D4";
    font-weight: bold;
    font: icon;
    font-size: large;
}

.paramsContainer {
    overflow: auto;
    width: 100%;
    height: 255px;
    border-color: #ceced2;
    border-radius: 6px;
    border-style: solid;
    border-width: 1px;
}

.matchParamsContainer {
    height: 204px !important;
}

.filterParamsContainer {
    width: 100%;
    height: 255px;
    border-color: #ceced2;
    border-radius: 6px;
    border-style: solid;
    border-width: 1px;
    overflow: hidden;
}

.filterInput {
    height: 10%;
}

.filterAttrParamsContainer {
    width: inherit;
    height: calc(0.9*240px);
    overflow: auto;
}

.paramsContainer .k-listbox {
    border: none;
    width: 100%;
    height: 100%
}

#listView {
    border: none;
    width: 100%;
    height: 100%
}

.matchItem {
    margin-top: 0.4em;
    border: #ceced2;
}

.matchItem > div {
    white-space: nowrap;
}

.paramsContainer .k-listbox .k-item {
    border: none;
}

.paramsContainer .k-listbox .k-item.k-state-selected {
    color: #6699FF;
    background-color: white;
    border: none;
}

.matchButtonContainer {
    height: 255px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.form-horizontal .form-group {
    margin-right: 0;
    margin-left: 0;
}

#backgroundDownloadCheckbox {
    -webkit-appearance: checkbox !important;
}

.deleteButton {
    background-color: rgba(1, 0, 0, 0);
}

div.k-treeview {
    overflow: unset !important;
}

#importForm {
    height: 100%;
}

.panelBar {
    height: 99%;
}

#Section_Matching > .k-content {
    border-width: 0;
}