
<div class="row">&nbsp;</div>
<div class="form-horizontal col-sm-12">
    <div class="form-group"></div>
    <div class="form-group">
        <div class="col-sm-12" id="gadgetTitle">Мониторинг текущих длительных процессов</div>
    </div>
    <div class="form-group">
        <div class="col-sm-12"><div id="grid"></div>
            </div>
    </div>
</div>

<style>
    #gadgetTitle {
        font-size: medium;
        font-family: 'Roboto', sans-serif;
        text-align: center;
        color: rgb(142, 142, 142);
    }
    
    #grid .k-progressbar {
        margin-top: 1.5em;
        width: 99%;
    }

    .k-progressbar .k-state-selected {
        background-color: rgb(137, 215, 215);
        border-color: rgb(82, 163, 163);
    }

    .k-progressbar .k-complete {
        background-color: rgb(137, 215, 215);
        border-color: rgb(82, 163, 163);
    }

    #grid .k-grid-norecords {
        font-family: 'Roboto', sans-serif;
        text-align: center;
        color: rgb(142, 142, 142);
        padding-top: 10px;
        min-height: 100px;
    }

    .noDataLabel {
        /*font-size: medium;*/
        font-family: 'Roboto', sans-serif;
        text-align: center;
        color: rgb(142, 142, 142);
    }
</style>

<script src="~/lib/signalr/dist/browser/signalr.js"></script>
<script type="text/javascript">
    var gridDataSource = [];
    var grid;

    $(document).ready(function () {
        $.ajax({
            url: '@Url.Action("CurrentLongProcessesList", "GbuCurrentLongProcesses")',
            contentType: 'application/json; charset=utf-8',
            dataType: 'json',
            success: function (result) {
                gridDataSource = result;
                //debugger;
                initGrid();
                initSignalRConnection();
            },
            error: function(result) {
                options.error(result);
            }
        });
    });

    function initGrid() {
        grid = $("#grid").kendoGrid({
            columns: [
                {
                    field: "Name",
                    title: "Наименование",
                    width: "40%",
                    headerAttributes: { style: "font-weight: bold; font-family: 'Roboto', sans-serif;text-align: center;" },
                    attributes: {
                        style: "font-family: 'Roboto', sans-serif;text-align: center;"
                    }
                },
                {
                    field: "StatusName",
                    width: "20%",
                    title: "Статус",
                    headerAttributes: { style: "font-weight: bold;text-align: center;" },
                    attributes: {
                        style: "font-family: 'Roboto', sans-serif;text-align: center;"
                    }
                },
                {
                    field: "Progress",
                    title: "Прогресс выполнения",
                    template: "<div class='progress'></div>",
                    headerAttributes: { style: "font-weight: bold;text-align: center;" },
                    attributes: {
                        style: "font-family: 'Roboto', sans-serif;text-align: center;"
                    }
                }
            ],
            dataSource: gridDataSource,
            editable: false,
            noRecords: {
                template: "Нет текущих добавленных или выполняемых процессов"
            },
            dataBound: function(e) {
                var grid = this;

                grid.tbody.find(".progress").each(function(e) {
                    var row = $(this).closest("tr");
                    var model = grid.dataItem(row);

                    $(this).kendoProgressBar({
                        type: "percent",
                        showStatus: true,
                        min: 0,
                        max: 100,
                        value: model.Progress,
                        //change: function(e) {
                        //    this.progressWrapper.css({
                        //        "background-color": "#89d7d7",
                        //        "border-color": "#52a3a3"
                        //    });
                        //}
                    });
                    $(this).data("kendoProgressBar").value(model.Progress);
                });
            }
        }).data("kendoGrid");
    }

    function initSignalRConnection()
    {
        var connection = new signalR.HubConnectionBuilder()
            .withUrl("/gbuLongProcessesProgressBar", { skipNegotiation: true, transport: signalR.HttpTransportType.WebSockets })
            .withAutomaticReconnect()
            .build();

        connection.on('ReceiveMessage', function (message) {

            var encodedMsg = JSON.parse(message);
            // Add the message to the page.
            updateGrid(encodedMsg);
        });

        connection.start()
            .then(function () {
                connection.invoke('SendMessage');
            })
            .catch(error => {
                console.error(error.message);
            });
    }

    function updateGrid(newData) {
        for (var i = 0; i < newData.length; i++) {
            var elem = gridDataSource.find(x => x.Id === newData[i].Id);
            if (elem === undefined) {
                gridDataSource.push(newData[i]);
            } else {
                elem.StatusName = newData[i].StatusName;
                elem.Progress = newData[i].Progress;
            }
        }
        for (var i = 0; i < gridDataSource.length; i++) {
            var elem = newData.find(x => x.Id === gridDataSource[i].Id);
            if (elem === undefined) {
                gridDataSource.splice(i, 1);
            }
        }

        grid.setDataSource(gridDataSource);
        grid.refresh();
    }
</script>