@model  long;

<div id="toolbar"></div>
<form>
    <div class="form-horizontal col-sm-12">
        <div class="form-group"></div>
        <div class="form-group">
            <input name="files" id="files" type="file" aria-label="files" />
        </div>
    </div>
</form>

<script>
    $(document).ready(function () {
        var files;

        $('#toolbar').kendoToolBar({
            items: [
                {
                    type: 'button',
                    text: 'Загрузить данные',
                    icon: 'check',
                    click: function (e) {
                        Common.ClearNotification();
                        var message = [];

                        if (files.getFiles().length == 0) {
                            message += 'Необходимо выбрать как минимум один файл<br>';
                        }

                        if (message.length != 0) {
                            Common.ShowError(message);
                            return;
                        }

                        var formData = new FormData($('form').get(0));
                        formData.set('documentId', @Model)

                        kendo.ui.progress($('body'), true);

                        $.ajax({
                            type: 'POST',
                            data: formData,
                            processData: false,
                            contentType: false,
                            success: function (e) {
                                kendo.ui.progress($('body'), false);
                                if (e.Errors && e.Errors.length > 0) {
                                    Common.ShowError(e.Errors.join('<br>'));
                                } else {
                                    if (window.parent.documentUploadedCallback)
                                        window.parent.documentUploadedCallback(e);
                                    Common.UI.CloseWindow('documentsUploadWnd', window.parent);
                                }
                            },
                            error: function (e) {
                                kendo.ui.progress($('body'), false);
                                Common.ShowError(e.responseText ? e.responseText : 'Ошибка загрузки. Обратитесь к администратору');
                            }
                        });
                    }
                }
            ]
        });

        files = $('#files').kendoUpload({
            multiple: false,
            error: function (e) {
                Common.ShowError('При загрузке файлов произошла ошибка');
            }
        }).data('kendoUpload');
    });
</script>