<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <!--<add key="CoreConfigRootDirectory" value="C:\Users\silanov\Documents\TFS\CIPJS\KadOzenka\Source\KadOzenka.Web\Config" />-->
    <add key="CoreConfigRootDirectory" value="C:\TFSProjects\CIPJS\KadOzenka\Source\KadOzenka.Web\Config" />
    
    <add key="CoreConfigDeployKey" value="Dev" />
    <add key="CoreFileLoggerName" value="C:\logs\errors.log" />
    <add key="StartLongProcessService" value="false" />
    <add key="ObjectReplicationExcelBaseFolder" value="D:\2. Рабочая папка\ЦИП ЖС - Кадастровая оценка\Пример выгрузки из старой системы\" />

    <add key="LogerPath" value="C:\Users\silanov\Desktop\Error.log"/>

    <add key="GeocodeTest00" value="b621eeb4-7f0b-45c0-84a9-7f62d6db8a1f"/>
    <add key="GeocodeTest01" value="ae344970-4b37-4c48-95d6-873dabf6c900"/>
    <add key="GeocodeTest02" value="bc933605-bb28-452e-82a7-cb61bb506cb3"/>
    <add key="GeocodeTest03" value="dfe89520-4d19-40c9-84f7-8554c238fdba"/>
    <add key="GeocodeTest04" value="295ca538-9978-4e0c-9901-1b1b254ae2ec"/>
    <add key="GeocodeTest05" value="9b3fb691-b0b0-4684-ba01-dfd3a3e994ca"/>
    <add key="GeocodeTest06" value="28ae496e-350b-4856-abb5-f09e31cc81ec"/>
    <add key="GeocodeTest07" value="770affe1-de6b-4d4b-89c1-19228db21860"/>
    <add key="GeocodeTest08" value="aa7ca4d5-9049-4336-a741-286db75c6629"/>
    <add key="GeocodeTest09" value="54cc5da5-7354-417c-ab19-9b31d9b5f407"/>
    <add key="GeocodeTest10" value="23236621-9c12-48f4-bd15-39bed8cd9866"/>
    <add key="GeocodeTest11" value="dc262fd1-a5d4-4795-a4dd-2a7c38e270e2"/>
    <add key="GeocodeTest12" value="a5634cb4-dfa1-46f5-8a9a-1f9bf289708c"/>
    <add key="GeocodeTest13" value="3a018850-c518-4da4-a57e-a7e7f895673c"/>
    <add key="GeocodeTest14" value="878a0296-414c-44a1-8225-633129abc884"/>
    <add key="GeocodeTest15" value="b2af6865-44b7-4bde-b357-ef9e1979e924"/>
    <add key="GeocodeTest000" value="f90558c9-8fbb-4076-a48c-498d722a988a"/>
    <add key="GeocodeTest001" value="059c0fdb-a157-414f-bfbf-64ae681bfd73"/>
    <add key="GeocodeTest002" value="5400667f-f671-4f5b-a680-1296945f82e5"/>
    <add key="geocodeLink" value="https://geocode-maps.yandex.ru/1.x/?apikey={0}&amp;geocode={1},{2}&amp;format=json&amp;results=1&amp;kind=house"/>
    <add key="geocodeLinkAddress" value="https://geocode-maps.yandex.ru/1.x/?apikey={0}&amp;geocode={1}&amp;format=json&amp;results=1&amp;kind=house"/>

    <add key="restAppDUD" value="01.09.2019 00:00:00"/>
    <add key="restAppLSUDT" value="dd.MM.yyyy HH:mm:ss"/>
    <add key="restAppLogin001" value="ii1921000@gmail.com"/>
    <add key="restAppLogin002" value="ii1921001@gmail.com"/>
    <add key="restAppLogin003" value="ii1921002@gmail.com"/>
    <add key="restAppLogin004" value="ii1921003@gmail.com"/>
    <add key="restAppToken001" value="7acef758bd91b921e8bd241cc1e6aac6"/>
    <add key="restAppToken002" value="dbc22b3bbebbe11d8c6b746b392cab16"/>
    <add key="restAppToken003" value="a56a7b99fc5bf26378159317c6e2a3b9"/>
    <add key="restAppToken004" value="6b836c92b0a0c81eb964b4c3fc5f448c"/>
    <add key="restAppMinuteLimits" value="20"/>
    <add key="restAppCIANLink" value="https://rest-app.net/api-cian/ads?login={0}&amp;token={1}&amp;category_id=0&amp;deal_id={2}&amp;region_id={3}&amp;date1={4}&amp;date2={5}"/>
    <add key="restAppAvitoLink" value="https://rest-app.net/api/ads?login={0}&amp;token={1}&amp;category_id={2}&amp;region_id={3}&amp;date1={4}&amp;date2={5}"/>
    <add key="restAppMetaLink" value="https://rest-app.net/api/info?login={0}&amp;token={1}"/>
    <add key="restAppDealTypeCIAN" value="1,2"/>
    <add key="restAppRegionIDsCIAN" value="1"/>
    <add key="restAppCategoriesAvito" value="24,25,26,42"/>
    <add key="restAppRegionIDsAvito" value="637640"/>
    <add key="restAppTimeTmp" value="yyyy-MM-dd HH:mm:ss"/>
    <add key="restAppMaxValueLimit" value="50"/>

    <add key="screenShotFolder" value="MarketObjectScreenShot"/>
    <add key="removeCIANBanerScript" value="document.getElementById(&quot;stretch-banner&quot;).remove();"/>
    <add key="removeCIANRightBanerScript" value="try{document.querySelector('div[data-name=&quot;AsideBanners&quot;]').remove();}catch{}"/>
    <add key="removeCIANAboutSiteScript" value="try{document.querySelector('body div div img').remove();}catch{}"/>
    <add key="removeCIANEnterSiteScript" value="try{document.querySelector('span[data-name=&quot;Text&quot;]');}catch{}"/>
    <add key="getParentElement" value="return arguments[0].parentNode;"/>
    <add key="getPageMaxWidth" value="return Math.max(window.innerWidth,document.body.scrollWidth,document.documentElement.scrollWidth);"/>
    <add key="getPageMaxHeight" value="return Math.max(window.innerHeight,document.body.scrollHeight,document.documentElement.scrollHeight);"/>
    <add key="hidePageScroll" value="document.body.style.overflow = &quot;hidden&quot;;"/>
    <add key="getWindowOuterWidth" value="return window.outerWidth;"/>
    <add key="getWindowOuterHeight" value="return window.outerHeight;"/>
    <add key="showCIANHiddenInfo" value="var showInfo = document.querySelector(&quot;div[class*='offer_card_page-main'] button[class*=button_collapsed]&quot;); if(showInfo) showInfo.click();"/>
    <add key="removeCIANBotBanerScript" value="document.getElementsByClassName(&quot;a10a3f92e9--banner-content--2cXK2&quot;)[0].remove()"/>
    <add key="readCIANPrVar" value="priceBaner"/>
    <add key="readCIANPriceBlockScript" value="window.{0} = document.querySelector(&quot;div[data-name = 'OfferCardAside']&quot;).firstChild.firstElementChild.getBoundingClientRect();"/>
    <add key="readCIANPrHCh" value="return document.contains(document.querySelector('div[data-name=&quot;PriceHistory&quot;]'));"/>
    <add key="readCIANPrDCh" value="return document.contains(document.querySelector('div[data-name=&quot;OfferTerms&quot;] span[itemprop=&quot;price&quot;]'));"/>
    <add key="readCIANPrGTR" value="return document.querySelector('div[data-name=&quot;OfferTerms&quot;] span[itemprop=&quot;{0}&quot;]').innerHTML;"/>
    <add key="readCIANAreaOld" value="return document.getElementById('description').firstChild.firstChild.firstChild.innerHTML;"/>
    <add key="readCIANArea" value="return document.getElementById('description').getElementsByTagName('div')[1].firstChild.firstChild.innerHTML;"/>
    <add key="checkCIANError" value="return document.contains(document.querySelector(&quot;section.container-404&quot;));"/>
    <add key="checkCIAN505Page" value="return document.contains(document.querySelector('main header h1'));"/>
    <add key="CIANPrVar" value="price"/>
    <add key="CIANLowPrVar" value="lowPrice"/>
    <add key="CIANHighPricePrVar" value="highPrice"/>

    <add key="CIANHCCScript" value="window.{0}=[];"/>
    <add key="CIANHCFScript" value="for(let row of document.querySelector('div[data-name=&quot;PriceHistory&quot;] table').rows) window.{0}.push(row.children[0].innerHTML + &quot;{1}&quot; + row.children[1].innerHTML);"/>
    <add key="CIANHCRScript" value="return window.{0}.join(&quot;{1}&quot;);"/>
    <add key="CIANArrVar" value="defArr"/>
    <add key="CIANInnerSep" value=";"/>
    <add key="CIANOuterSep" value="-"/>
    <add key="CIANAreaSpliter" value="до"/>
    
  </appSettings>

  <connectionStrings>
    <add name="Main" connectionString="Host=192.168.3.68;Port=5432;Username=cipjs_kad_ozenka;Password=cipjs_kad_ozenka;Database=cipjs_kad_ozenka;CommandTimeout=0;Keepalive=30;enlist=true;" providerName="Npgsql"/>
  </connectionStrings>
  
</configuration>