<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    
    <!--<add key="CoreConfigRootDirectory" value="d:\Work\genix\cipjs\KadOzenka\Source\KadOzenka.Web\Config" />-->
    <!--<add key="CoreConfigRootDirectory" value="C:\TFSProjects\CIPJS\KadOzenka\Source\KadOzenka.Web\Config" />-->
    <add key="CoreConfigRootDirectory" value="C:\Users\silanov\Documents\TFS\CIPJS\KadOzenka\Source\KadOzenka.Web\Config" />
    <!--<add key="CoreConfigRootDirectory" value="D:\KadOzenka\KadOzenka.Web\Config" />-->

    <add key="ScreenshotsFolder" value="C:\Users\silanov\Documents\Дженикс\Screens\"/>
    <!--<add key="ScreenshotsFolder" value="D:\SCREEN\"/>-->

    <add key="ErrorLogFile" value="C:\Users\silanov\Documents\Дженикс\ERROR_LOG\{0}.txt"/>
    <!--<add key="ErrorLogFile" value="D:\ERROR_LOG\{0}.txt"/>-->
    
    <add key="InitialXMLCoordinatesFolder" value="C:\Users\silanov\Documents\Дженикс\ЦИПЖС деление по кварталам, районам, округам\Геодезические координаты в XML\Данные\"/>
    <add key="DestinyJSONCoordinatesFolder" value="C:\Users\silanov\Documents\Дженикс\ЦИПЖС деление по кварталам, районам, округам\Геодезические координаты в XML\JSON\"/>
    <add key="DestinyPixelsCoordinatesFolder" value="C:\Users\silanov\Documents\Дженикс\ЦИПЖС деление по кварталам, районам, округам\Геодезические координаты в XML\Pixels\"/>
    <add key="ChopedImagesFolder" value="C:\Users\silanov\Documents\Дженикс\ЦИПЖС деление по кварталам, районам, округам\Геодезические координаты в XML\ChopedData\"/>
    <add key="InitialImagesFolder" value="C:\Users\silanov\Documents\Дженикс\ЦИПЖС деление по кварталам, районам, округам\Геодезические координаты в XML\ChopedData\InitialImages\"/>
    <add key="InitialAddressFile" value="C:\Users\silanov\Documents\Дженикс\TEMP\CIPJSKO-65.xlsx"/>
    <add key="GroupedAddressesFile" value="C:\Users\silanov\Documents\Дженикс\TEMP\Buffer.xls"/>
    <add key="YandexLimit" value="25000"/>
    
    <add key="InitialXMLCoordinatesFile" value="Кварталы.xml"/>
    <add key="DestinyJSONCoordinatesFile" value="quartal"/>
    <add key="DestinyJSONMINCoordinatesFile" value="quartal.min.json"/>
    
    <add key="CoreConfigDeployKey" value="Dev" />
    <add key="CoreFileLoggerName" value="C:\logs\errors.log" />
    <add key="StartLongProcessService" value="false" />
    <add key="ObjectReplicationExcelBaseFolder" value="D:\2. Рабочая папка\ЦИП ЖС - Кадастровая оценка\Пример выгрузки из старой системы\" />

    <add key="GeocodeTestSpecial" value="9e95be5d-b95b-44a3-a55e-e8ced82bc431"/>
    <add key="GeocodeTest0000" value="28fae572-9115-49bb-9952-9e22c916644e"/>
    <add key="GeocodeTest0001" value="1335e49b-d495-4eec-8a93-43119475042c"/>
    <add key="GeocodeTest0002" value="5c1b1618-9430-4aea-a20b-53a5a0fb6a7d"/>
    <add key="GeocodeTest0003" value="4d59405b-dec7-4e6f-8838-ab9a5e239444"/>
    <add key="GeocodeTest0004" value="ddc94346-cafa-45ca-9c12-91accc2b6724"/>
    <add key="GeocodeTest0005" value="8420338b-8adc-4b81-8a2e-8da68f061e06"/>
    <add key="geocodeLink" value="https://geocode-maps.yandex.ru/1.x/?apikey={0}&amp;geocode={1},{2}&amp;format=json&amp;results=1&amp;kind=house"/>
    <add key="geocodeLinkAddress" value="https://geocode-maps.yandex.ru/1.x/?apikey={0}&amp;geocode={1}&amp;format=json&amp;results=1&amp;kind=house"/>
    <add key="DefaultExceleValue" value="-"/>
    <add key="restAppDUD" value="01.09.2019 00:00:00"/>
    <add key="restAppLSUDT" value="dd.MM.yyyy HH:mm:ss"/>
    <add key="restAppLogin001" value="ii0000001@gmail.com"/>
    <add key="restAppLogin002" value="ii0000002@gmail.com"/>
    <add key="restAppToken001" value="ac61d8854cd46871ad9f64ea2777cdfb"/>
    <add key="restAppToken002" value="6c495e0bd21f369bcb96a5b9033386c0"/>
    <add key="restAppMinuteLimits" value="20"/>
    <!--<add key="restAppCIANLink" value="https://rest-app.net/api-cian/ads?login={0}&amp;token={1}&amp;category_id=0&amp;deal_id={2}&amp;region_id={3}&amp;date1={4}&amp;date2={5}"/>-->
    <add key="restAppCIANLink" value="https://rest-app.net/api-cian/ads?login={0}&amp;token={1}&amp;category_id=3&amp;deal_id={2}&amp;region_id={3}&amp;date1={4}&amp;date2={5}"/>
    <add key="restAppAvitoLink" value="https://rest-app.net/api/ads?login={0}&amp;token={1}&amp;category_id={2}&amp;region_id={3}&amp;date1={4}&amp;date2={5}"/>
    <add key="restAppMetaLink" value="https://rest-app.net/api/info?login={0}&amp;token={1}"/>
    <add key="restAppDealTypeCIAN" value="1,2"/>
    <add key="restAppRegionIDsCIAN" value="1"/>
    <add key="restAppCategoriesAvito" value="24,25,26,42"/>
    <add key="restAppRegionIDsAvito" value="637640"/>
    <add key="restAppTimeTmp" value="yyyy-MM-dd HH:mm:ss"/>
    <add key="restAppMaxValueLimit" value="50"/>

    <add key="screenShotFolder" value="MarketObjectScreenShot"/>
    <add key="removeCIANBanerScript" value="try{document.getElementById(&quot;stretch-banner&quot;).remove();}catch{}"/>
    <add key="removeCIANRightBanerScript" value="try{document.querySelector('div[data-name=&quot;AsideBanners&quot;]').remove();}catch{}"/>
    <add key="removeCIANAboutSiteScript" value="try{document.querySelector('body div div img').remove();}catch{}"/>
    <add key="removeCIANEnterSiteScript" value="try{document.querySelector('span[data-name=&quot;Text&quot;]');}catch{}"/>
    <add key="getParentElement" value="return arguments[0].parentNode;"/>
    <add key="getPageMaxWidth" value="return Math.max(window.innerWidth,document.body.scrollWidth,document.documentElement.scrollWidth);"/>
    <add key="getPageMaxHeight" value="return Math.max(window.innerHeight,document.body.scrollHeight,document.documentElement.scrollHeight);"/>
    <add key="hidePageScroll" value="document.body.style.overflow = &quot;hidden&quot;;"/>
    <add key="getWindowOuterWidth" value="return window.outerWidth;"/>
    <add key="getWindowOuterHeight" value="return window.outerHeight;"/>
    <add key="showCIANHiddenInfo" value="var showInfo = document.querySelector(&quot;div[class*='offer_card_page-main'] button[class*=button_collapsed]&quot;); if(showInfo) showInfo.click();"/>
    <add key="removeCIANBotBanerScript" value="document.getElementsByClassName(&quot;a10a3f92e9--banner-content--2cXK2&quot;)[0].remove()"/>
    <add key="readCIANPrVar" value="priceBaner"/>
    <add key="readCIANPriceBlockScript" value="window.{0} = document.querySelector(&quot;div[data-name = 'OfferCardAside']&quot;).firstChild.firstElementChild.getBoundingClientRect();"/>
    <add key="readCIANPrHCh" value="return document.contains(document.querySelector('div[data-name=&quot;PriceHistory&quot;]'));"/>
    <add key="readCIANPrDCh" value="return document.contains(document.querySelector('div[data-name=&quot;OfferTerms&quot;] span[itemprop=&quot;price&quot;]'));"/>
    <add key="readCIANPrGTR" value="return document.querySelector('div[data-name=&quot;OfferTerms&quot;] span[itemprop=&quot;{0}&quot;]').innerHTML;"/>
    <add key="readCIANAreaOld" value="return document.getElementById('description').firstChild.firstChild.firstChild.innerHTML;"/>
    <add key="readCIANArea" value="return document.getElementById('description').getElementsByTagName('div')[1].firstChild.firstChild.innerHTML;"/>
    <add key="checkCIANError" value="return document.contains(document.querySelector(&quot;h5.error-code&quot;));"/>
    <add key="checkCIAN505Page" value="return document.contains(document.querySelector('main header h1'));"/>
    <add key="checkCIANUnpublished" value="return document.contains(document.querySelector('div[data-name=&quot;OfferUnpublished&quot;]'));"/>
    <add key="isCorridor" value="return document.contains(document.querySelector('span[itemprop=&quot;highPrice&quot;]'));"/>
    <add key="getCIANCurrency" value="return document.querySelector('span[itemprop=&quot;priceCurrency&quot;]').getAttribute(&quot;content&quot;);"/>
    <add key="getCIANPrice" value="return Number.parseInt(document.querySelector('span[itemprop=&quot;price&quot;]').innerText.replace(/[^0-9]/g, ''));"/>
    <add key="getCIANLowPrice" value="return Number.parseInt(document.querySelector('span[itemprop=&quot;lowPrice&quot;]').innerText.replace(/[^0-9]/g, ''));"/>
    <add key="getCIANHighPrice" value="return Number.parseInt(document.querySelector('span[itemprop=&quot;highPrice&quot;]').innerText.replace(/[^0-9]/g, ''));"/>
    <add key="isAuction" value="return document.contains(document.querySelector(&quot;span[class*='price-container-auction']&quot;));"/>
    <add key="CIANPrVar" value="price"/>
    <add key="CIANLowPrVar" value="lowPrice"/>
    <add key="CIANHighPricePrVar" value="highPrice"/>

    <add key="CIANHCCScript" value="window.{0}=[];"/>
    <add key="CIANHCFScript" value="for(let row of document.querySelector('div[data-name=&quot;PriceHistory&quot;] table').rows) window.{0}.push(row.children[0].innerHTML + &quot;{1}&quot; + row.children[1].innerHTML);"/>
    <add key="CIANHCRScript" value="return window.{0}.join(&quot;{1}&quot;);"/>
    <add key="CIANArrVar" value="defArr"/>
    <add key="CIANInnerSep" value=";"/>
    <add key="CIANOuterSep" value="-"/>
    <add key="CIANAreaSpliter" value="до"/>

    <add key="removeYandexRightPanel" value="try{Array.from(document.getElementsByClassName(&quot;Offer__right-side&quot;)).forEach(x => x.remove());}catch{}" />
    <add key="removeYandexRelatedOffers" value="try{Array.from(document.getElementsByClassName(&quot;RelatedOffers&quot;)).forEach(x => x.remove());}catch{}" />
    <add key="removeYandexBlogPosts" value="try{Array.from(document.getElementsByClassName(&quot;BlogPostsMore&quot;)).forEach(x => x.remove());}catch{}" />
    <add key="removeYandexFotter" value="try{Array.from(document.getElementsByClassName(&quot;MegaFooter&quot;)).forEach(x => x.remove());}catch{}" />
    
    <add key="checkYandexUnpublished" value="return document.getElementsByClassName(&quot;OfferInactiveBanner&quot;).length > 0;"/>
    <add key="getYandexCurrency" value="return document.querySelector('span[class=&quot;price&quot;]').innerText.includes('₽');"/>
    <add key="getYandexPrice" value="return Number.parseInt(document.querySelector('span[class=&quot;price&quot;]').innerText.replace(/[^0-9]/g, ''));"/>
    <add key="getYandexContainsFloorsInfo" value="return Array.from(document.getElementsByClassName(&quot;ColumnsList__list-item&quot;)).filter(x => x.innerText.includes(&quot;этаж&quot;)).length > 0;"/>
    <add key="getYandexFloors" value="return Array.from(document.getElementsByClassName(&quot;ColumnsList__list-item&quot;)).filter(x => x.innerText.includes(&quot;этаж&quot;))[0].innerText.split(&quot;\n&quot;).map(function(x){return x.match(/\d+/g).join(&quot;&quot;)}).join(&quot;,&quot;);"/>
    <add key="getYandexDistrictInfo" value="return Array.from(document.getElementsByClassName(&quot;Breadcrumbs__item-name&quot;)).filter(x => x.innerText.includes(&quot;айон&quot;)).length > 0;"/>
    <add key="getYandexDistrict" value="return Array.from(document.getElementsByClassName(&quot;Breadcrumbs__item-name&quot;)).filter(x => x.innerText.includes(&quot;айон&quot;))[0].innerText.split(&quot; &quot;).filter(x => !x.includes(&quot;айон&quot;)).join(&quot; &quot;);"/>
    <add key="getYandexBuildingInfo" value="return Array.from(document.getElementsByClassName(&quot;OfferDetailsDescription__feature&quot;)).filter(x => x.innerText.includes(&quot;стоящее здание&quot;)).length > 0;"/>

    <add key="MCKa" value="6378137"/>
    <add key="MCKk" value="0.0818191908426"/>
    <add key="MCKb" value="20037508.342789"/>
    <add key="MCKc" value="53.5865938"/>
    <add key="MCKd" value="23"/>
    <add key="MCMinZoom" value="9"/>
    <add key="MCMaxZoom" value="13"/>
    <add key="MCInitHPix" value="78848"/>
    <add key="MCInitVPix" value="40704"/>
    <add key="MCLeftLat" value="36.5625"/>
    <add key="MCRightLat" value="38.67187499999999"/>
    <add key="MCTopLng" value="56.347639626746336"/>
    <add key="MCBottomLng" value="54.75350830256672"/>
    <add key="MCImgWidth" value="768"/>
    <add key="MCImgHeight" value="1024"/>
    <add key="MCDegrees" value="180"/>
    <add key="MCFillTrans" value="102"/>
    <add key="MCFillRed" value="0"/>
    <add key="MCFillGreen" value="255"/>
    <add key="MCFillBlue" value="0"/>
    <add key="MCConturTrans" value="229"/>
    <add key="MCConturRed" value="254"/>
    <add key="MCConturGreen" value="22"/>
    <add key="MCConturBlue" value="22"/>
    <add key="MCConturWidth" value="3"/>
    <add key="MCHorizontalStartTile" value="308"/>
    <add key="MCVerticalStartTile" value="159"/>
    <add key="MCTileSize" value="256"/>

    <add key="SQL_connection_OKS_2018" value="server=x1carbon; user id=sa; password=dellvostro1015; database=2018_BDGKO4; connection timeout=30"/>
    <add key="SQL_connection_Parcel_2018" value="server=x1carbon; user id=sa; password=dellvostro1015; database=2018_BDGKO5; connection timeout=30"/>
    <add key="SQL_connection_OKS_Building_2018" value="server=x1carbon; user id=sa; password=dellvostro1015; database=2018_BDGKO_BUILDING4; connection timeout=30"/>
    <add key="SQL_connection_OKS_Uncomp_2018" value="server=x1carbon; user id=sa; password=dellvostro1015; database=2018_BDGKO_UNCOMPLETED4; connection timeout=30"/>
    <add key="SQL_connection_OKS_Flat_2018" value="server=x1carbon; user id=sa; password=dellvostro1015; database=2018_BDGKO_FLAT4; connection timeout=30"/>
    <add key="SQL_connection_OKS_Constr_2018" value="server=x1carbon; user id=sa; password=dellvostro1015; database=2018_BDGKO_CONSTRUCTION4; connection timeout=30"/>
    <add key="SQL_connection_Parcel_Parcel_2018" value="server=x1carbon; user id=sa; password=dellvostro1015; database=2018_BDGKO_PARCEL5; connection timeout=30"/>

    <add key="SQL_connection_OKS_2016" value="server=x1carbon; user id=sa; password=dellvostro1015; database=2016_BDGKO4; connection timeout=30"/>
    <add key="SQL_connection_Parcel_2016" value="server=x1carbon; user id=sa; password=dellvostro1015; database=2016_BDGKO5; connection timeout=30"/>
    <add key="SQL_connection_OKS_Building_2016" value="server=x1carbon; user id=sa; password=dellvostro1015; database=2016_BDGKO_BUILDING4; connection timeout=30"/>
    <add key="SQL_connection_OKS_Uncomp_2016" value="server=x1carbon; user id=sa; password=dellvostro1015; database=2016_BDGKO_UNCOMPLETED4; connection timeout=30"/>
    <add key="SQL_connection_OKS_Flat_2016" value="server=x1carbon; user id=sa; password=dellvostro1015; database=2016_BDGKO_FLAT4; connection timeout=30"/>
    <add key="SQL_connection_OKS_Constr_2016" value="server=x1carbon; user id=sa; password=dellvostro1015; database=2016_BDGKO_CONSTRUCTION4; connection timeout=30"/>
    <add key="SQL_connection_Parcel_Parcel_2016" value="server=x1carbon; user id=sa; password=dellvostro1015; database=2016_BDGKO_PARCEL5; connection timeout=30"/>

    <add key="XML_Path_2016" value="C:\WORK\Перечень 2018\2.1 Перечень объектов оценки_2016\Исходный перечень ОКС (xml)"/>
    <add key="Schema_Path_2016" value="C:\WORK"/>
    <add key="XML_Path_2018" value="C:\WORK\Перечень 2018\2.1 Перечень объектов оценки_2016\Исходный перечень ОКС (xml)"/>
    <add key="Schema_Path_2018" value="C:\WORK"/>

    <add key="SQL_connection_SUD" value="server=x1carbon; user id=sa; password=dellvostro1015; database=SUD; connection timeout=30"/>

    <add key="GoogleAdresView" value="Москва г"/>
    <add key="GoogleAdresCode" value="7700000000000#45000000000#Москва%г#%#%###%#%#%#%#%#%###"/>
    <add key="GoogleAdresKLADR" value="7700000000000"/>
    <add key="currentGroupID" value="0"/>
    <add key="ucAppDate" value="01.01.2016"/>
    <add key="ucDocDate" value=""/>
    <add key="ucDocName" value=""/>
    <add key="ucDocNum" value=""/>
    <add key="ucRecipient" value="Департамент городского имущества города Москвы"/>
    <add key="ucSender" value="Общество с ограниченной ответственностью КО-ИНВЕСТ"/>
    <add key="ucUseDoc" value="0"/>

    <add key="getYandexUrlList" value="return Array.from(document.querySelectorAll('ol[class*=&quot;list&quot;] li[class*=&quot;list-item_type_offer&quot;] a[class*=&quot;__left&quot;]'), x => x.href);"/>
    <add key="getYandexPagerNextButton" value="return Array.from(document.querySelectorAll('label[class*=&quot;Pager&quot;] button')).find(x => x.outerText == 'Следующая');"/>
    <!--<add key="closeYandexSubscriptionFrame" value="var subscriptionCloseButtons = document.getElementsByClassName('subscription-wizard__close-button'); if(subscriptionCloseButtons.length > 0) {subscriptionCloseButtons[0].click();}"/>-->
    <add key="closeYandexSubscriptionFrame" value="var popupCollection = document.getElementsByClassName('popup__under'); if(popupCollection.length > 0) {popupCollection[0].click();}"/>
    <add key="YandexGetInitialStateJsPath" value="Resources\YandexGetInitialState.js"/>
    <add key="isYandexCapchaScreen" value="return document.getElementsByClassName('captcha-wrapper').length > 0"/>
  </appSettings>

  <connectionStrings>
    <add name="Main" connectionString="Host=192.168.3.68;Port=5432;Username=cipjs_kad_ozenka;Password=cipjs_kad_ozenka;Database=cipjs_kad_ozenka;CommandTimeout=0;Keepalive=30;enlist=true;" providerName="Npgsql"/>
  </connectionStrings>
  
</configuration>