@model long

<div style="height: auto">
    <div class="form-horizontal col-sm-12">
        <div class="form-group"></div>
        <div class="ajax-data-loading" data-request-type="GET" data-url="@Url.Content("~/RegistersView/DeclarationsUved")"
             data-param-DeclarationObjectId="@Model" data-param-Pageable="false" data-param-Scrollable="true"
             data-param-partialview="true" data-loader="true" data-onsuccess="resizeGrid506"></div>
        <div class="form-group"></div>
    </div>
</div>
