@model KadOzenka.Web.Models.Tour.TourModel

<div class="container" style="padding-top: 2%;">
    <div class="row">
        <b>Настройка тура</b>
    </div>
    <div class="form-horizontal row" style="padding-top: 5%;">
        @Html.HiddenFor(x => x.Id, new {id = "updateTourInputId" })
        <div class="form-group">
            <div class="col-sm-2">
                @Html.CustomLabelFor(x => x.Year)
            </div>
            <div class="col-sm-4 col-sm-offset-1">
                @Html.KendoNumericTextBoxFor(x => x.Year, id: "updateTourInputYear", isReadonly: false)
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-2 col-sm-offset-4">
            <button class="btn btn-default" style="margin-top: 10px;" id="updateTourBtn">Сохранить</button>
        </div>
    </div>
</div>

<script>
    $(document).ready(function () {

        $("#updateTourBtn").click(function() {
            kendo.ui.progress($('body'), true);
            var data = {
                id: $('#updateTourInputId').val(),
                year: $('#updateTourInputYear').val()
            };
            $.ajax({
                type: 'POST',
                url: '@Url.Action("TourEstimates", "Tour")',
                data: data,
                success: function (response) {
                    Common.ShowMessage(response.Success);
                    //метод из TourCard
                    ReloadTourCartTab();
                },
                error: function (response) {
                    Common.ShowError(response.responseText);
                },
                complete: function() {
                    kendo.ui.progress($('body'), false);
                }
            });
        });

    });

</script>

