@model KadOzenka.Web.Models.ObjectsCharacteristics.CharacteristicModel

@using (Html.BeginForm("DeleteCharacteristic", "ObjectsCharacteristics", FormMethod.Post))
{
@Html.HiddenFor(m => m.Id)
<div class="form-horizontal col-sm-12">
    <div class="form-group"></div>
    <div class="form-group">
        <div class="col-sm-12">
            @Html.CustomLabel($"Вы уверены что хотите удалить Характеристику '{Model.Name}'?")
        </div>
    </div>
    <div class="form-group"></div>
    <div class="form-group"></div>
    <div class="form-group"></div>
    <div class="form-group">
        <div class="col-sm-12">
            <button class="k-button k-button-icontext" style="float: right" id="delete" type="button">
                <span class="k-icon k-i-check"></span>Удалить
            </button>
        </div>
    </div>
</div>
}

<script>
    $(document).ready(function () {
        $('#delete').on('click',
            function () {
                var btn = this;
                kendo.ui.progress($('body'), true);
                var form = $('form');
                var formObject = Common.Functions.FormToObject(form);

                console.log(formObject);

                $.post(form.attr('action'), formObject).done(function (response) {
                    kendo.ui.progress($('body'), false);
                    Common.ShowMessage("Характеристика успешно удалена");
                    $(btn).attr('disabled', true);
                }).fail(function (response, textStatus, errorThrown) {
                    kendo.ui.progress($('body'), false);
                    Common.ShowError(response.responseText);
                });
            });
    });
</script>
