<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <!--<add key="PlatformNetCore" value="\\192.168.3.151\версии систем\PlatformNetCore" />
    <add key="PlatformFinanceNetCore" value="\\192.168.3.151\версии систем\PlatformFinanceNetCore" />
    <add key="FastReport" value="\\192.168.3.151\версии систем\FastReport" />-->
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" protocolVersion="3" />
	  <add key="genix" value="http://nuget.genix.pro/nuget/" />
    <add key="PlatformNetCore" value="\\192.168.3.67\NuGetStorages\PlatformNetCore" />
    <add key="FastReport" value="\\192.168.3.67\NuGetStorages\FastReport" />
	  <add key="PlatformFinanceNetCore" value="\\192.168.3.67\NuGetStorages\PlatformFinanceNetCore" />
  </packageSources>
</configuration>