.login-row, .password-row {
    display: block;
}
.login-form-wrap {
max-width: 350px;
margin: auto;
position: relative;
top: 30%;
  padding: 100px 20px 20px;
  background-color: rgb(67 84 84 / 30%);
border-radius: 15px;
}
.login-form-component {
    height: 100%;
  background: url("../../assets/region_logo_3_cut.jpg");
}
.additional-link{
  margin: 10px auto;
  text-align: right;
}
mat-label{
    color: white !important;
}
input{
    color: white;
    caret-color: white;
}
a{
  text-decoration: none;
  color: rgb(42, 125, 219);
}
