@using CIPJS.DAL.Invoice;
@using Core.Shared.Extensions;

@model List<InvoiceDto>

@if (Model != null && Model.Count > 0)
{
    <div class="row" style="margin-bottom: 0;">
        <div class="col-xs-12 label-value" style="text-align: center;">
            <div class="col-xs-12 label-value">
                @Html.Label("InvoiceSummaries", "Выплаты", new { style = "font-size: 14px;" })
            </div>
        </div>
    </div>
    @foreach (InvoiceDto invoice in Model)
    {
        <div class="row" style="margin-bottom: 0;">
            <div class="col-xs-12 label-value">
                <div class="col-xs-6 label-value" style="display: inline-block;">
                    @Html.Label($"InvoiceSvidPolycNum-{invoice.InvoiceId}", invoice.SvidPolycNum.IsNotEmpty() ? invoice.SvidPolycNum : string.Empty, new { style = "font-weight: normal;" })
                </div>
                <div class="col-xs-6 label-value" style="text-align: right;">
                    @Html.Label($"InvoiceSumOpl-{invoice.InvoiceId}", invoice.SumOpl.HasValue ? invoice.SumOpl.Value.ToString("N2") : "0,00", new { style = "font-size: 14px;" })
                </div>
            </div>
        </div>
    }
}