
<div class="form-horizontal col-sm-12" style="margin-top: 10px; padding: 2%">
    <div class="form-group">
        <div id="grid"></div>
    </div>
    <div class="form-group">
        <div class="col-sm-1 col-sm-offset-10" style="padding: 1%;">
            @(Html.Kendo().Button()
                .Name("execute")
                .Content("Расчет")
                .Events(x => x.Click("save"))
                .HtmlAttributes(new {type = "button"}))
        </div>
    </div>
</div>


<style>
    .k-grid tbody tr {
        cursor: move;
    }
</style>


<script type="text/javascript">
    $(document).ready(function() {
        fillGrid();
    });


    function fillGrid() {
        var dataSource = new kendo.data.DataSource({
            transport: {
                read: {
                    url: '@Url.Action("GetCalculationOrderSettings", "Task")',
                    data: { tourId: 2018, isParcel: true },
                    contentType: 'application/json; charset=utf-8',
                    dataType: 'json'
                }
            },
            schema: {
                model: {
                    fields: {
                        Id: {editable: false, nullable: true},
                        GroupName: { type: "string", editable: false },
                        Priority: { type: "number", editable: false },
                        Stage1: { type: "boolean", editable: true },
                        Stage2: { type: "boolean", editable: true },
                        Stage3: { type: "boolean", editable: true }
                    }
                }
            },
            pageSize: 15
        });
        $("#grid").kendoGrid({
            dataSource: dataSource,
            pageable: true,
            columns: [
                {
                    title: "Группа",
                    field: "GroupName"
                },
                {
                    title: "Предварительный расчет",
                    field: "Stage1",
                    template: '<input type="checkbox" #= Stage1 ? \'checked="checked"\' : "" # class="chkbx" />',
                    width: "10%"
                },
                {
                    title: "Расчет поправок/коэффициентов",
                    field: "Stage2",
                    template: '<input type="checkbox" #= Stage2 ? \'checked="checked"\' : "" # class="chkbx" />',
                    width: "10%"
                },
                {
                    title: "Окончательный расчет",
                    field: "Stage3",
                    template: '<input type="checkbox" #= Stage3 ? \'checked="checked"\' : "" # class="chkbx" />',
                    width: "10%"
                }
            ]
        });
        makeGridDraggable();
    }


    function makeGridDraggable() {
        var grid = $("#grid").data("kendoGrid");
        grid.table.kendoSortable({
            filter: ">tbody >tr",
            hint: function (element) {
                var table = grid.table.clone(),
                    wrapperWidth = grid.wrapper.width(),
                    wrapper = $("<div class='k-grid k-widget'></div>").width(wrapperWidth);
                table.find("thead").remove(); // Remove the Grid header from the hint.
                table.find("tbody").empty(); // Remove the existing rows from the hint.
                table.wrap(wrapper); //wrap the table
                table.append(element.clone()); // Append the dragged element.
                table.css("opacity", 0.7);
                return table.parent(); // Get the wrapper.
            },
            change: function(e) {
                var skip = grid.dataSource.skip(),
                    oldIndex = e.oldIndex + skip,
                    newIndex = e.newIndex + skip,
                    data = grid.dataSource.data(),
                    dataItem = grid.dataSource.getByUid(e.item.data("uid"));
                grid.dataSource.remove(dataItem);
                grid.dataSource.insert(newIndex, dataItem);
            }
        });
    }


    function save() {
        var models = $("#grid").data("kendoGrid").dataSource.data();
        kendo.ui.progress($('body'), true);
        $.ajax({
            type: 'POST',
            url: '@Url.Action("ChangeCalculationSettingsPriority", "Task")',
            data: { models: JSON.stringify({ models }) },
            success: function (response) {
                Common.ShowMessage(response.Message);
            },
            error: function(response) {
                Common.ShowError(response.responseText);
            },
            complete: function() {
                kendo.ui.progress($('body'), false);
            }
        });
    }


</script>