@using System.Collections
@using KadOzenka.Web.Helpers
@model KadOzenka.Web.Models.Task.PartialExportAttributesRowModel;

@if ((bool)ViewData["CreateAttributes"])
{
    <td>
		@Html.KendoDropDownListTreeWithButton(m => m.IdAttributeGbu, (IEnumerable<DropDownTreeItemModel>)ViewData["TreeAttributes"], idSuffix: "_" + (string)ViewData["RowNumber"])
	</td>
}
else
{
    <td>
        @Html.KendoDropDownListWithAutocompleteFor(m => m.IdAttributeKO, (IEnumerable)ViewData["KoAttributes"], idPrefix: "_" + (string)ViewData["RowNumber"])
    </td>
    <td>
        @Html.KendoDropDownListTreeWithButton(m => m.IdAttributeGbu, (IEnumerable<DropDownTreeItemModel>)ViewData["TreeAttributes"], idSuffix: "_" + (string)ViewData["RowNumber"])
    </td>
}