
<div class="flex-content">
    <div class="k-content wide flex-list-view">
        <div id="listView"></div>
    </div>
    <div class="flex-list-buttons">
        <button class="btn btn-default add-tour">
            Добавить
        </button>
        <button class="btn btn-default edit-tour" style="display: block">
            Изменить
        </button>
        <button class="btn btn-default remove-tour" style="display: block">
            Удалить
        </button>
    </div>
</div>

<div id="myDialog" style="display: none;">
	<div class="form-group" style="padding: 5px">
		<label for="addInput"> Наименование </label>
		<input id="addInput" class="form-control add-input" required="required" type="number" name="addTour" />
		<Button class="btn btn-default" style="margin-top: 10px;" id="saveTour"> Сохранить </Button>
	</div>
</div>

<script type="text/x-kendo-template" id="template">
        <div class="tour">
            <p data-id="#:Id#" class="item">#:Text#</p>
        </div>
    </script>
<script type="text/x-kendo-tmpl" id="editTemplate">
	<div>
		<label>
			<span>Наименование</span>
			<input class="form-control edit-input" data-bind="value:Text" required="required" type="number" name="tour" />
		</label>
		<input class="edit-input-id-hidden" data-bind="value:Id" style="display: none;" />
		<div>
			<a class="k-button" onclick="updateTour()" href="\\#">
				<span class="k-icon k-i-check"></span>
			</a>
			<a class="k-button k-cancel-button" onclick="cancelTour()" href="\\#">
				<span class="k-icon k-i-cancel"></span>
			</a>
		</div>
	</div>
</script>
<script type="text/javascript">

	var dial = $("#myDialog");

	if (!dial.data("kendoWindow")) {
		dial.kendoWindow({
			visible: false,
			resizable: false,
			modal: true
		}).data("kendoWindow").center();
	}

	$(function() {
		var dataSource = new kendo.data.DataSource({
			transport: {
				read: {
					url: '@Url.Action("GetTourEstimations", "Task")'
				}
			}
		});
		$("#listView").kendoListView({
			dataSource: dataSource,
			scrollable: true,
			selectable: true,
			template: kendo.template($("#template").html()),
			editTemplate: kendo.template($("#editTemplate").html())
		});
	});


	$('.edit-tour').on('click',
		function () {
			if (!!$('div.k-state-selected')) {
				var listView = $("#listView").data("kendoListView");
				listView.edit($('div.k-state-selected'));
				$(this).attr('disabled', true);
				$('.add-tour').attr('disabled', true);
				$('.remove-tour').attr('disabled', true);
			}
			
		});

	$('.add-tour').on('click',
		function () {
			var dial = $("#myDialog");
			dial.data("kendoWindow").open();
		});

	$('.remove-tour').on('click',
		function () {
			if (!!$('div.k-state-selected')) {
				$(this).attr('disabled', true);
				$('.add-tour').attr('disabled', true);
				$('.edit-tour').attr('disabled', true);
				removeTour();
			}

		});

	$('#saveTour').on('click',
		function() {
			updateTour(true/*isAdd - добавляем новый*/);
		});

	function updateTour(isAdd) {
		kendo.ui.progress($('body'), true);

		var data = !isAdd
			? {
				id: $('input.edit-input-id-hidden').val(),
				year: $('input.edit-input').val()
			} : {
				id: "",
				year: $('input.add-input').val()
			}

		console.log(data);
		$.post("@Url.Action("TourEstimates", "Task")", data).done(function (response) {
			kendo.ui.progress($('body'), false);
			if (response.Error) {
				Common.ShowError(response.Error);
				return;
			}

			if (response.Success) {
				$('.edit-tour').attr('disabled', false);
				$('.add-tour').attr('disabled', false);
				$('.remove-tour').attr('disabled', false);
				if (isAdd && response.Id) {
					var list = $("#listView").data("kendoListView");
					list.dataSource.insert(0, {
						Id: response.Id, 
						Text: $('input.add-input').val()
					});
					$('input.add-input').val("");
					$("#myDialog").data("kendoWindow").close();
				} else {
					$("#listView").data("kendoListView").save();
				}
				
				Common.ShowMessage(response.Success);
			}
		});
	}

	function removeTour() {
		kendo.ui.progress($('body'), true);

		var id = $('div.k-state-selected p').data('id');

		var url = "@Url.Action("TourEstimates", "Task")" + `?id=${id}`;

		$.ajax({
			url: url,
			type: 'DELETE',
			success: function (response) {
				kendo.ui.progress($('body'), false);
				if (response.Error) {
					Common.ShowError(response.Error);
					return;
				}
				if (response.Success) {
					$('.edit-tour').attr('disabled', false);
					$('.add-tour').attr('disabled', false);
					$('.remove-tour').attr('disabled', false);
					var listView = $("#listView").data("kendoListView");
					listView.remove($('div.k-state-selected'));
					Common.ShowMessage(response.Success);
				}
			},
			data: {id}
		});
	}

	function cancelTour() {
		$('.edit-tour').attr('disabled', false);
		$('.add-tour').attr('disabled', false);
		$('.remove-tour').attr('disabled', false);
	}
</script>

@section styles {
    <style>
        .flex-content {
            display: flex;
            height: 100%;
        }
        .flex-list-view {
            margin: 10px;
            flex-grow: 1;
            flex-shrink: 1;
            flex-basis: auto;
            align-items: stretch;
        }
        .flex-list-buttons {
            margin: 10px;
        }

        button {
            width: 10rem;
            margin-bottom: 5px !important;
        }

        .tour p:hover {
            background: #eaeef7;
        }

        .tour p {
            padding: 5px;
        }

		#listView {
			height: 100%;
			overflow: auto;
		}

        .selected {
            background: #eaeef7;
        }
    </style>
}
