@model Dictionary<long, string>

<div id="toolbar"></div>
<div style="padding: 10px;">
    @if (ViewBag.ConfirmParamCalcLinks)
    {<span>Внимание! Для удаляемых договоров присутствует связь с ранее созданными расчетами в Системе! Вы подтверждаете удаление файлов @string.Join(", ", Model.Select(x => x.Value))?</span>}
    else
    {<span>Вы выбрали опцию удалить для файлов @string.Join(", ", Model.Select(x => x.Value)). Вы уверены?</span>}
</div>

<script>
    $(document).ready(function () {
        $('#toolbar').kendoToolBar({
            items: [
                {
                    type: 'button',
                    text: 'Удалить',
                    icon: 'check',
                    click: function (e) {
                        Common.ClearNotification();
                        kendo.ui.progress($('body'), true);

                        $.ajax({
                            url: '@Url.Action("Delete", "SkPackages")',
                            type: 'POST',
                            data: '@Json.Serialize(Model)',
                            contentType: 'application/json',
                            success: function (e) {
                                kendo.ui.progress($('body'), false);
                                if (e.Errors && e.Errors.length > 0) {
                                    Common.ShowError(e.Errors.join('<br>'));
                                } else {
                                    Common.ShowMessage('Данные успешно удалены');
                                    Common.UI.CloseWindow('registerModalWindow', window.parent);
                                }
                            },
                            error: function (e) {
                                kendo.ui.progress($('body'), false);
                                Common.ShowError(e.responseText);
                            }
                        });
                    }
                }
            ]
        });
    });
</script>