<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="CoreConfigRootDirectory" value="C:\_Repos\CIPJS\Main\Source\CIPJS\Config" />
    <add key="CoreConfigDeployKey" value="Dev" />
    
    <!--Максимальное кол-во потоков для многопоточной обработки коллекций-->
    <add key="MaxDegreeOfParallelism" value="3"/>
    <add key="MfcPlatNeedIdentify" value="0"/>
    <add key="MfcUploadSetCriteria" value="1"/>
    <add key="MfcUploadSetCriteriaExtended" value="0"/>
    <add key="fsps" value="175890968"/>
    <!--CIPJS-280 Один поток - один файл-->
    <add key="MfcMaxDegreeOfParallelism" value="3"/>
    
    
  </appSettings>
  
  <connectionStrings>
    <add name="Realty" connectionString="Host=192.168.3.64;Port=5432;Username=cipjs_main;Password=cipjs_main;Database=cipjs_main;CommandTimeout=0;Keepalive=30;enlist=true" providerName="Npgsql"/>
    <!--<add name="Realty" connectionString="Host=localhost;Port=28960;Username=cipjs_main;Password=cipjs_main;Database=cipjs_main;CommandTimeout=0;Keepalive=30;enlist=true" providerName="Npgsql"/>-->
    <add name="SomeDB" connectionString="user id=izk_rsm_main;password=izk_rsm_main;data source=(DESCRIPTION=(ADDRESS=(PROTOCOL=TCP)(HOST=192.168.3.222)(PORT=1521))(CONNECT_DATA=(SERVICE_NAME=vostok)));enlist=true" providerName="Oracle.DataAccess.Client"/>
    <add name="RSM" connectionString="user id=izk_rsm_main;password=izk_rsm_main;data source=(DESCRIPTION=(ADDRESS=(PROTOCOL=TCP)(HOST=192.168.3.222)(PORT=1521))(CONNECT_DATA=(SERVICE_NAME=vostok)));enlist=true" providerName="Oracle.DataAccess.Client"/>
  </connectionStrings>
  
</configuration>