@model KadOzenka.Web.Models.Declarations.DeclarationModel

@using (Html.BeginForm("EditDeclaration", "Declarations", FormMethod.Post))
{
    @Html.HiddenFor(m => m.Id)
    <ul id="ls_panelbar" class="panelbar">
        <li id="Section_Making_Declaration" data-expand>
            <span>Подача декларации</span>
            <div>
                <div class="form-horizontal col-sm-12">
                    <div class="form-group"></div>
                    <div class="form-group">
                        <div class="col-sm-2">
                            @Html.CustomLabelFor(m => m.OwnerType)
                        </div>
                        <div class="col-sm-4">
                            @Html.KendoEnumDropDownListFor(m => m.OwnerType, isReadonly: false)
                        </div>
                    </div>
                </div>
            </div>
        </li>
        <li id="Section_Process_Declaration" data-expand>
            <span>Обработка декларации</span>
            <div>
                <div class="form-horizontal col-sm-12">
                    <div class="form-group"></div>
                </div>
            </div>
        </li>
    </ul>
    <div class="static-nav">
        <nav id="navigation-menu">
            <a href="#Section_Making_Declaration">Подача декларации</a>
            <a href="#Section_Process_Declaration">Обработка декларации</a>
        </nav>
    </div>
}

@section styles {
    <link rel="stylesheet" href="~/css/jquery.fancybox.min.css" />
    <style>
    </style>
}

@section scripts {
    <script type="text/javascript">
        $(document).ready(function() {
            const panelbar = $('#ls_panelbar').kendoPanelBar().data('kendoPanelBar');
            panelbar.expand('li[data-expand]');

            $("#navigation-menu a").mPageScroll2id({
                highlightSelector: "#navigation-menu a"
            });
        });
    </script>
}

