<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  
  
  <connectionStrings>
    <add name="Realty" connectionString="Host=192.168.3.64;Port=5432;Username=cipjs_main;Password=cipjs_main;Database=cipjs_main;CommandTimeout=0;Keepalive=30;Enlist=true" providerName="Npgsql"/>
    <add name="Dgi" connectionString="user id=izk_rsm_main;password=izk_rsm_main;data source=(DESCRIPTION=(ADDRESS=(PROTOCOL=TCP)(HOST=192.168.3.222)(PORT=1521))(CONNECT_DATA=(SERVICE_NAME=vostok)));enlist=true" providerName="Oracle.DataAccess.Client"/>
  </connectionStrings>

  <appSettings>
    
    <add key="CoreConfigRootDirectory" value="C:\_Repos\CIPJS\Main\Source\CIPJS\Config" />
    <add key="CoreConfigDeployKey" value="Dev" />

    <add key="LoadType" value="EgasImportLoad" />

    <add key="InsurBuildingId" value="28628189" />
    
    <add key="FiasBuildingId" value="-1"/>
    <add key="BtiBuildingId" value="-1"/>
    <add key="CheckLink" value="true"/>
    
  </appSettings>

  
</configuration>